{"openapi":"3.1.0","servers":[{"url":"https://academy.evedex.com"}],"info":{"title":"EVEDEX - Academy","version":"1.0.0"},"paths":{"/api/ping":{"get":{"tags":["System"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PingResponse"}}}}}}},"/api/user/me":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/user/account":{"post":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/tag":{"get":{"tags":["Tag"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"courseCount":{"type":"number","default":0}},"required":["id","name","courseCount"]}}}}}}}},"/api/course/{courseId}/tag/detach":{"post":{"tags":["Course"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tagNames":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["tagNames"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/course/{courseId}/tag":{"post":{"tags":["Course"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tagNames":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["tagNames"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/course/{courseId}/lesson/{lessonId}/material/{materialId}/subtitle/{subtitleId}":{"put":{"tags":["Subtitle"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"materialId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"subtitleId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"languageCode":{"type":"string","minLength":2,"maxLength":2},"url":{"type":"string","format":"uri"}},"required":["languageCode","url"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"languageCode":{"type":"string"},"label":{"type":"string"},"url":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","languageCode","label","url","createdAt","updatedAt"]}}}}}},"delete":{"tags":["Subtitle"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"materialId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"subtitleId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/course/{courseId}/lesson/{lessonId}/material/{materialId}/subtitle":{"post":{"tags":["Subtitle"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"materialId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"languageCode":{"type":"string","minLength":2,"maxLength":2},"url":{"type":"string","format":"uri"}},"required":["languageCode","url"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"languageCode":{"type":"string"},"label":{"type":"string"},"url":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","languageCode","label","url","createdAt","updatedAt"]}}}}}}},"/api/simulator/results/share":{"post":{"tags":["Simulator"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradingBadgeShareBodyParams"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradingBadgeShareResponse"}}}}}}},"/api/simulator/{pageId}/share/{code}":{"get":{"tags":["Simulator"],"security":[],"parameters":[{"in":"path","name":"pageId","schema":{"type":"string"},"required":true},{"in":"path","name":"code","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadgeByIdResponse"}}}}}}},"/api/course/{courseId}/lesson/{lessonId}/question/{questionId}":{"put":{"tags":["Question"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true},{"in":"path","name":"questionId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionObject"}}}}}},"delete":{"tags":["Question"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true},{"in":"path","name":"questionId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/course/{courseId}/lesson/{lessonId}/question":{"get":{"tags":["Question"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QuestionObject"}}}}}}},"post":{"tags":["Question"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionObject"}}}}}}},"/api/course/{courseId}/module/{moduleId}":{"put":{"tags":["Module"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"moduleId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModuleUpdateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModuleObject"}}}}}},"delete":{"tags":["Module"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"moduleId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/course/{courseId}/module":{"post":{"tags":["Module"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModuleCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModuleObject"}}}}}}},"/api/course/{courseId}/lesson/{lessonId}/material/{materialId}":{"put":{"tags":["Material"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"materialId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaterialUpdateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaterialObject"}}}}}},"delete":{"tags":["Material"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"materialId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/course/{courseId}/lesson/{lessonId}/material":{"get":{"tags":["Material"],"security":[],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MaterialObject"}}}}}}},"post":{"tags":["Material"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaterialCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaterialObject"}}}}}}},"/api/course/{courseId}/lesson/{lessonId}":{"put":{"tags":["Lesson"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonUpdateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonObject"}}}}}},"get":{"tags":["Lesson"],"security":[],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonObject"}}}}}},"delete":{"tags":["Lesson"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/course/{courseId}/lesson":{"get":{"tags":["Lesson"],"security":[],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonObjectExtendedList"}}}}}},"post":{"tags":["Lesson"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LessonObject"}}}}}}},"/api/course/{courseId}/lesson/{lessonId}/homework":{"get":{"tags":["Homework"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true},{"in":"query","name":"student","schema":{"type":"string"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"status","schema":{"type":"string","enum":["waitingForCheck","passed","failed"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HomeworkListResponse"}}}}}},"post":{"tags":["Homework"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HomeworkCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HomeworkObject"}}}}}}},"/api/course/{courseId}/lesson/{lessonId}/homework/{homeworkId}":{"put":{"tags":["Homework"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true},{"in":"path","name":"homeworkId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HomeworkCheckBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HomeworkObject"}}}}}},"get":{"tags":["Homework"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true},{"in":"path","name":"homeworkId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HomeworkObject"}}}}}}},"/api/file":{"post":{"tags":["File"],"security":[{"AccessToken":[]}],"requestBody":{"description":"Upload file","content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadArrayResponse"}}}}}}},"/api/file/generate-upload-link":{"post":{"tags":["File"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadUrlGeneratorRequest"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadUrlGeneratorResponse"}}}}}}},"/api/file/{fileId}":{"delete":{"tags":["File"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"fileId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/file/approve":{"post":{"tags":["File"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"ext":{"type":"string"},"name":{"type":"string"}},"required":["id","ext","name"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadResponse"}}}}}}},"/api/course/{courseId}/opengraph/{opengraphId}":{"put":{"tags":["Course"],"description":"Update an existing course OpenGraph record by its ID","security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"opengraphId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"locale":{"type":"string","enum":["en-US","ru-RU","ar-AE","zh-HK","de-DE","es-ES","pt-PT","tr-TR"]},"tag":{"type":"string","minLength":1},"value":{"type":"string","default":""}},"required":["locale","tag"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"course":{"type":"string"},"locale":{"type":"string","enum":["en-US","ru-RU","ar-AE","zh-HK","de-DE","es-ES","pt-PT","tr-TR"]},"tag":{"type":"string"},"value":{"type":"string"}},"required":["id","course","locale","tag","value"]}}}}}},"delete":{"tags":["Course"],"description":"Delete a course OpenGraph record by its ID","security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"opengraphId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/course/{courseId}/opengraph":{"post":{"tags":["Course"],"description":"Create a new course OpenGraph record","security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"locale":{"type":"string","enum":["en-US","ru-RU","ar-AE","zh-HK","de-DE","es-ES","pt-PT","tr-TR"]},"tag":{"type":"string","minLength":1},"value":{"type":"string","default":""}},"required":["locale","tag"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"course":{"type":"string"},"locale":{"type":"string","enum":["en-US","ru-RU","ar-AE","zh-HK","de-DE","es-ES","pt-PT","tr-TR"]},"tag":{"type":"string"},"value":{"type":"string"}},"required":["id","course","locale","tag","value"]}}}}}}},"/api/course/{courseId}/curator":{"get":{"tags":["CuratorCourse"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseCuratorObjectList"}}}}}},"post":{"tags":["CuratorCourse"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCourseCurator"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseCuratorObject"}}}}}}},"/api/course/{courseId}/curator/{curatorId}":{"delete":{"tags":["CuratorCourse"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"curatorId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/course/{courseId}/translation-group":{"put":{"tags":["Course"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseTranslationLinkBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseTranslationLinkResponse"}}}}}}},"/api/course/{courseId}":{"put":{"tags":["Course"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseUpdateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseObject"}}}}}},"get":{"tags":["Course"],"security":[],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"query","name":"locale","schema":{"type":"string","enum":["en-US","ru-RU","ar-AE","zh-HK","de-DE","es-ES","pt-PT","tr-TR"],"default":"en-US"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseObject"}}}}}},"delete":{"tags":["Course"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/course/{courseId}/progress-reset":{"post":{"tags":["Course"],"description":"Сбрасывает для текущего пользователя все уроки курса с `LessonCompleted` → `NotStarted`","security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/course/{courseId}/participants":{"get":{"tags":["Course"],"security":[],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"userId":{"type":"string"},"userAvatar":{"type":["string","null"]},"joinedAt":{"type":"string"}},"required":["userId","userAvatar","joinedAt"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/course":{"get":{"tags":["Course"],"security":[],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"popular","schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"locale","schema":{"type":"string","enum":["en-US","ru-RU","ar-AE","zh-HK","de-DE","es-ES","pt-PT","tr-TR"]}},{"in":"query","name":"my","schema":{"type":"string","enum":["yes","no"]}},{"in":"query","name":"tags","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseList"}}}}}},"post":{"tags":["Course"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CourseObject"}}}}}}},"/api/course/blocks":{"get":{"tags":["Course"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/courseBlocksResponse"}}}}}}},"/api/course/{courseId}/lesson/{lessonId}/comment/{commentId}":{"put":{"tags":["Comment"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"commentId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentUpdateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentObject"}}}}}},"delete":{"tags":["Comment"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"commentId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/course/{courseId}/lesson/{lessonId}/comment":{"get":{"tags":["Comment"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true},{"in":"query","name":"homework","schema":{"type":"string"}},{"in":"query","name":"author","schema":{"type":"string"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentListResponse"}}}}}},"post":{"tags":["Comment"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"courseId","schema":{"type":"string"},"required":true},{"in":"path","name":"lessonId","schema":{"type":"string"},"required":true},{"in":"query","name":"student","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentObject"}}}}}}}},"components":{"securitySchemes":{"AccessToken":{"type":"http","scheme":"bearer"},"InternalKey":{"type":"http","scheme":"bearer"}},"schemas":{"PingResponse":{"type":"object","properties":{"time":{"type":"number","description":"Current timestamp"}},"required":["time"],"description":"Ping response"},"User":{"type":"object","properties":{"authId":{"type":"string","format":"uuid"},"wallet":{"type":"string"},"avatar":{"type":"string","format":"uri"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["authId","wallet","avatar","createdAt","updatedAt"]},"EmptyResponse":{"type":"object"},"TradingBadgeShareBodyParams":{"type":"object","properties":{"mode":{"type":"string","enum":["narrow","wide"]},"pair":{"type":"string"},"title":{"type":"string"},"value":{"type":"string"},"side":{"type":"string","enum":["long","short"]},"leverage":{"type":"string"},"isWinning":{"type":"boolean","default":true},"referralCode":{"type":"string"}},"required":["mode","pair","title","value"]},"TradingBadgeShareResponse":{"type":"object","properties":{"badgeUrl":{"type":"string"},"code":{"type":"string"},"pageId":{"type":"string"}},"required":["badgeUrl","code","pageId"]},"BadgeByIdResponse":{"type":"object","properties":{"badgeUrl":{"type":"string"}},"required":["badgeUrl"]},"QuestionCreateBody":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"text"},"question":{"type":"string"},"content":{"type":"object","additionalProperties":false},"order":{"type":"number"},"correctAnswer":{"type":"string"}},"required":["type","question","content"]},{"type":"object","properties":{"type":{"type":"string","const":"file"},"question":{"type":"string"},"content":{"type":"object","properties":{"multiple":{"type":"number"}},"required":["multiple"]},"order":{"type":"number"},"correctAnswer":{"type":"string"}},"required":["type","question","content"]},{"type":"object","properties":{"type":{"type":"string","const":"radio"},"question":{"type":"string"},"content":{"type":"object","properties":{"answers":{"type":"array","items":{"type":"string"}}},"required":["answers"]},"order":{"type":"number"},"correctAnswer":{"type":"string"}},"required":["type","question","content"]}]},"QuestionObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"lesson":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["text","file","radio"]},"question":{"type":"string"},"content":{"anyOf":[{"type":"object","additionalProperties":false},{"type":"object","properties":{"multiple":{"type":"number"}},"required":["multiple"]},{"type":"object","properties":{"answers":{"type":"array","items":{"type":"string"}}},"required":["answers"]}]},"order":{"type":"number"},"correctAnswer":{"type":"string","default":""},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","lesson","type","question","content","order","correctAnswer","createdAt","updatedAt"]},"ModuleUpdateBody":{"type":"object","properties":{"name":{"type":"string"},"order":{"type":"number"},"published":{"type":"boolean"},"releaseDate":{"type":"string","format":"date-time"}}},"ModuleObject":{"type":"object","properties":{"id":{"type":"string"},"course":{"type":"string"},"name":{"type":"string"},"order":{"type":"number"},"published":{"type":"boolean"},"releaseDate":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","course","name","order","published","releaseDate","createdAt","updatedAt"]},"ModuleCreateBody":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"MaterialUpdateBody":{"oneOf":[{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"text"},"content":{"type":"object","properties":{"type":{"type":"string","const":"text"},"markdown":{"type":"string"}},"required":["type","markdown"]},"order":{"type":"number"}},"required":["type","content"]},{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"embedded-video"},"content":{"type":"object","properties":{"type":{"type":"string","const":"embedded-video"},"source":{"type":"string","enum":["vimeo","youtube","other"]},"url":{"type":"string","format":"uri"},"preview":{"type":"object","properties":{"mime":{"type":"string","enum":["image/jpeg","image/png","image/webp","image/avif","image/svg+xml"]},"url":{"type":"string","format":"uri"}},"required":["mime","url"]}},"required":["type","source","url"]},"order":{"type":"number"}},"required":["type","content"]},{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"video"},"content":{"type":"object","properties":{"type":{"type":"string","const":"video"},"mime":{"type":"string","enum":["video/webm","video/mp4","video/ogg"]},"url":{"type":"string","format":"uri"},"preview":{"type":"object","properties":{"mime":{"type":"string","enum":["image/jpeg","image/png","image/webp","image/avif","image/svg+xml"]},"url":{"type":"string","format":"uri"}},"required":["mime","url"]}},"required":["type","mime","url"]},"order":{"type":"number"}},"required":["type","content"]},{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"file"},"content":{"type":"object","properties":{"type":{"type":"string","const":"file"},"files":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"mime":{"type":"string"},"url":{"type":"string","format":"uri"},"size":{"type":"number"}},"required":["url","size"]}}},"required":["type","files"]},"order":{"type":"number"}},"required":["type","content"]},{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"image"},"content":{"type":"object","properties":{"type":{"type":"string","const":"image"},"title":{"type":"string"},"url":{"type":"string","format":"uri"}},"required":["type","url"]},"order":{"type":"number"}},"required":["type","content"]},{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"links"},"content":{"type":"object","properties":{"type":{"type":"string","const":"links"},"links":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"label":{"type":"string"}},"required":["url"]}}},"required":["type","links"]},"order":{"type":"number"}},"required":["type","content"]},{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"banner"},"content":{"type":"object","properties":{"type":{"type":"string","const":"banner"},"title":{"type":"string"},"text":{"type":"string"},"buttonText":{"type":"string"},"backgroundImage":{"type":"string","format":"uri"},"image":{"type":"string","format":"uri"}},"required":["type","title","buttonText","backgroundImage"]},"order":{"type":"number"}},"required":["type","content"]}]},"MaterialObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"lesson":{"type":"string","format":"uuid"},"title":{"type":"string"},"type":{"type":"string","enum":["text","links","banner","embedded-video","video","file","image"]},"content":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","const":"text"},"markdown":{"type":"string"}},"required":["type","markdown"]},{"type":"object","properties":{"type":{"type":"string","const":"embedded-video"},"source":{"type":"string","enum":["vimeo","youtube","other"]},"url":{"type":"string","format":"uri"},"preview":{"type":"object","properties":{"mime":{"type":"string","enum":["image/jpeg","image/png","image/webp","image/avif","image/svg+xml"]},"url":{"type":"string","format":"uri"}},"required":["mime","url"]}},"required":["type","source","url"]},{"type":"object","properties":{"type":{"type":"string","const":"video"},"mime":{"type":"string","enum":["video/webm","video/mp4","video/ogg"]},"url":{"type":"string","format":"uri"},"preview":{"type":"object","properties":{"mime":{"type":"string","enum":["image/jpeg","image/png","image/webp","image/avif","image/svg+xml"]},"url":{"type":"string","format":"uri"}},"required":["mime","url"]}},"required":["type","mime","url"]},{"type":"object","properties":{"type":{"type":"string","const":"file"},"files":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"mime":{"type":"string"},"url":{"type":"string","format":"uri"},"size":{"type":"number"}},"required":["url","size"]}}},"required":["type","files"]},{"type":"object","properties":{"type":{"type":"string","const":"image"},"title":{"type":"string"},"url":{"type":"string","format":"uri"}},"required":["type","url"]},{"type":"object","properties":{"type":{"type":"string","const":"links"},"links":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"label":{"type":"string"}},"required":["url"]}}},"required":["type","links"]},{"type":"object","properties":{"type":{"type":"string","const":"banner"},"title":{"type":"string"},"text":{"type":"string"},"buttonText":{"type":"string"},"backgroundImage":{"type":"string","format":"uri"},"image":{"type":"string","format":"uri"}},"required":["type","title","buttonText","backgroundImage"]}]},"order":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"subtitles":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"languageCode":{"type":"string"},"label":{"type":"string"},"url":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","languageCode","label","url","createdAt","updatedAt"]}}},"required":["id","lesson","title","type","content","order","createdAt","updatedAt"]},"MaterialCreateBody":{"oneOf":[{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"text"},"content":{"type":"object","properties":{"type":{"type":"string","const":"text"},"markdown":{"type":"string"}},"required":["type","markdown"]}},"required":["type","content"]},{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"embedded-video"},"content":{"type":"object","properties":{"type":{"type":"string","const":"embedded-video"},"source":{"type":"string","enum":["vimeo","youtube","other"]},"url":{"type":"string","format":"uri"},"preview":{"type":"object","properties":{"mime":{"type":"string","enum":["image/jpeg","image/png","image/webp","image/avif","image/svg+xml"]},"url":{"type":"string","format":"uri"}},"required":["mime","url"]}},"required":["type","source","url"]}},"required":["type","content"]},{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"video"},"content":{"type":"object","properties":{"type":{"type":"string","const":"video"},"mime":{"type":"string","enum":["video/webm","video/mp4","video/ogg"]},"url":{"type":"string","format":"uri"},"preview":{"type":"object","properties":{"mime":{"type":"string","enum":["image/jpeg","image/png","image/webp","image/avif","image/svg+xml"]},"url":{"type":"string","format":"uri"}},"required":["mime","url"]}},"required":["type","mime","url"]}},"required":["type","content"]},{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"file"},"content":{"type":"object","properties":{"type":{"type":"string","const":"file"},"files":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"mime":{"type":"string"},"url":{"type":"string","format":"uri"},"size":{"type":"number"}},"required":["url","size"]}}},"required":["type","files"]}},"required":["type","content"]},{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"image"},"content":{"type":"object","properties":{"type":{"type":"string","const":"image"},"title":{"type":"string"},"url":{"type":"string","format":"uri"}},"required":["type","url"]}},"required":["type","content"]},{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"links"},"content":{"type":"object","properties":{"type":{"type":"string","const":"links"},"links":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"label":{"type":"string"}},"required":["url"]}}},"required":["type","links"]}},"required":["type","content"]},{"type":"object","properties":{"title":{"type":"string"},"type":{"type":"string","const":"banner"},"content":{"type":"object","properties":{"type":{"type":"string","const":"banner"},"title":{"type":"string"},"text":{"type":"string"},"buttonText":{"type":"string"},"backgroundImage":{"type":"string","format":"uri"},"image":{"type":"string","format":"uri"}},"required":["type","title","buttonText","backgroundImage"]}},"required":["type","content"]}]},"LessonUpdateBody":{"type":"object","properties":{"module":{"type":"string","format":"uuid"},"name":{"type":"string"},"promo":{"type":"boolean"},"duration":{"type":"number"},"order":{"type":"number"},"slug":{"type":"string"},"progressStatus":{"$ref":"#/components/schemas/LessonProgressCoreType"}}},"LessonProgressCoreType":{"type":"string","enum":["notStarted","lessonCompleted"]},"LessonObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"module":{"type":"string"},"promo":{"type":"boolean"},"name":{"type":"string"},"duration":{"type":"number"},"order":{"type":"number"},"moduleOrder":{"type":"number"},"slug":{"type":"string"},"progress":{"$ref":"#/components/schemas/LessonProgressObject"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","module","promo","name","duration","order","moduleOrder","slug","progress","createdAt","updatedAt"]},"LessonProgressObject":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/LessonProgressType"}},"required":["status"]},"LessonProgressType":{"type":"string","enum":["waitingForHomework","waitingForHomeworkCheck","lessonCompleted","notStarted"]},"LessonObjectExtendedList":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"order":{"type":"number"},"published":{"type":"boolean"},"releaseDate":{"type":["string","null"]},"lessons":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"promo":{"type":"boolean"},"duration":{"type":"number"},"slug":{"type":"string"},"order":{"type":"number"},"progress":{"$ref":"#/components/schemas/LessonProgressObject"}},"required":["id","name","promo","duration","slug","order","progress"]}}},"required":["id","name","order","published","releaseDate","lessons"]}},"LessonCreateBody":{"type":"object","properties":{"module":{"type":"string","format":"uuid"},"name":{"type":"string"},"promo":{"type":"boolean","default":false},"duration":{"type":"number"},"slug":{"type":"string"}},"required":["module","name"]},"PageLimitParam":{"type":"string","default":"50"},"PageOffsetParam":{"type":"string","default":"0"},"HomeworkListResponse":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/HomeworkObject"}},"count":{"type":"number"}},"required":["list","count"]},"HomeworkObject":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["waitingForCheck","passed","failed"]},"curatorComment":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","status","curatorComment","createdAt","updatedAt"]},"HomeworkCreateBody":{"type":"object","properties":{"answers":{"type":"array","items":{"$ref":"#/components/schemas/HomeworkAnswerBody"}}},"required":["answers"]},"HomeworkAnswerBody":{"type":"object","properties":{"question":{"type":"string","format":"uuid"},"text":{"type":"string"}},"required":["question","text"]},"HomeworkCheckBody":{"type":"object","properties":{"status":{"type":"string","enum":["passed","failed"]},"comment":{"type":"string"}},"required":["status"]},"UploadArrayResponse":{"type":"array","items":{"$ref":"#/components/schemas/UploadResponse"}},"UploadResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"mime":{"type":"string"},"size":{"type":"number"},"url":{"anyOf":[{"type":"string","format":"uri"},{"type":"string","const":""}]},"error":{"anyOf":[{"type":"string"},{"type":"string","const":""}]},"createdAt":{"type":"string"}},"required":["id","name","mime","size","url","error","createdAt"]},"UploadUrlGeneratorRequest":{"type":"object","properties":{"name":{"type":"string"},"mime":{"type":"string","enum":["image/jpeg","image/png","image/webp","image/avif","image/svg+xml","video/webm","video/mp4","video/ogg","application/pdf","text/vtt","application/x-subrip"]}},"required":["name","mime"]},"UploadUrlGeneratorResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"url":{"type":"string","format":"uri"}},"required":["id","name","url"]},"CourseCuratorObjectList":{"type":"array","items":{"$ref":"#/components/schemas/CourseCuratorObject"}},"CourseCuratorObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"course":{"type":"string","format":"uuid"},"curator":{"type":"string","format":"uuid"},"createdAt":{"type":"string"}},"required":["id","course","curator","createdAt"]},"CreateCourseCurator":{"type":"object","properties":{"curator":{"type":"string"}},"required":["curator"]},"CourseTranslationLinkBody":{"type":"object","properties":{"courseIds":{"type":"array","items":{"type":"string","format":"uuid"}}},"required":["courseIds"]},"CourseTranslationLinkResponse":{"type":"object","properties":{"translationGroupId":{"type":"string","format":"uuid"},"courses":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"locale":{"type":"string","enum":["en-US","ru-RU","ar-AE","zh-HK","de-DE","es-ES","pt-PT","tr-TR"]},"translationGroupId":{"type":"string","format":"uuid"}},"required":["id","locale","translationGroupId"]}}},"required":["translationGroupId","courses"]},"CourseUpdateBody":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"accessType":{"type":"string","enum":["free","public","paid","subscription"]},"visibility":{"type":"string","enum":["none","all","restricted"]},"learn":{"type":"string","description":"List of learnings as markdown"},"imageUrl":{"type":["string","null"]},"slug":{"type":["string","null"]},"locale":{"type":"string","enum":["en-US","ru-RU","ar-AE","zh-HK","de-DE","es-ES","pt-PT","tr-TR"],"default":"en-US"},"translationGroupId":{"type":"string","format":"uuid"},"order":{"type":"number"},"popular":{"type":"boolean"},"published":{"type":"boolean","default":false},"releaseDate":{"type":"string"}}},"CourseObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":["string","null"]},"popular":{"type":"boolean"},"accessType":{"type":"string","enum":["free","public","paid","subscription"]},"visibility":{"type":"string","enum":["none","all","restricted"]},"learn":{"type":"string"},"order":{"type":"number"},"duration":{"type":"number"},"slug":{"type":"string"},"progressPercent":{"type":"number"},"modulesCount":{"type":"number"},"lessonsCount":{"type":"number"},"lessonsDoneCount":{"type":"number"},"promo":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"courseCount":{"type":"number","default":0}},"required":["id","name","courseCount"]}},"subtitleLanguages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"label":{"type":"string"}},"required":["code","label"]}},"opengraph":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"course":{"type":"string"},"locale":{"type":"string","enum":["en-US","ru-RU","ar-AE","zh-HK","de-DE","es-ES","pt-PT","tr-TR"]},"tag":{"type":"string"},"value":{"type":"string"}},"required":["id","course","locale","tag","value"]},"default":[]},"translationGroupId":{"type":"string","format":"uuid"},"translations":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"locale":{"type":"string","enum":["en-US","ru-RU","ar-AE","zh-HK","de-DE","es-ES","pt-PT","tr-TR"]},"slug":{"type":"string"}},"required":["id","locale","slug"]}},"locale":{"type":"string","enum":["en-US","ru-RU","ar-AE","zh-HK","de-DE","es-ES","pt-PT","tr-TR"]},"published":{"type":"boolean"},"releaseDate":{"type":["string","null"]}},"required":["id","name","description","imageUrl","popular","accessType","visibility","learn","order","duration","slug","progressPercent","modulesCount","lessonsCount","lessonsDoneCount","promo","createdAt","updatedAt","tags","subtitleLanguages","opengraph","translationGroupId","translations","locale","published","releaseDate"]},"CourseList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/CourseObject"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"CourseCreateBody":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"accessType":{"type":"string","enum":["free","public","paid","subscription"]},"visibility":{"type":"string","enum":["none","all","restricted"]},"learn":{"$ref":"#/components/schemas/List of learnings as markdown"},"imageUrl":{"type":["string","null"]},"slug":{"type":["string","null"]},"locale":{"type":"string","enum":["en-US","ru-RU","ar-AE","zh-HK","de-DE","es-ES","pt-PT","tr-TR"],"default":"en-US"},"translationGroupId":{"type":"string","format":"uuid"},"popular":{"type":"boolean"},"published":{"type":"boolean","default":false},"releaseDate":{"type":["string","null"]}},"required":["name","description","accessType","visibility","learn","releaseDate"]},"List of learnings as markdown":{"type":"string"},"courseBlocksResponse":{"type":"object","properties":{"courseBlocks":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"filter":{"type":"object","properties":{"my":{"type":"boolean"},"withTags":{"type":"array","items":{"type":"string"}},"withoutTags":{"type":"array","items":{"type":"string"}}}},"limit":{"type":"number"}},"required":["filter","limit"]}}},"required":["courseBlocks"]},"CommentUpdateBody":{"type":"object","properties":{"text":{"type":"string"}},"required":["text"]},"CommentObject":{"type":"object","properties":{"id":{"type":"string"},"author":{"type":"string"},"homework":{"type":["string","null"]},"parentComment":{"type":["string","null"]},"isEdited":{"type":"boolean"},"text":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","author","homework","parentComment","isEdited","text","createdAt","updatedAt"]},"CommentListResponse":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/CommentObject"}},"count":{"type":"number"}},"required":["list","count"]},"CommentCreateBody":{"type":"object","properties":{"homework":{"type":"string"},"parentComment":{"type":"string"},"text":{"type":"string"}},"required":["text"]}}}}