openapi: 3.2.0
info:
  title: EVEDEX - Exchange Mobile App API
  version: 1.0.0
servers:
- url: https://exchange-api.evedex.com
tags:
- name: Mobile App
paths:
  /api/mobile-app/blocked-version/{id}:
    put:
      tags:
      - Mobile App
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
                  enum:
                  - android
                  - ios
                  - web
                versionMin:
                  type: string
                  format: semver
                  example: 1.0.3
                versionMax:
                  type: string
                  format: semver
                  example: 1.0.3
                blockType:
                  type: string
                  enum:
                  - '0'
                  - '1'
                  - '2'
                blockMessage:
                  type: string
                blockHead:
                  type: string
                blockButton:
                  type: string
                blockButtonLink:
                  type: string
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  platform:
                    type: string
                    enum:
                    - android
                    - ios
                    - web
                  versionMin:
                    type: string
                    format: semver
                    example: 1.0.3
                    default: 0.0.0
                  versionMax:
                    type: string
                    format: semver
                    example: 1.0.3
                  blockType:
                    type: string
                    enum:
                    - '0'
                    - '1'
                    - '2'
                  blockMessage:
                    type: string
                  blockHead:
                    type: string
                  blockButton:
                    type: string
                  blockButtonLink:
                    type: string
                required:
                - platform
                - versionMin
                - versionMax
                - blockType
                - blockMessage
      summary: Replace api mobile app blocked version by id
      x-summary-source: derived
      operationId: putApiMobileAppBlockedVersionById
      x-operation-id-source: derived
    get:
      tags:
      - Mobile App
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  platform:
                    type: string
                    enum:
                    - android
                    - ios
                    - web
                  versionMin:
                    type: string
                    format: semver
                    example: 1.0.3
                    default: 0.0.0
                  versionMax:
                    type: string
                    format: semver
                    example: 1.0.3
                  blockType:
                    type: string
                    enum:
                    - '0'
                    - '1'
                    - '2'
                  blockMessage:
                    type: string
                  blockHead:
                    type: string
                  blockButton:
                    type: string
                  blockButtonLink:
                    type: string
                required:
                - platform
                - versionMin
                - versionMax
                - blockType
                - blockMessage
      summary: Get api mobile app blocked version by id
      x-summary-source: derived
      operationId: getApiMobileAppBlockedVersionById
      x-operation-id-source: derived
  /api/mobile-app/blocked-version/list:
    get:
      tags:
      - Mobile App
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    platform:
                      type: string
                      enum:
                      - android
                      - ios
                      - web
                    versionMin:
                      type: string
                      format: semver
                      example: 1.0.3
                      default: 0.0.0
                    versionMax:
                      type: string
                      format: semver
                      example: 1.0.3
                    blockType:
                      type: string
                      enum:
                      - '0'
                      - '1'
                      - '2'
                    blockMessage:
                      type: string
                    blockHead:
                      type: string
                    blockButton:
                      type: string
                    blockButtonLink:
                      type: string
                  required:
                  - platform
                  - versionMin
                  - versionMax
                  - blockType
                  - blockMessage
      summary: Get api mobile app blocked version list
      x-summary-source: derived
      operationId: getApiMobileAppBlockedVersionList
      x-operation-id-source: derived
  /api/mobile-app/blocked-version:
    post:
      tags:
      - Mobile App
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
                  enum:
                  - android
                  - ios
                  - web
                versionMin:
                  type: string
                  format: semver
                  example: 1.0.3
                  default: 0.0.0
                versionMax:
                  type: string
                  format: semver
                  example: 1.0.3
                blockType:
                  type: string
                  enum:
                  - '0'
                  - '1'
                  - '2'
                blockMessage:
                  type: string
                blockHead:
                  type: string
                blockButton:
                  type: string
                blockButtonLink:
                  type: string
              required:
              - platform
              - versionMax
              - blockType
              - blockMessage
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  platform:
                    type: string
                    enum:
                    - android
                    - ios
                    - web
                  versionMin:
                    type: string
                    format: semver
                    example: 1.0.3
                    default: 0.0.0
                  versionMax:
                    type: string
                    format: semver
                    example: 1.0.3
                  blockType:
                    type: string
                    enum:
                    - '0'
                    - '1'
                    - '2'
                  blockMessage:
                    type: string
                  blockHead:
                    type: string
                  blockButton:
                    type: string
                  blockButtonLink:
                    type: string
                required:
                - platform
                - versionMin
                - versionMax
                - blockType
                - blockMessage
      summary: Create api mobile app blocked version
      x-summary-source: derived
      operationId: postApiMobileAppBlockedVersion
      x-operation-id-source: derived
  /api/mobile-app/blocked-sdk-version/{id}:
    put:
      tags:
      - Mobile App
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
                  enum:
                  - android
                  - ios
                  - web
                versionMin:
                  type: string
                  format: semver
                  example: 1.0.3
                versionMax:
                  type: string
                  format: semver
                  example: 1.0.3
                blockType:
                  type: string
                  enum:
                  - '0'
                  - '1'
                  - '2'
                blockMessage:
                  type: string
                blockHead:
                  type: string
                blockButton:
                  type: string
                blockButtonLink:
                  type: string
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  platform:
                    type: string
                    enum:
                    - android
                    - ios
                    - web
                  versionMin:
                    type: string
                    format: semver
                    example: 1.0.3
                    default: 0.0.0
                  versionMax:
                    type: string
                    format: semver
                    example: 1.0.3
                  blockType:
                    type: string
                    enum:
                    - '0'
                    - '1'
                    - '2'
                  blockMessage:
                    type: string
                  blockHead:
                    type: string
                  blockButton:
                    type: string
                  blockButtonLink:
                    type: string
                required:
                - platform
                - versionMin
                - versionMax
                - blockType
                - blockMessage
      summary: Replace api mobile app blocked sdk version by id
      x-summary-source: derived
      operationId: putApiMobileAppBlockedSdkVersionById
      x-operation-id-source: derived
    get:
      tags:
      - Mobile App
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  platform:
                    type: string
                    enum:
                    - android
                    - ios
                    - web
                  versionMin:
                    type: string
                    format: semver
                    example: 1.0.3
                    default: 0.0.0
                  versionMax:
                    type: string
                    format: semver
                    example: 1.0.3
                  blockType:
                    type: string
                    enum:
                    - '0'
                    - '1'
                    - '2'
                  blockMessage:
                    type: string
                  blockHead:
                    type: string
                  blockButton:
                    type: string
                  blockButtonLink:
                    type: string
                required:
                - platform
                - versionMin
                - versionMax
                - blockType
                - blockMessage
      summary: Get api mobile app blocked sdk version by id
      x-summary-source: derived
      operationId: getApiMobileAppBlockedSdkVersionById
      x-operation-id-source: derived
  /api/mobile-app/blocked-sdk-version/list:
    get:
      tags:
      - Mobile App
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    platform:
                      type: string
                      enum:
                      - android
                      - ios
                      - web
                    versionMin:
                      type: string
                      format: semver
                      example: 1.0.3
                      default: 0.0.0
                    versionMax:
                      type: string
                      format: semver
                      example: 1.0.3
                    blockType:
                      type: string
                      enum:
                      - '0'
                      - '1'
                      - '2'
                    blockMessage:
                      type: string
                    blockHead:
                      type: string
                    blockButton:
                      type: string
                    blockButtonLink:
                      type: string
                  required:
                  - platform
                  - versionMin
                  - versionMax
                  - blockType
                  - blockMessage
      summary: Get api mobile app blocked sdk version list
      x-summary-source: derived
      operationId: getApiMobileAppBlockedSdkVersionList
      x-operation-id-source: derived
  /api/mobile-app/blocked-sdk-version:
    post:
      tags:
      - Mobile App
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
                  enum:
                  - android
                  - ios
                  - web
                versionMin:
                  type: string
                  format: semver
                  example: 1.0.3
                  default: 0.0.0
                versionMax:
                  type: string
                  format: semver
                  example: 1.0.3
                blockType:
                  type: string
                  enum:
                  - '0'
                  - '1'
                  - '2'
                blockMessage:
                  type: string
                blockHead:
                  type: string
                blockButton:
                  type: string
                blockButtonLink:
                  type: string
              required:
              - platform
              - versionMax
              - blockType
              - blockMessage
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  platform:
                    type: string
                    enum:
                    - android
                    - ios
                    - web
                  versionMin:
                    type: string
                    format: semver
                    example: 1.0.3
                    default: 0.0.0
                  versionMax:
                    type: string
                    format: semver
                    example: 1.0.3
                  blockType:
                    type: string
                    enum:
                    - '0'
                    - '1'
                    - '2'
                  blockMessage:
                    type: string
                  blockHead:
                    type: string
                  blockButton:
                    type: string
                  blockButtonLink:
                    type: string
                required:
                - platform
                - versionMin
                - versionMax
                - blockType
                - blockMessage
      summary: Create api mobile app blocked sdk version
      x-summary-source: derived
      operationId: postApiMobileAppBlockedSdkVersion
      x-operation-id-source: derived
  /api/mobile-app/version-info/{id}:
    put:
      tags:
      - Mobile App
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MobileAppVersionInfoUpdateBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileAppVersionInfoResponse'
      summary: Replace api mobile app version info by id
      x-summary-source: derived
      operationId: putApiMobileAppVersionInfoById
      x-operation-id-source: derived
    get:
      tags:
      - Mobile App
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileAppVersionInfoResponse'
      summary: Get api mobile app version info by id
      x-summary-source: derived
      operationId: getApiMobileAppVersionInfoById
      x-operation-id-source: derived
  /api/mobile-app/version-info/list:
    get:
      tags:
      - Mobile App
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileAppVersionInfoListResponse'
      summary: Get api mobile app version info list
      x-summary-source: derived
      operationId: getApiMobileAppVersionInfoList
      x-operation-id-source: derived
  /api/mobile-app/version-info:
    post:
      tags:
      - Mobile App
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MobileAppVersionInfoCreateBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileAppVersionInfoResponse'
      summary: Create api mobile app version info
      x-summary-source: derived
      operationId: postApiMobileAppVersionInfo
      x-operation-id-source: derived
    get:
      tags:
      - Mobile App
      security: []
      parameters:
      - in: query
        name: platform
        schema:
          type: string
          enum:
          - android
          - ios
          - web
          default: android
      - in: query
        name: version
        schema:
          type: string
          format: semver
          example: 1.0.3
        required: true
      - in: query
        name: sdk-version
        schema:
          type: string
          format: semver
          example: 1.0.3
      - in: query
        name: locale
        schema:
          type: string
          enum:
          - en-US
          - ru-RU
          - ar-SA
          - zh-CN
          - de-DE
          - es-ES
          - pt-PT
          - tr-TR
          - uk-UA
          - ko-KR
          - fr-FR
          default: en-US
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileAppVersionInfo'
      summary: Get api mobile app version info
      x-summary-source: derived
      operationId: getApiMobileAppVersionInfo
      x-operation-id-source: derived
components:
  schemas:
    MobileAppVersionInfoResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        platform:
          type: string
          enum:
          - android
          - ios
          - web
        version:
          type: string
          format: semver
          example: 1.0.3
        blockType:
          type: string
          enum:
          - '0'
          - '1'
          - '2'
        blockHead:
          type: string
        blockMessage:
          type: string
        blockButton:
          type: string
        blockButtonLink:
          type: string
        referralNeeded:
          type: boolean
          default: false
      required:
      - platform
      - version
      - blockType
      - blockHead
      - blockMessage
      - blockButton
      - referralNeeded
    MobileAppVersionInfoListResponse:
      type: array
      items:
        $ref: '#/components/schemas/MobileAppVersionInfoResponse'
    MobileAppVersionInfoUpdateBody:
      type: object
      properties:
        id:
          type: string
          format: uuid
        platform:
          type: string
          enum:
          - android
          - ios
          - web
        version:
          type: string
          format: semver
          example: 1.0.3
        blockType:
          type: string
          enum:
          - '0'
          - '1'
          - '2'
        blockHead:
          type: string
        blockMessage:
          type: string
        blockButton:
          type: string
        blockButtonLink:
          type: string
        referralNeeded:
          type: boolean
          default: false
    MobileAppVersionInfoCreateBody:
      type: object
      properties:
        platform:
          type: string
          enum:
          - android
          - ios
          - web
        version:
          type: string
          format: semver
          example: 1.0.3
        blockType:
          type: string
          enum:
          - '0'
          - '1'
          - '2'
        blockHead:
          type: string
        blockMessage:
          type: string
        blockButton:
          type: string
        blockButtonLink:
          type: string
        referralNeeded:
          type: boolean
          default: false
      required:
      - platform
      - version
      - blockType
      - blockHead
      - blockMessage
      - blockButton
    MobileAppVersionInfo:
      type: object
      properties:
        blockTypeId:
          type: string
        blockHead:
          type: string
        blockMessage:
          type: string
        blockButton:
          type: string
        blockButtonLink:
          type: string
        referralNeeded:
          type: boolean
      required:
      - blockTypeId
      - blockHead
      - blockMessage
      - blockButton
      - referralNeeded
  securitySchemes:
    InternalToken:
      type: http
      scheme: bearer
    AccessToken:
      type: http
      scheme: bearer
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
