{"openapi":"3.1.0","servers":[{"url":"https://exchange-api.evedex.com"}],"info":{"title":"EVEDEX - Exchange","version":"1.0.0"},"paths":{"/api/ping":{"get":{"tags":["System"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PingResponse"}}}}}}},"/api/v2/position/{instrument}/close":{"post":{"tags":["Position"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"instrument","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"quantity":{"anyOf":[{"type":"string"},{"type":"number"}]},"leverage":{"type":"integer"},"signature":{"type":"string"},"chainId":{"type":"string"},"smp":{"type":"object","properties":{"smp":{"type":"boolean"},"smpId":{"type":"string"}},"required":["smp","smpId"]},"id":{"$ref":"#/components/schemas/OrderIdV2Input"}},"required":["quantity","leverage","signature","chainId","id"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/OrderIdOutput"},"user":{"type":"string"},"instrument":{"type":"string"},"type":{"type":"string","enum":["LIMIT","MARKET","STOP","STOP_LIMIT"]},"side":{"$ref":"#/components/schemas/Side"},"status":{"type":"string","enum":["INTENTION","NEW","PARTIALLY_FILLED","FILLED","CANCELLED","REJECTED","EXPIRED","REPLACED","ERROR"]},"rejectedReason":{"type":"string"},"quantity":{"type":"number"},"limitPrice":{"type":"number"},"stopPrice":{"type":["number","null"]},"group":{"type":"string","enum":["manually","tpsl","take-profit","stop-loss","liquidation","adl","otc","otc-hidden"]},"unFilledQuantity":{"type":"number"},"cashQuantity":{"type":"number"},"filledAvgPrice":{"type":"number"},"realizedPnL":{"type":"number"},"fee":{"type":"array","items":{"type":"object","properties":{"coin":{"type":"string"},"quantity":{"type":"number"}},"required":["coin","quantity"]}},"triggeredAt":{"type":["string","null"]},"exchangeRequestId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","user","instrument","type","side","status","rejectedReason","quantity","limitPrice","stopPrice","group","unFilledQuantity","cashQuantity","filledAvgPrice","realizedPnL","fee","triggeredAt","createdAt","updatedAt"]}}}}}}},"/api/v2/order/stop-limit":{"post":{"tags":["Order"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"instrument":{"type":"string"},"side":{"$ref":"#/components/schemas/Side"},"leverage":{"type":"integer","minimum":1,"maximum":300,"default":1},"quantity":{"anyOf":[{"type":"string"},{"type":"number"}]},"limitPrice":{"anyOf":[{"type":"string"},{"type":"number"}]},"stopPrice":{"anyOf":[{"type":"string"},{"type":"number"}]},"tpsl":{"type":["array","null"],"items":{"type":"object","properties":{"type":{"type":"string","enum":["take-profit","stop-loss"]},"side":{"$ref":"#/components/schemas/Side"},"quantity":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Zero for full position"},"price":{"anyOf":[{"type":"string"},{"type":"number"}]}},"required":["type","side","quantity","price"]}},"signature":{"type":"string"},"chainId":{"type":"string"},"smp":{"type":"object","properties":{"smp":{"type":"boolean"},"smpId":{"type":"string"}},"required":["smp","smpId"]},"id":{"$ref":"#/components/schemas/OrderIdV2Input"}},"required":["instrument","side","quantity","limitPrice","stopPrice","signature","chainId","id"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/OrderIdOutput"},"user":{"type":"string"},"instrument":{"type":"string"},"type":{"type":"string","enum":["LIMIT","MARKET","STOP","STOP_LIMIT"]},"side":{"$ref":"#/components/schemas/Side"},"status":{"type":"string","enum":["INTENTION","NEW","PARTIALLY_FILLED","FILLED","CANCELLED","REJECTED","EXPIRED","REPLACED","ERROR"]},"rejectedReason":{"type":"string"},"quantity":{"type":"number"},"limitPrice":{"type":"number"},"stopPrice":{"type":["number","null"]},"group":{"type":"string","enum":["manually","tpsl","take-profit","stop-loss","liquidation","adl","otc","otc-hidden"]},"unFilledQuantity":{"type":"number"},"cashQuantity":{"type":"number"},"filledAvgPrice":{"type":"number"},"realizedPnL":{"type":"number"},"fee":{"type":"array","items":{"type":"object","properties":{"coin":{"type":"string"},"quantity":{"type":"number"}},"required":["coin","quantity"]}},"triggeredAt":{"type":["string","null"]},"exchangeRequestId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","user","instrument","type","side","status","rejectedReason","quantity","limitPrice","stopPrice","group","unFilledQuantity","cashQuantity","filledAvgPrice","realizedPnL","fee","triggeredAt","createdAt","updatedAt"]}}}}}}},"/api/v2/order/market":{"post":{"tags":["Order"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"instrument":{"type":"string"},"side":{"$ref":"#/components/schemas/Side"},"leverage":{"type":"integer","minimum":1,"maximum":300,"default":1},"cashQuantity":{"anyOf":[{"type":"string"},{"type":"number"}]},"timeInForce":{"type":"string","enum":["FOK","IOC"]},"tpsl":{"type":["array","null"],"items":{"type":"object","properties":{"type":{"type":"string","enum":["take-profit","stop-loss"]},"side":{"$ref":"#/components/schemas/Side"},"quantity":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Zero for full position"},"price":{"anyOf":[{"type":"string"},{"type":"number"}]}},"required":["type","side","quantity","price"]}},"signature":{"type":"string"},"chainId":{"type":"string"},"smp":{"type":"object","properties":{"smp":{"type":"boolean"},"smpId":{"type":"string"}},"required":["smp","smpId"]},"id":{"$ref":"#/components/schemas/OrderIdV2Input"}},"required":["instrument","side","cashQuantity","timeInForce","signature","chainId","id"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/OrderIdOutput"},"user":{"type":"string"},"instrument":{"type":"string"},"type":{"type":"string","enum":["LIMIT","MARKET","STOP","STOP_LIMIT"]},"side":{"$ref":"#/components/schemas/Side"},"status":{"type":"string","enum":["INTENTION","NEW","PARTIALLY_FILLED","FILLED","CANCELLED","REJECTED","EXPIRED","REPLACED","ERROR"]},"rejectedReason":{"type":"string"},"quantity":{"type":"number"},"limitPrice":{"type":"number"},"stopPrice":{"type":["number","null"]},"group":{"type":"string","enum":["manually","tpsl","take-profit","stop-loss","liquidation","adl","otc","otc-hidden"]},"unFilledQuantity":{"type":"number"},"cashQuantity":{"type":"number"},"filledAvgPrice":{"type":"number"},"realizedPnL":{"type":"number"},"fee":{"type":"array","items":{"type":"object","properties":{"coin":{"type":"string"},"quantity":{"type":"number"}},"required":["coin","quantity"]}},"triggeredAt":{"type":["string","null"]},"exchangeRequestId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","user","instrument","type","side","status","rejectedReason","quantity","limitPrice","stopPrice","group","unFilledQuantity","cashQuantity","filledAvgPrice","realizedPnL","fee","triggeredAt","createdAt","updatedAt"]}}}}}}},"/api/v2/order/limit":{"post":{"tags":["Order"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"instrument":{"type":"string"},"side":{"$ref":"#/components/schemas/Side"},"leverage":{"type":"integer","minimum":1,"maximum":300,"default":1},"timeInForce":{"type":"string","enum":["DAY","GTC","FOK","IOC"],"default":"GTC"},"quantity":{"anyOf":[{"type":"string"},{"type":"number"}]},"limitPrice":{"anyOf":[{"type":"string"},{"type":"number"}]},"tpsl":{"type":["array","null"],"items":{"type":"object","properties":{"type":{"type":"string","enum":["take-profit","stop-loss"]},"side":{"$ref":"#/components/schemas/Side"},"quantity":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Zero for full position"},"price":{"anyOf":[{"type":"string"},{"type":"number"}]}},"required":["type","side","quantity","price"]}},"postOnly":{"type":"string"},"signature":{"type":"string"},"chainId":{"type":"string"},"smp":{"type":"object","properties":{"smp":{"type":"boolean"},"smpId":{"type":"string"}},"required":["smp","smpId"]},"id":{"$ref":"#/components/schemas/OrderIdV2Input"}},"required":["instrument","side","quantity","limitPrice","signature","chainId","id"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/OrderIdOutput"},"user":{"type":"string"},"instrument":{"type":"string"},"type":{"type":"string","enum":["LIMIT","MARKET","STOP","STOP_LIMIT"]},"side":{"$ref":"#/components/schemas/Side"},"status":{"type":"string","enum":["INTENTION","NEW","PARTIALLY_FILLED","FILLED","CANCELLED","REJECTED","EXPIRED","REPLACED","ERROR"]},"rejectedReason":{"type":"string"},"quantity":{"type":"number"},"limitPrice":{"type":"number"},"stopPrice":{"type":["number","null"]},"group":{"type":"string","enum":["manually","tpsl","take-profit","stop-loss","liquidation","adl","otc","otc-hidden"]},"unFilledQuantity":{"type":"number"},"cashQuantity":{"type":"number"},"filledAvgPrice":{"type":"number"},"realizedPnL":{"type":"number"},"fee":{"type":"array","items":{"type":"object","properties":{"coin":{"type":"string"},"quantity":{"type":"number"}},"required":["coin","quantity"]}},"triggeredAt":{"type":["string","null"]},"exchangeRequestId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","user","instrument","type","side","status","rejectedReason","quantity","limitPrice","stopPrice","group","unFilledQuantity","cashQuantity","filledAvgPrice","realizedPnL","fee","triggeredAt","createdAt","updatedAt"]}}}}}}},"/api/v2/order/mass-limit/{instrument}":{"post":{"tags":["Order"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"instrument","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"instrument":{"type":"string"},"side":{"$ref":"#/components/schemas/Side"},"leverage":{"type":"integer","minimum":1,"maximum":300,"default":1},"timeInForce":{"type":"string","enum":["DAY","GTC","FOK","IOC"],"default":"GTC"},"quantity":{"anyOf":[{"type":"string"},{"type":"number"}]},"limitPrice":{"anyOf":[{"type":"string"},{"type":"number"}]},"postOnly":{"type":"string"},"signature":{"type":"string"},"chainId":{"type":"string"},"smp":{"type":"object","properties":{"smp":{"type":"boolean"},"smpId":{"type":"string"}},"required":["smp","smpId"]},"id":{"$ref":"#/components/schemas/OrderIdV2Input"}},"required":["instrument","side","quantity","limitPrice","signature","chainId","id"]},"maxItems":20}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"type":"object","properties":{"orderId":{"$ref":"#/components/schemas/OrderIdOutput"}},"required":["orderId"]},{"anyOf":[{"type":"object","properties":{"success":{"type":"boolean","const":true}},"required":["success"]},{"type":"object","properties":{"success":{"type":"boolean","const":false},"failReason":{"type":"string"}},"required":["success","failReason"]}]}]}}}}}}}},"/api/user/image/check":{"get":{"tags":["UserImage"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserImageStateResponse"}}}}}}},"/api/user/{userId}":{"put":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","description":"UserId","schema":{"type":"string","description":"UserId"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateResponse"}}}}}}},"/api/user/statistics":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"after","schema":{"type":"string","default":"2026-07-25T13:42:45.165Z"}},{"in":"query","name":"before","schema":{"type":"string","default":"2026-08-25T13:42:45.166Z"}},{"in":"query","name":"group","schema":{"type":["string","null"],"enum":["day","week","month","year"],"default":"month"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatisticsResponse"}}}}}}},"/api/user/sign-up/{wallet}/check":{"get":{"tags":["User"],"security":[],"parameters":[{"in":"path","name":"wallet","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckSignUpBadgeResponse"}}}}}}},"/api/user/sign-up/quota":{"get":{"tags":["User"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignUpQuotaResponse"}}}}}}},"/api/user/me":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/user/list":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"authId","schema":{"type":"string","format":"uuid"}},{"in":"query","name":"search","schema":{"type":"string","minLength":3}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserList"}}}}}}},"/api/user/faucet/check":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"ttl":{"type":"number"}},"required":["ok","ttl"]}}}}}}},"/api/user/faucet":{"post":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/user/balance/chart":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"after","schema":{"type":"string","default":"2026-07-25T13:42:45.170Z"}},{"in":"query","name":"before","schema":{"type":"string","default":"2026-08-25T13:42:45.171Z"}},{"in":"query","name":"group","schema":{"type":"string","enum":["hour","day","week","month","year"],"default":"month"}},{"in":"query","name":"sort","schema":{"type":"string","enum":["date-asc","date-desc"],"default":"date-desc"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BalanceChart"}}}}}}},"/api/user/balance":{"get":{"tags":["User"],"deprecated":true,"description":"Use GET /auth/user/balance from auth-backend instead","security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BalanceItem"}}}}}}}},"/api/user/account":{"post":{"tags":["User"],"security":[{"AccessToken":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/user/yield/status":{"get":{"tags":["Yield"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/YieldStatusObject"}}}}}}},"/api/user/yield/earned":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserYieldEarned"}}}}}}},"/api/user/oct/delegate":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DelegateList"}}}}}}},"/api/user/funding-transfer":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"after","schema":{"type":"string"}},{"in":"query","name":"before","schema":{"type":"string"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/FundingTransferObject"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/user/funding":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FundingObject"}}}}}}}},"/api/user/api-key/{apiKeyId}":{"put":{"deprecated":true,"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"apiKeyId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyUpdateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}},"delete":{"deprecated":true,"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"apiKeyId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{}}},"/api/user/api-key/{apiKeyId}/regenerate":{"put":{"deprecated":true,"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"apiKeyId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{}}},"/api/user/api-key":{"get":{"deprecated":true,"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"withDeleted","schema":{"type":"string"}},{"in":"query","name":"withExpired","schema":{"type":"string"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{}},"post":{"deprecated":true,"tags":["User"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreateBody"}}}},"responses":{}}},"/api/transfer":{"get":{"tags":["Transfer"],"description":"Serves only not-yet-on-chain transfers","security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"status","schema":{"anyOf":[{"type":"string","enum":["pending","blocked","done","error"]},{"type":"array","items":{"type":"string","enum":["pending","blocked","done","error"]}}]}},{"in":"query","name":"type","schema":{"anyOf":[{"type":"string","enum":["deposit","withdraw","transfer-pfutures-balance","transfer-balance-pfutures","paymaster-fee","paymaster-refund","cashback-withdraw","lucky-shot-withdraw","transfer-balance-sub-pfutures"]},{"type":"array","items":{"type":"string","enum":["deposit","withdraw","transfer-pfutures-balance","transfer-balance-pfutures","paymaster-fee","paymaster-refund","cashback-withdraw","lucky-shot-withdraw","transfer-balance-sub-pfutures"]}}]}},{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferListObject"}}}}}}},"/api/transfer/detail":{"get":{"tags":["Transfer"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"target","description":"Smart account or wallet address","schema":{"type":"string","description":"Smart account or wallet address"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"smartAccountAddress":{"type":"string"},"email":{"type":["string","null"]}},"required":["smartAccountAddress","email"]}}}}}}},"/api/transfer/pf/withdraw":{"post":{"tags":["Transfer"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"recipient":{"type":"string"},"currency":{"type":"string","enum":["usdt"],"default":"usdt"},"amount":{"anyOf":[{"type":"number"},{"type":"string"}]},"signature":{"type":"string"},"twofa":{"type":"object","properties":{"code":{"type":"string"}},"required":["code"]}},"required":["recipient","amount","signature"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferObject"}}}}}}},"/api/trade/signal":{"get":{"tags":["Trade signal"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradeSignalListResponse"}}}}}},"post":{"tags":["Trade signal"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradeSignalCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradeSignalItem"}}}}}}},"/api/trade/signal/{id}":{"get":{"tags":["Trade signal"],"security":[],"parameters":[{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradeSignalItemWithUser"}}}}}}},"/api/tpsl/{instrument}/{id}":{"put":{"tags":["TpSl"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"instrument","schema":{"type":"string"},"required":true},{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","enum":["take-profit","stop-loss"]},"side":{"$ref":"#/components/schemas/Side"},"quantity":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Zero for full position"},"price":{"anyOf":[{"type":"string"},{"type":"number"}]},"signature":{"type":"string"}},"required":["type","side","quantity","price","signature"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"instrument":{"type":"string"},"type":{"type":"string","enum":["take-profit","stop-loss"]},"side":{"$ref":"#/components/schemas/Side"},"quantity":{"type":"string","description":"Zero for full position"},"price":{"type":"string"},"status":{"type":"string","enum":["waitOrder","active","process","triggered","done","cancelled"]},"triggerOrder":{"oneOf":[{"$ref":"#/components/schemas/OrderIdOutput"},{"type":"null"}]},"triggeredQuantity":{"type":"string"},"cancelledReason":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","instrument","type","side","quantity","price","status","triggerOrder","triggeredQuantity","cancelledReason","createdAt","updatedAt"]}}}}}},"delete":{"tags":["TpSl"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"instrument","schema":{"type":"string"},"required":true},{"in":"path","name":"id","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"instrument":{"type":"string"},"type":{"type":"string","enum":["take-profit","stop-loss"]},"side":{"$ref":"#/components/schemas/Side"},"quantity":{"type":"string","description":"Zero for full position"},"price":{"type":"string"},"status":{"type":"string","enum":["waitOrder","active","process","triggered","done","cancelled"]},"triggerOrder":{"oneOf":[{"$ref":"#/components/schemas/OrderIdOutput"},{"type":"null"}]},"triggeredQuantity":{"type":"string"},"cancelledReason":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","instrument","type","side","quantity","price","status","triggerOrder","triggeredQuantity","cancelledReason","createdAt","updatedAt"]}}}}}}},"/api/tpsl":{"get":{"tags":["TpSl"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"instrument","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"in":"query","name":"status","schema":{"anyOf":[{"type":"string","enum":["waitOrder","active","process","triggered","done","cancelled"]},{"type":"array","items":{"type":"string","enum":["waitOrder","active","process","triggered","done","cancelled"]}}]}},{"in":"query","name":"type","schema":{"type":"string","enum":["take-profit","stop-loss"]}},{"in":"query","name":"triggeredOrder","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/TpSlListPageLimitParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"instrument":{"type":"string"},"type":{"type":"string","enum":["take-profit","stop-loss"]},"side":{"$ref":"#/components/schemas/Side"},"quantity":{"type":"string","description":"Zero for full position"},"price":{"type":"string"},"status":{"type":"string","enum":["waitOrder","active","process","triggered","done","cancelled"]},"triggerOrder":{"oneOf":[{"$ref":"#/components/schemas/OrderIdOutput"},{"type":"null"}]},"triggeredQuantity":{"type":"string"},"cancelledReason":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","instrument","type","side","quantity","price","status","triggerOrder","triggeredQuantity","cancelledReason","createdAt","updatedAt"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/tpsl/{instrument}":{"post":{"tags":["TpSl"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"instrument","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":"string","enum":["take-profit","stop-loss"]},"side":{"$ref":"#/components/schemas/Side"},"quantity":{"anyOf":[{"type":"string"},{"type":"number"}],"description":"Zero for full position"},"price":{"anyOf":[{"type":"string"},{"type":"number"}]},"order":{"anyOf":[{"$ref":"#/components/schemas/OrderIdInput"},{"$ref":"#/components/schemas/OrderIdV2Input"},{"type":"null"}]},"signature":{"type":"string"}},"required":["type","side","quantity","price","order","signature"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"instrument":{"type":"string"},"type":{"type":"string","enum":["take-profit","stop-loss"]},"side":{"$ref":"#/components/schemas/Side"},"quantity":{"type":"string","description":"Zero for full position"},"price":{"type":"string"},"status":{"type":"string","enum":["waitOrder","active","process","triggered","done","cancelled"]},"triggerOrder":{"oneOf":[{"$ref":"#/components/schemas/OrderIdOutput"},{"type":"null"}]},"triggeredQuantity":{"type":"string"},"cancelledReason":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","instrument","type","side","quantity","price","status","triggerOrder","triggeredQuantity","cancelledReason","createdAt","updatedAt"]}}}}}}},"/api/smart-account/validate":{"post":{"tags":["SmartAccount"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateSmartAccountsBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateSmartAccountsResponse"}}}}}}},"/api/public/{authId}/profile":{"get":{"tags":["Public profile"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"authId","description":"AuthId","schema":{"type":"string","description":"AuthId"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"UserId"},"authId":{"type":"string","description":"AuthId"},"statistics":{"$ref":"#/components/schemas/UserStatisticsResponse"},"chart":{"$ref":"#/components/schemas/BalanceChart"},"positionHistory":{"type":"array","items":{"$ref":"#/components/schemas/PositionHistoryFillObject"}},"updatedAt":{"type":"string"}},"required":["updatedAt"]}}}}}}},"/api/public/yield/apr":{"get":{"tags":["Yield"],"security":[],"parameters":[{"in":"query","name":"days","schema":{"type":"integer","minimum":1,"maximum":365,"default":7}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/YieldAprObject"}}}}}}},"/api/public/statistics/total":{"get":{"tags":["Statistics"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotalStatisticResponse"}}}}}}},"/api/public/statistics/online-users":{"get":{"tags":["Statistics"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnlineUsersCountResponse"}}}}}}},"/api/public/statistics/charts":{"get":{"tags":["Statistics"],"security":[],"parameters":[{"in":"query","name":"from","schema":{"type":"string"},"required":true},{"in":"query","name":"to","schema":{"type":"string"},"required":true},{"in":"query","name":"instrument","schema":{"type":"string"}},{"in":"query","name":"name","schema":{"type":"string","enum":["tradingVolume","userRegistred","activeDepositors","feesVolume","totalValueLocked"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatisticChartResponse"}}}}}}},"/api/position/{instrument}":{"put":{"tags":["Position"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"instrument","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"leverage":{"type":"integer","minimum":1,"maximum":300}},"required":["leverage"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"instrument":{"type":"string"},"side":{"$ref":"#/components/schemas/Side"},"quantity":{"type":"number"},"avgPrice":{"type":"number"},"leverage":{"type":"number"},"maintenanceMargin":{"type":"number"}},"required":["instrument","side","quantity","avgPrice","leverage","maintenanceMargin"]}}}}}}},"/api/position":{"get":{"tags":["Position"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"side","schema":{"oneOf":[{"$ref":"#/components/schemas/Side"},{"type":"null"}]}},{"in":"query","name":"withTpSL","schema":{"type":"string"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"user":{"type":"string"},"instrument":{"type":"string"},"side":{"$ref":"#/components/schemas/Side"},"quantity":{"type":"number"},"avgPrice":{"type":"number"},"leverage":{"type":"number"},"maintenanceMargin":{"type":"number"},"fundingRate":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"unRealizedPnL":{"type":"number"},"adlLevel":{"type":"number"},"fee":{"type":"number"},"bankruptcyPrice":{"type":["number","null"]},"tpslList":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"instrument":{"type":"string"},"type":{"type":"string","enum":["take-profit","stop-loss"]},"side":{"$ref":"#/components/schemas/Side"},"quantity":{"type":"string","description":"Zero for full position"},"price":{"type":"string"},"status":{"type":"string","enum":["waitOrder","active","process","triggered","done","cancelled"]},"triggerOrder":{"oneOf":[{"$ref":"#/components/schemas/OrderIdOutput"},{"type":"null"}]},"triggeredQuantity":{"type":"string"},"cancelledReason":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","instrument","type","side","quantity","price","status","triggerOrder","triggeredQuantity","cancelledReason","createdAt","updatedAt"]}}},"required":["id","user","instrument","side","quantity","avgPrice","leverage","maintenanceMargin","fundingRate","createdAt","updatedAt","unRealizedPnL","adlLevel","fee","bankruptcyPrice","tpslList"]}}},"required":["list"]}}}}}}},"/api/position/history":{"get":{"tags":["Position"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"fields","schema":{"anyOf":[{"type":"array","items":{"type":"string","enum":["fill"]}},{"type":"string","enum":["fill"]}],"deprecated":true}},{"in":"query","name":"instrument","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}},{"type":"null"}]}},{"in":"query","name":"closeType","schema":{"anyOf":[{"$ref":"#/components/schemas/CloseType"},{"type":"array","items":{"$ref":"#/components/schemas/CloseType"}},{"type":"null"}]}},{"in":"query","name":"side","schema":{"$ref":"#/components/schemas/Side"}},{"in":"query","name":"openAfter","schema":{"type":"string"}},{"in":"query","name":"openBefore","schema":{"type":"string"}},{"in":"query","name":"closeAfter","schema":{"type":"string"}},{"in":"query","name":"closeBefore","schema":{"type":"string"}},{"in":"query","name":"sort","schema":{"type":"string","enum":["open-at-asc","open-at-desc","close-at-asc","close-at-desc"],"default":"open-at-desc"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PositionHistoryFillList"}}}}}}},"/api/pair/{pairId}/favorite":{"put":{"tags":["Coin"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"pairId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"favorite":{"type":"boolean"}},"required":["favorite"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/order/{orderId}/stop-limit":{"put":{"tags":["Order"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"orderId","schema":{"anyOf":[{"$ref":"#/components/schemas/OrderIdInput"},{"$ref":"#/components/schemas/OrderIdV2Input"}]},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"quantity":{"anyOf":[{"type":"string"},{"type":"number"}]},"limitPrice":{"anyOf":[{"type":"string"},{"type":"number"}]},"stopPrice":{"anyOf":[{"type":"string"},{"type":"number"}]},"signature":{"type":"string"},"smp":{"type":"object","properties":{"smp":{"type":"boolean"},"smpId":{"type":"string"}},"required":["smp","smpId"]}},"required":["quantity","limitPrice","stopPrice","signature"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/order/{orderId}/limit":{"put":{"tags":["Order"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"orderId","schema":{"anyOf":[{"$ref":"#/components/schemas/OrderIdInput"},{"$ref":"#/components/schemas/OrderIdV2Input"}]},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"quantity":{"anyOf":[{"type":"string"},{"type":"number"}]},"limitPrice":{"anyOf":[{"type":"string"},{"type":"number"}]},"postOnly":{"type":"string"},"signature":{"type":"string"},"smp":{"type":"object","properties":{"smp":{"type":"boolean"},"smpId":{"type":"string"}},"required":["smp","smpId"]}},"required":["quantity","limitPrice","signature"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/order/{orderId}/fill":{"get":{"tags":["Order"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"orderId","schema":{"anyOf":[{"$ref":"#/components/schemas/OrderIdInput"},{"$ref":"#/components/schemas/OrderIdV2Input"}]},"required":true},{"in":"query","name":"version","schema":{"anyOf":[{"type":"string"},{"type":"number"}]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderFillListResponse"}}}}}}},"/api/order/opened":{"get":{"tags":["Order"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/OrderIdOutput"},"user":{"type":"string"},"instrument":{"type":"string"},"type":{"type":"string","enum":["LIMIT","MARKET","STOP","STOP_LIMIT"]},"side":{"$ref":"#/components/schemas/Side"},"status":{"type":"string","enum":["INTENTION","NEW","PARTIALLY_FILLED","FILLED","CANCELLED","REJECTED","EXPIRED","REPLACED","ERROR"]},"quantity":{"type":"number"},"cashQuantity":{"type":"number"},"stopPrice":{"type":["number","null"]},"limitPrice":{"type":"number"},"unFilledQuantity":{"type":"number"},"fee":{"type":"array","items":{"type":"object","properties":{"coin":{"type":"string"},"quantity":{"type":"number"}},"required":["coin","quantity"]}},"triggeredAt":{"type":["string","null"]},"updatedAt":{"type":"string"},"createdAt":{"type":"string"}},"required":["id","user","instrument","type","side","status","quantity","cashQuantity","stopPrice","limitPrice","unFilledQuantity","fee","triggeredAt","updatedAt","createdAt"]}}}}}}}},"/api/order/mass-cancel-by-id":{"post":{"tags":["Order"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"orderIds":{"type":"array","items":{"anyOf":[{"$ref":"#/components/schemas/OrderIdInput"},{"$ref":"#/components/schemas/OrderIdV2Input"}]},"minItems":1}},"required":["orderIds"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LimitOrderCancelObject"}}}}}}}},"/api/order/mass-cancel":{"post":{"tags":["Order"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"instrument":{"type":"string"},"dbSync":{"type":"boolean","default":false}},"required":["instrument"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/order":{"get":{"tags":["Order"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"id","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"in":"query","name":"instrument","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}},{"type":"null"}]}},{"in":"query","name":"status","schema":{"anyOf":[{"type":"string","enum":["INTENTION","NEW","PARTIALLY_FILLED","FILLED","CANCELLED","REJECTED","EXPIRED","REPLACED","ERROR"]},{"type":"array","items":{"type":"string","enum":["INTENTION","NEW","PARTIALLY_FILLED","FILLED","CANCELLED","REJECTED","EXPIRED","REPLACED","ERROR"]}},{"type":"null"}]}},{"in":"query","name":"side","schema":{"$ref":"#/components/schemas/Side"}},{"in":"query","name":"groupStatus","schema":{"type":"string","enum":["OPENED","CLOSED","CANCELLED","INACTIVE"]}},{"in":"query","name":"group","schema":{"anyOf":[{"type":"string","enum":["manually","tpsl","take-profit","stop-loss","liquidation","adl","otc","otc-hidden"]},{"type":"array","items":{"type":"string","enum":["manually","tpsl","take-profit","stop-loss","liquidation","adl","otc","otc-hidden"]}},{"type":"null"}]}},{"in":"query","name":"type","schema":{"anyOf":[{"type":"string","enum":["LIMIT","MARKET","STOP","STOP_LIMIT"]},{"type":"array","items":{"type":"string","enum":["LIMIT","MARKET","STOP","STOP_LIMIT"]}},{"type":"null"}]}},{"in":"query","name":"version","schema":{"anyOf":[{"type":"string"},{"type":"number"}]}},{"in":"query","name":"triggered","schema":{"type":"string"}},{"in":"query","name":"after","schema":{"type":"string"}},{"in":"query","name":"before","schema":{"type":"string"}},{"in":"query","name":"sort","schema":{"type":"string","enum":["created-at-asc","created-at-desc","updated-at-asc","updated-at-desc"],"default":"created-at-desc"}},{"in":"query","name":"offset","schema":{"type":"string","default":"0","deprecated":true}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"next","schema":{"$ref":"#/components/schemas/PageNextParam"}},{"in":"query","name":"withTpSL","schema":{"type":"string"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/OrderIdOutput"},"user":{"type":"string"},"instrument":{"type":"string"},"type":{"type":"string","enum":["LIMIT","MARKET","STOP","STOP_LIMIT"]},"side":{"$ref":"#/components/schemas/Side"},"status":{"type":"string","enum":["INTENTION","NEW","PARTIALLY_FILLED","FILLED","CANCELLED","REJECTED","EXPIRED","REPLACED","ERROR"]},"rejectedReason":{"type":"string"},"quantity":{"type":"number"},"limitPrice":{"type":"number"},"stopPrice":{"type":["number","null"]},"group":{"type":"string","enum":["manually","tpsl","take-profit","stop-loss","liquidation","adl","otc","otc-hidden"]},"unFilledQuantity":{"type":"number"},"cashQuantity":{"type":"number"},"filledAvgPrice":{"type":"number"},"realizedPnL":{"type":"number"},"fee":{"type":"array","items":{"type":"object","properties":{"coin":{"type":"string"},"quantity":{"type":"number"}},"required":["coin","quantity"]}},"triggeredAt":{"type":["string","null"]},"exchangeRequestId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"tpslList":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"instrument":{"type":"string"},"type":{"type":"string","enum":["take-profit","stop-loss"]},"side":{"$ref":"#/components/schemas/Side"},"quantity":{"type":"string","description":"Zero for full position"},"price":{"type":"string"},"status":{"type":"string","enum":["waitOrder","active","process","triggered","done","cancelled"]},"triggerOrder":{"oneOf":[{"$ref":"#/components/schemas/OrderIdOutput"},{"type":"null"}]},"triggeredQuantity":{"type":"string"},"cancelledReason":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","instrument","type","side","quantity","price","status","triggerOrder","triggeredQuantity","cancelledReason","createdAt","updatedAt"]}}},"required":["id","user","instrument","type","side","status","rejectedReason","quantity","limitPrice","stopPrice","group","unFilledQuantity","cashQuantity","filledAvgPrice","realizedPnL","fee","triggeredAt","createdAt","updatedAt","tpslList"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/order/limit/{instrument}":{"put":{"tags":["Order"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"instrument","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"quantity":{"anyOf":[{"type":"string"},{"type":"number"}]},"limitPrice":{"anyOf":[{"type":"string"},{"type":"number"}]},"postOnly":{"type":"string"},"signature":{"type":"string"},"smp":{"type":"object","properties":{"smp":{"type":"boolean"},"smpId":{"type":"string"}},"required":["smp","smpId"]},"orderId":{"anyOf":[{"$ref":"#/components/schemas/OrderIdInput"},{"$ref":"#/components/schemas/OrderIdV2Input"}]}},"required":["quantity","limitPrice","signature","orderId"]},"minItems":1,"maxItems":50}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"type":"object","properties":{"orderId":{"$ref":"#/components/schemas/OrderIdOutput"}},"required":["orderId"]},{"anyOf":[{"type":"object","properties":{"success":{"type":"boolean","const":true}},"required":["success"]},{"type":"object","properties":{"success":{"type":"boolean","const":false},"failReason":{"type":"string"}},"required":["success","failReason"]}]}]}}}}}}}},"/api/order/{orderId}":{"get":{"tags":["Order"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"orderId","schema":{"anyOf":[{"$ref":"#/components/schemas/OrderIdInput"},{"$ref":"#/components/schemas/OrderIdV2Input"}]},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/OrderIdOutput"},"user":{"type":"string"},"instrument":{"type":"string"},"type":{"type":"string","enum":["LIMIT","MARKET","STOP","STOP_LIMIT"]},"side":{"$ref":"#/components/schemas/Side"},"status":{"type":"string","enum":["INTENTION","NEW","PARTIALLY_FILLED","FILLED","CANCELLED","REJECTED","EXPIRED","REPLACED","ERROR"]},"rejectedReason":{"type":"string"},"quantity":{"type":"number"},"limitPrice":{"type":"number"},"stopPrice":{"type":["number","null"]},"group":{"type":"string","enum":["manually","tpsl","take-profit","stop-loss","liquidation","adl","otc","otc-hidden"]},"unFilledQuantity":{"type":"number"},"cashQuantity":{"type":"number"},"filledAvgPrice":{"type":"number"},"realizedPnL":{"type":"number"},"fee":{"type":"array","items":{"type":"object","properties":{"coin":{"type":"string"},"quantity":{"type":"number"}},"required":["coin","quantity"]}},"triggeredAt":{"type":["string","null"]},"exchangeRequestId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","user","instrument","type","side","status","rejectedReason","quantity","limitPrice","stopPrice","group","unFilledQuantity","cashQuantity","filledAvgPrice","realizedPnL","fee","triggeredAt","createdAt","updatedAt"]}}}}}},"delete":{"tags":["Order"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"orderId","schema":{"anyOf":[{"$ref":"#/components/schemas/OrderIdInput"},{"$ref":"#/components/schemas/OrderIdV2Input"}]},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/fill":{"get":{"tags":["Order"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"instrument","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"in":"query","name":"after","schema":{"type":"string"},"required":true},{"in":"query","name":"before","schema":{"type":"string"},"required":true},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"order":{"type":"string"},"instrument":{"type":"string"},"fillQuantity":{"type":"number"},"fillPrice":{"type":"number"},"fillRole":{"type":"string","enum":["MAKER","TAKER","NONE"]},"createdAt":{"type":"string"}},"required":["id","order","instrument","fillQuantity","fillPrice","fillRole","createdAt"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/oauth/request/{id}":{"delete":{"tags":["Oauth"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/oauth/request/list":{"get":{"tags":["Oauth"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"withRejected","schema":{"type":"string"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OauthRequestListResponse"}}}}}}},"/api/oauth":{"get":{"tags":["Oauth"],"security":[],"parameters":[{"in":"query","name":"integrationId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"query","name":"scopes","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}],"default":[]}},{"in":"query","name":"state","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OauthGetClientResponse"}}}}}}},"/api/oauth/deny":{"post":{"tags":["Oauth"],"security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OauthDenyBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OauthDenyResponse"}}}}}}},"/api/oauth/approve":{"post":{"tags":["Oauth"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OauthApproveBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OauthResponse"}}}}}}},"/api/mobile-app/blocked-version/{id}":{"put":{"tags":["MobileApp"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"platform":{"type":"string","enum":["android","ios","web"]},"versionMin":{"type":"string","format":"semver","example":"1.0.3"},"versionMax":{"type":"string","format":"semver","example":"1.0.3"},"blockType":{"type":"string","enum":["0","1","2"]},"blockMessage":{"type":"string"},"blockHead":{"type":"string"},"blockButton":{"type":"string"},"blockButtonLink":{"type":"string"}}}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"platform":{"type":"string","enum":["android","ios","web"]},"versionMin":{"type":"string","format":"semver","example":"1.0.3","default":"0.0.0"},"versionMax":{"type":"string","format":"semver","example":"1.0.3"},"blockType":{"type":"string","enum":["0","1","2"]},"blockMessage":{"type":"string"},"blockHead":{"type":"string"},"blockButton":{"type":"string"},"blockButtonLink":{"type":"string"}},"required":["platform","versionMin","versionMax","blockType","blockMessage"]}}}}}},"get":{"tags":["MobileApp"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"platform":{"type":"string","enum":["android","ios","web"]},"versionMin":{"type":"string","format":"semver","example":"1.0.3","default":"0.0.0"},"versionMax":{"type":"string","format":"semver","example":"1.0.3"},"blockType":{"type":"string","enum":["0","1","2"]},"blockMessage":{"type":"string"},"blockHead":{"type":"string"},"blockButton":{"type":"string"},"blockButtonLink":{"type":"string"}},"required":["platform","versionMin","versionMax","blockType","blockMessage"]}}}}}}},"/api/mobile-app/blocked-version/list":{"get":{"tags":["MobileApp"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"platform":{"type":"string","enum":["android","ios","web"]},"versionMin":{"type":"string","format":"semver","example":"1.0.3","default":"0.0.0"},"versionMax":{"type":"string","format":"semver","example":"1.0.3"},"blockType":{"type":"string","enum":["0","1","2"]},"blockMessage":{"type":"string"},"blockHead":{"type":"string"},"blockButton":{"type":"string"},"blockButtonLink":{"type":"string"}},"required":["platform","versionMin","versionMax","blockType","blockMessage"]}}}}}}}},"/api/mobile-app/blocked-version":{"post":{"tags":["MobileApp"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"platform":{"type":"string","enum":["android","ios","web"]},"versionMin":{"type":"string","format":"semver","example":"1.0.3","default":"0.0.0"},"versionMax":{"type":"string","format":"semver","example":"1.0.3"},"blockType":{"type":"string","enum":["0","1","2"]},"blockMessage":{"type":"string"},"blockHead":{"type":"string"},"blockButton":{"type":"string"},"blockButtonLink":{"type":"string"}},"required":["platform","versionMax","blockType","blockMessage"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"platform":{"type":"string","enum":["android","ios","web"]},"versionMin":{"type":"string","format":"semver","example":"1.0.3","default":"0.0.0"},"versionMax":{"type":"string","format":"semver","example":"1.0.3"},"blockType":{"type":"string","enum":["0","1","2"]},"blockMessage":{"type":"string"},"blockHead":{"type":"string"},"blockButton":{"type":"string"},"blockButtonLink":{"type":"string"}},"required":["platform","versionMin","versionMax","blockType","blockMessage"]}}}}}}},"/api/mobile-app/blocked-sdk-version/{id}":{"put":{"tags":["MobileApp"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"platform":{"type":"string","enum":["android","ios","web"]},"versionMin":{"type":"string","format":"semver","example":"1.0.3"},"versionMax":{"type":"string","format":"semver","example":"1.0.3"},"blockType":{"type":"string","enum":["0","1","2"]},"blockMessage":{"type":"string"},"blockHead":{"type":"string"},"blockButton":{"type":"string"},"blockButtonLink":{"type":"string"}}}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"platform":{"type":"string","enum":["android","ios","web"]},"versionMin":{"type":"string","format":"semver","example":"1.0.3","default":"0.0.0"},"versionMax":{"type":"string","format":"semver","example":"1.0.3"},"blockType":{"type":"string","enum":["0","1","2"]},"blockMessage":{"type":"string"},"blockHead":{"type":"string"},"blockButton":{"type":"string"},"blockButtonLink":{"type":"string"}},"required":["platform","versionMin","versionMax","blockType","blockMessage"]}}}}}},"get":{"tags":["MobileApp"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"platform":{"type":"string","enum":["android","ios","web"]},"versionMin":{"type":"string","format":"semver","example":"1.0.3","default":"0.0.0"},"versionMax":{"type":"string","format":"semver","example":"1.0.3"},"blockType":{"type":"string","enum":["0","1","2"]},"blockMessage":{"type":"string"},"blockHead":{"type":"string"},"blockButton":{"type":"string"},"blockButtonLink":{"type":"string"}},"required":["platform","versionMin","versionMax","blockType","blockMessage"]}}}}}}},"/api/mobile-app/blocked-sdk-version/list":{"get":{"tags":["MobileApp"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"platform":{"type":"string","enum":["android","ios","web"]},"versionMin":{"type":"string","format":"semver","example":"1.0.3","default":"0.0.0"},"versionMax":{"type":"string","format":"semver","example":"1.0.3"},"blockType":{"type":"string","enum":["0","1","2"]},"blockMessage":{"type":"string"},"blockHead":{"type":"string"},"blockButton":{"type":"string"},"blockButtonLink":{"type":"string"}},"required":["platform","versionMin","versionMax","blockType","blockMessage"]}}}}}}}},"/api/mobile-app/blocked-sdk-version":{"post":{"tags":["MobileApp"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"platform":{"type":"string","enum":["android","ios","web"]},"versionMin":{"type":"string","format":"semver","example":"1.0.3","default":"0.0.0"},"versionMax":{"type":"string","format":"semver","example":"1.0.3"},"blockType":{"type":"string","enum":["0","1","2"]},"blockMessage":{"type":"string"},"blockHead":{"type":"string"},"blockButton":{"type":"string"},"blockButtonLink":{"type":"string"}},"required":["platform","versionMax","blockType","blockMessage"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"platform":{"type":"string","enum":["android","ios","web"]},"versionMin":{"type":"string","format":"semver","example":"1.0.3","default":"0.0.0"},"versionMax":{"type":"string","format":"semver","example":"1.0.3"},"blockType":{"type":"string","enum":["0","1","2"]},"blockMessage":{"type":"string"},"blockHead":{"type":"string"},"blockButton":{"type":"string"},"blockButtonLink":{"type":"string"}},"required":["platform","versionMin","versionMax","blockType","blockMessage"]}}}}}}},"/api/mobile-app/version-info/{id}":{"put":{"tags":["MobileApp"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileAppVersionInfoUpdateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileAppVersionInfoResponse"}}}}}},"get":{"tags":["MobileApp"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileAppVersionInfoResponse"}}}}}}},"/api/mobile-app/version-info/list":{"get":{"tags":["MobileApp"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileAppVersionInfoListResponse"}}}}}}},"/api/mobile-app/version-info":{"post":{"tags":["MobileApp"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileAppVersionInfoCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileAppVersionInfoResponse"}}}}}},"get":{"tags":["MobileApp"],"security":[],"parameters":[{"in":"query","name":"platform","schema":{"type":"string","enum":["android","ios","web"],"default":"android"}},{"in":"query","name":"version","schema":{"type":"string","format":"semver","example":"1.0.3"},"required":true},{"in":"query","name":"sdk-version","schema":{"type":"string","format":"semver","example":"1.0.3"}},{"in":"query","name":"locale","schema":{"type":"string","enum":["en-US","ru-RU","ar-SA","zh-CN","de-DE","es-ES","pt-PT","tr-TR","uk-UA","ko-KR","fr-FR"],"default":"en-US"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MobileAppVersionInfo"}}}}}}},"/api/market/{instrument}/trades":{"get":{"tags":["Market"],"deprecated":true,"security":[],"parameters":[{"in":"path","name":"instrument","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TradeObject"},"deprecated":true}}}}}}},"/api/market/{instrument}/recent-trades":{"get":{"tags":["Market"],"security":[],"parameters":[{"in":"path","name":"instrument","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RecentTradeObject"}}}}}}}},"/api/market/power":{"get":{"tags":["Market"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"instrument","schema":{"type":"string"},"required":true},{"in":"query","name":"leverage","schema":{"anyOf":[{"type":"number"},{"type":"string"}]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"funding":{"type":"number","deprecated":true},"anotherPositionVolume":{"type":"number","deprecated":true},"buy":{"type":"object","properties":{"position":{"type":"number","deprecated":true},"unFilledOrder":{"type":"number","deprecated":true},"power":{"type":"number"}},"required":["position","unFilledOrder","power"]},"sell":{"type":"object","properties":{"position":{"type":"number","deprecated":true},"unFilledOrder":{"type":"number","deprecated":true},"power":{"type":"number"}},"required":["position","unFilledOrder","power"]}},"required":["funding","anotherPositionVolume","buy","sell"]}}}}}}},"/api/market":{"get":{"tags":["Market"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketInfo"}}}}}}},"/api/market/{instrument}/deep":{"get":{"tags":["Market"],"security":[],"parameters":[{"in":"path","name":"instrument","schema":{"type":"string"},"required":true},{"in":"query","name":"marketLevel","schema":{"type":"string"}},{"in":"query","name":"roundPrice","schema":{"type":"string","enum":["0.1","1","10","50","100"],"default":"0.1","deprecated":true}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"t":{"type":"number"},"asks":{"type":"array","items":{"type":"object","properties":{"price":{"type":"number"},"quantity":{"type":"number"}},"required":["price","quantity"]}},"bids":{"type":"array","items":{"type":"object","properties":{"price":{"type":"number"},"quantity":{"type":"number"}},"required":["price","quantity"]}}},"required":["t","asks","bids"]}}}}}}},"/api/market/available-balance":{"get":{"tags":["Market"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"currency","schema":{"type":"string","enum":["usdt"],"default":"usdt"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"currency":{"type":"string","enum":["usdt"]},"funding":{"type":"object","properties":{"currency":{"type":"string","enum":["usdt"]},"balance":{"type":"number"}},"required":["currency","balance"]},"position":{"type":"array","items":{"$ref":"#/components/schemas/AvailableBalancePosition"}},"negativeUnPnL":{"type":"number"},"openOrder":{"type":"array","items":{"$ref":"#/components/schemas/AvailableBalanceOpenOrder"}},"positions":{"type":"object","additionalProperties":{"type":"number"},"deprecated":true},"openOrders":{"type":"object","additionalProperties":{"type":"number"},"deprecated":true},"availableBalance":{"type":"number"},"updatedAt":{"type":"string"}},"required":["currency","funding","position","negativeUnPnL","openOrder","positions","openOrders","availableBalance","updatedAt"]}}}}}}},"/api/market/instrument":{"get":{"tags":["Market"],"security":[],"parameters":[{"in":"query","name":"fields","schema":{"anyOf":[{"type":"string","enum":["metrics"]},{"type":"array","items":{"type":"string","enum":["metrics"]}},{"type":"null"}]}},{"in":"query","name":"instrument","schema":{"type":"string"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/InstrumentObject"}},{"type":"array","items":{"$ref":"#/components/schemas/InstrumentMetricsObject"}}]}}}}}}},"/api/funded-account/user/list":{"get":{"tags":["Funded Account"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FundedAccountListResponse"}}}}}}},"/api/funded-account/list":{"get":{"tags":["Funded Account"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FundedAccountOptionsListResponse"}}}}}}},"/api/funded-account/create":{"post":{"tags":["Funded Account"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"option":{"type":"string","format":"uuid"},"userAuthId":{"type":"string","format":"uuid"}},"required":["option","userAuthId"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/external/{system}/v1/orderbook":{"get":{"tags":["External"],"security":[],"parameters":[{"in":"path","name":"system","schema":{"type":"string","enum":["cmc","cg"]},"required":true},{"in":"query","name":"pair","schema":{"type":"string"},"required":true},{"in":"query","name":"level","schema":{"type":"string"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"ticker_id":{"type":"string"},"timestamp":{"type":"number"},"bids":{"type":"array","items":{"type":"array","items":{"type":"number"}}},"asks":{"type":"array","items":{"type":"array","items":{"type":"number"}}}},"required":["ticker_id","timestamp","bids","asks"],"description":"Order book response for coinmarketcap"}}}}}}},"/api/external/{system}/v1/contract_specs":{"get":{"tags":["External"],"security":[],"parameters":[{"in":"path","name":"system","schema":{"type":"string","enum":["cmc","cg"]},"required":true},{"in":"query","name":"pair","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"contract_type":{"type":"string","enum":["vanilla","inverse","quanto"]},"contract_price":{"type":"number"},"contract_price_currency":{"type":"string"}},"required":["contract_type","contract_price","contract_price_currency"],"description":"Instruments stats response"}}}}}}},"/api/external/{system}/v1/contracts":{"get":{"tags":["External"],"security":[],"parameters":[{"in":"path","name":"system","schema":{"type":"string","enum":["cmc","cg"]},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"ticker_id":{"type":"string"},"base_currency":{"type":"string"},"target_currency":{"type":"string"},"last_price":{"type":"number"},"base_volume":{"type":"number"},"target_volume":{"type":"number"},"bid":{"type":"number"},"ask":{"type":"number"},"high":{"type":"number"},"low":{"type":"number"},"product_type":{"type":"string"},"open_interest":{"type":"number"},"index_price":{"type":"number"},"index_currency":{"type":"string"},"funding_rate":{"type":"number"},"next_funding_rate":{"type":"number"},"next_funding_rate_timestamp":{"type":"number"}},"required":["ticker_id","base_currency","target_currency","last_price","base_volume","target_volume","bid","ask","high","low","product_type","open_interest","index_price","index_currency","funding_rate","next_funding_rate","next_funding_rate_timestamp"]},"description":"Instruments coingecko response"},{"type":"array","items":{"type":"object","properties":{"ticker_id":{"type":"string"},"base_currency":{"type":"string"},"quote_currency":{"type":"string"},"last_price":{"type":"number"},"base_volume":{"type":"number"},"quote_volume":{"type":"number"},"bid":{"type":"number"},"ask":{"type":"number"},"high":{"type":"number"},"low":{"type":"number"},"product_type":{"type":"string"},"open_interest":{"type":"number"},"open_interest_usd":{"type":"number"},"index_price":{"type":"number"},"funding_rate":{"type":"number"},"next_funding_rate_timestamp":{"type":"number"}},"required":["ticker_id","base_currency","quote_currency","last_price","base_volume","quote_volume","bid","ask","high","low","product_type","open_interest","open_interest_usd","index_price","funding_rate","next_funding_rate_timestamp"]},"description":"Instruments coinmarketcap response"}]}}}}}}},"/api/deposit-bonus/transfer":{"get":{"tags":["Deposit Bonus"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"order","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string"},"quantity":{"type":"string"},"order":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","user","quantity","order","createdAt","updatedAt"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/deposit-bonus/state":{"get":{"tags":["Deposit Bonus"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string"},"bonusSettings":{"type":"object","properties":{"deposit":{"type":"number","minimum":0},"tradeVolume":{"type":"number","minimum":0},"bonus":{"type":"number","minimum":0},"mode":{"type":"string","enum":["newUser","oldUser"]}},"required":["deposit","tradeVolume","bonus","mode"]},"deposit":{"type":"string"},"tradeVolume":{"type":"string"},"expectedTradeVolume":{"type":"string"},"status":{"type":"string","enum":["pending","review","activated","blocked"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","user","bonusSettings","deposit","tradeVolume","expectedTradeVolume","status","createdAt","updatedAt"]}}}}}}},"/api/deposit-bonus/rules":{"get":{"tags":["Deposit Bonus"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"newUser":{"type":"array","items":{"type":"object","properties":{"deposit":{"type":"number","minimum":0},"tradeVolume":{"type":"number","minimum":0},"bonus":{"type":"number","minimum":0},"mode":{"type":"string","enum":["newUser","oldUser"]}},"required":["deposit","tradeVolume","bonus","mode"]}},"oldUser":{"type":"array","items":{"type":"object","properties":{"deposit":{"type":"number","minimum":0},"tradeVolume":{"type":"number","minimum":0},"bonus":{"type":"number","minimum":0},"mode":{"type":"string","enum":["newUser","oldUser"]}},"required":["deposit","tradeVolume","bonus","mode"]}}},"required":["newUser","oldUser"]}}}}}}},"/api/deposit-bonus/balance":{"get":{"tags":["Deposit Bonus"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string"},"balance":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","user","balance","createdAt","updatedAt"]}}}}}}},"/api/deposit/rhino-deposit-address":{"get":{"tags":["Rhino"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"rhinoSourceChainId","schema":{"type":"string","enum":["728126428","1","10","56","137","42161","8453","TON","900"]},"required":true},{"in":"query","name":"destinationChainId","schema":{"type":"string"},"required":true},{"in":"query","name":"depositorAddress","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"sourceChainId":{"type":"string"},"sourceAddress":{"type":"string"},"destinationChainId":{"type":"string"},"destinationAddress":{"type":"string"},"supportedTokens":{"type":"array","items":{"type":"object","properties":{"symbol":{"type":"string"},"address":{"type":"string"},"maxDepositLimitUsd":{"type":"number"},"minDepositLimitUsd":{"type":"number"}},"required":["symbol","address","maxDepositLimitUsd","minDepositLimitUsd"]}}},"required":["sourceChainId","sourceAddress","destinationChainId","destinationAddress","supportedTokens"]}}}}}}},"/api/deposit/details":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositObject"}}}}}}},"/api/coin":{"get":{"tags":["Coin"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CoinList"}}}}}}},"/api/cashback/withdraw":{"post":{"tags":["Cashback"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"quantity":{"anyOf":[{"type":"string"},{"type":"number"}]}},"required":["quantity"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"requestId":{"type":"number"},"recipient":{"type":"string"},"quantity":{"type":"number"},"signature":{"type":"string"}},"required":["requestId","recipient","quantity","signature"]}}}}}}},"/api/cashback":{"get":{"tags":["Cashback"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"available":{"type":"number"},"total":{"type":"number"},"missed":{"type":"number"},"totalClaimed":{"type":"number"},"totalMissed":{"type":"number"}},"required":["available","total","missed","totalClaimed","totalMissed"]}}}}}}},"/api/bot/result":{"put":{"tags":["Bot"],"security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"wallet":{"type":"string"},"botId":{"type":"string"},"inv":{"type":"string"},"real":{"type":"string"}},"required":["wallet","botId","inv","real"]}}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","error"]},"message":{"type":"string"}},"required":["status"]}}}}}}},"/api/bot/order":{"put":{"tags":["Bot"],"security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"wallet":{"type":"string"},"botId":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"state":{"type":"string"},"side":{"type":"string"},"orderType":{"type":"string"},"amount":{"type":"string"},"price":{"type":"string"},"orderId":{"type":"string"}},"required":["state","side","orderType","amount","price","orderId"]}}},"required":["wallet","botId","items"]}}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","error"]},"message":{"type":"string"}},"required":["status"]}}}}}}},"/api/bot":{"put":{"tags":["Bot"],"security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"wallet":{"type":"string"},"exUserId":{"type":"string"},"type":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"botId":{"type":"string"},"pair":{"type":"string"},"trend":{"type":"string","enum":["long","short","neutral","unknown"]},"leverage":{"type":"integer","exclusiveMinimum":0}},"required":["botId","pair","trend","leverage"]}}},"required":["wallet","exUserId","type","items"]}}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["success","error"]},"message":{"type":"string"}},"required":["status"]}}}}}}},"/api/bot/list":{"get":{"tags":["Bot"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"integration","schema":{"type":"string","enum":["bitsgap"]}},{"in":"query","name":"instrument","schema":{"type":"string"}},{"in":"query","name":"trend","schema":{"type":"string","enum":["long","short","neutral","unknown"]}},{"in":"query","name":"sort","schema":{"type":"string","enum":["pnl-asc","pnl-desc"],"default":"pnl-desc"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":["string","null"]},"integration":{"type":"string","enum":["bitsgap"]},"instrument":{"type":"string"},"trend":{"type":"string","enum":["long","short","neutral","unknown"]},"leverage":{"type":"integer","exclusiveMinimum":0},"externalId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"inv":{"type":"string"},"real":{"type":"string"}},"required":["id","type","integration","instrument","trend","leverage","externalId","createdAt","updatedAt","inv","real"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/bot/marketplace/bitsgap":{"put":{"tags":["Bot"],"security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"type":{"type":["string","null"],"default":null},"pairs":{"type":"array","items":{"type":"object","properties":{"profit_1y":{"type":"number"},"trend":{"type":"string","enum":["long","short","neutral","unknown"]},"pair":{"type":"string"},"pair_evedex":{"type":"string"},"link":{"type":"string"}},"required":["profit_1y","trend","pair","pair_evedex","link"]}}},"required":["pairs"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/bot/marketplace":{"get":{"tags":["Bot"],"security":[],"parameters":[{"in":"query","name":"integration","schema":{"type":"string","enum":["bitsgap"]}},{"in":"query","name":"instrument","schema":{"type":"string"}},{"in":"query","name":"trend","schema":{"type":"string","enum":["long","short","neutral","unknown"]}},{"in":"query","name":"sort","schema":{"type":"string","enum":["apy-asc","apy-desc"],"default":"apy-desc"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":["string","null"]},"integration":{"type":"string","enum":["bitsgap"]},"instrument":{"type":"string"},"externalInstrument":{"type":"string"},"apy":{"type":"number"},"trend":{"type":"string","enum":["long","short","neutral","unknown"]},"link":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","type","integration","instrument","externalInstrument","apy","trend","link","createdAt","updatedAt"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/position/history/{positionId}/share":{"post":{"tags":["Badge"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"positionId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadgeShareBodyParams"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PositionHistoryShareResponse"}}}}}}},"/api/position/history/{positionHistoryId}/share/{code}":{"get":{"tags":["Badge"],"security":[],"parameters":[{"in":"path","name":"positionHistoryId","schema":{"type":"string"},"required":true},{"in":"path","name":"code","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadgePositionGetResponse"}}}}}}},"/api/position/{positionId}/share/{code}":{"get":{"tags":["Badge"],"security":[],"parameters":[{"in":"path","name":"positionId","schema":{"type":"string"},"required":true},{"in":"path","name":"code","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadgePositionGetResponse"}}}}}}},"/api/points/share":{"post":{"tags":["Badge"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PointsBadgeShareBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"badgeUrl":{"type":"string"}},"required":["badgeUrl"]}}}}}}},"/api/points/share/{code}":{"get":{"tags":["Badge"],"security":[],"parameters":[{"in":"path","name":"code","schema":{"type":"string"},"required":true},{"in":"query","name":"renderingMode","schema":{"type":"string","enum":["narrow","wide"],"default":"wide"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"badgeUrl":{"type":"string"}},"required":["badgeUrl"]}}}}}}},"/api/order/shared/{pageId}":{"get":{"tags":["Badge"],"security":[],"parameters":[{"in":"path","name":"pageId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"text/html":{"schema":{"type":"string"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/order/{orderId}/share":{"post":{"tags":["Badge"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"orderId","schema":{"anyOf":[{"$ref":"#/components/schemas/OrderIdInput"},{"$ref":"#/components/schemas/OrderIdV2Input"}]},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadgeShareBodyParams"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderShareResponse"}}}}}}},"/api/order/history/{orderHistoryId}/share/{code}":{"get":{"tags":["Badge"],"security":[],"parameters":[{"in":"path","name":"orderHistoryId","schema":{"type":"string"},"required":true},{"in":"path","name":"code","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadgeOrderGetResponse"}}}}}}},"/api/badge/list":{"get":{"tags":["Badge"],"security":[],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/BadgeObject"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/position/{instrument}/share":{"post":{"tags":["Badge"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"instrument","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadgeShareBodyParams"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PositionShareResponse"}}}}}}},"/api/article":{"get":{"tags":["Article"],"security":[],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleList"}}}}}}},"/api/article/{articleId}":{"get":{"tags":["Article"],"security":[],"parameters":[{"in":"path","name":"articleId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Article"}}}}}}},"/api/ai-strategy":{"put":{"tags":["AI Strategy"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"strategyId":{"type":"number"},"initialDeposit":{"type":"string"}},"required":["strategyId","initialDeposit"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"strategyId":{"type":"number"},"pairId":{"type":"number"},"riskPercent":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]},"bias":{"type":"string","enum":["long","short","neutral"]},"timeframe":{"type":"string","enum":["1m","3m","5m","15m"]},"initialDeposit":{"type":"string"},"currentBalance":{"type":"string"},"realizedPnl":{"type":"string"},"reinvestEarnings":{"type":"boolean"},"isActive":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"activatedAt":{"type":["string","null"]}},"required":["id","strategyId","pairId","riskPercent","bias","timeframe","initialDeposit","currentBalance","realizedPnl","reinvestEarnings","isActive","createdAt","updatedAt","activatedAt"]}}}}}},"delete":{"tags":["AI Strategy"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"strategyId","schema":{"type":"number"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}},"get":{"tags":["AI Strategy"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"strategyId":{"type":"number"},"pairId":{"type":"number"},"riskPercent":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]},"bias":{"type":"string","enum":["long","short","neutral"]},"timeframe":{"type":"string","enum":["1m","3m","5m","15m"]},"initialDeposit":{"type":"string"},"currentBalance":{"type":"string"},"realizedPnl":{"type":"string"},"reinvestEarnings":{"type":"boolean"},"isActive":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"activatedAt":{"type":["string","null"]}},"required":["id","strategyId","pairId","riskPercent","bias","timeframe","initialDeposit","currentBalance","realizedPnl","reinvestEarnings","isActive","createdAt","updatedAt","activatedAt"]}}}}}}},"post":{"tags":["AI Strategy"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"strategyId":{"type":"number"},"initialDeposit":{"type":"string"},"apiKey":{"type":"string"},"privateKey":{"type":"string"}},"required":["strategyId","initialDeposit","apiKey","privateKey"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"strategyId":{"type":"number"},"pairId":{"type":"number"},"riskPercent":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]},"bias":{"type":"string","enum":["long","short","neutral"]},"timeframe":{"type":"string","enum":["1m","3m","5m","15m"]},"initialDeposit":{"type":"string"},"currentBalance":{"type":"string"},"realizedPnl":{"type":"string"},"reinvestEarnings":{"type":"boolean"},"isActive":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"activatedAt":{"type":["string","null"]}},"required":["id","strategyId","pairId","riskPercent","bias","timeframe","initialDeposit","currentBalance","realizedPnl","reinvestEarnings","isActive","createdAt","updatedAt","activatedAt"]}}}}}}},"/api/ai-strategy/pairs":{"get":{"tags":["AI Strategy"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"pair":{"type":"object","properties":{"id":{"type":"number"},"baseCoin":{"type":"string"},"quoteCoin":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","baseCoin","quoteCoin","createdAt","updatedAt"]},"strategy":{"type":"object","properties":{"id":{"type":"number"},"pairId":{"type":"number"},"ticker":{"type":"string"},"timeframe":{"type":"string","enum":["1m","3m","5m","15m"]},"instrument":{"type":["string","null"]},"bias":{"type":"string","enum":["long","short","neutral"]},"riskPercent":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]},"reinvestEarnings":{"type":"boolean"},"maxDeviation":{"type":"string"},"outOfDeviation":{"type":"string"},"period":{"type":"number"},"rrRatio":{"type":"string"},"leverage":{"type":"number"},"isActive":{"type":"boolean"},"avgSl":{"type":"string"},"totalPnlPercent":{"type":"string"},"pnl7dPercent":{"type":"string"},"apyPercent":{"type":"string"},"trades7d":{"type":"string"},"trades365d":{"type":"string"},"tradeNumberFrom":{"type":"string"},"tradeNumberTo":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"baseCoin":{"type":"string"},"quoteCoin":{"type":"string"}},"required":["id","pairId","ticker","timeframe","instrument","bias","riskPercent","reinvestEarnings","maxDeviation","outOfDeviation","period","rrRatio","leverage","isActive","avgSl","totalPnlPercent","pnl7dPercent","apyPercent","trades7d","trades365d","tradeNumberFrom","tradeNumberTo","createdAt","updatedAt","baseCoin","quoteCoin"]},"totalSum":{"type":"string"},"totalLimit":{"type":["string","null"]}},"required":["pair","strategy","totalSum","totalLimit"]}}}}}}}},"/api/ai-strategy/best":{"get":{"tags":["AI Strategy"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"pairId":{"type":"number"},"ticker":{"type":"string"},"timeframe":{"type":"string","enum":["1m","3m","5m","15m"]},"instrument":{"type":["string","null"]},"bias":{"type":"string","enum":["long","short","neutral"]},"riskPercent":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]},"reinvestEarnings":{"type":"boolean"},"maxDeviation":{"type":"string"},"outOfDeviation":{"type":"string"},"period":{"type":"number"},"rrRatio":{"type":"string"},"leverage":{"type":"number"},"isActive":{"type":"boolean"},"avgSl":{"type":"string"},"totalPnlPercent":{"type":"string"},"pnl7dPercent":{"type":"string"},"apyPercent":{"type":"string"},"trades7d":{"type":"string"},"trades365d":{"type":"string"},"tradeNumberFrom":{"type":"string"},"tradeNumberTo":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"baseCoin":{"type":"string"},"quoteCoin":{"type":"string"}},"required":["id","pairId","ticker","timeframe","instrument","bias","riskPercent","reinvestEarnings","maxDeviation","outOfDeviation","period","rrRatio","leverage","isActive","avgSl","totalPnlPercent","pnl7dPercent","apyPercent","trades7d","trades365d","tradeNumberFrom","tradeNumberTo","createdAt","updatedAt","baseCoin","quoteCoin"]}}}}}}}},"/api/ai-strategy/all":{"get":{"tags":["AI Strategy"],"security":[],"parameters":[{"in":"query","name":"pairId","schema":{"type":"integer","exclusiveMinimum":0}},{"in":"query","name":"timeframe","schema":{"type":"string","enum":["1m","3m","5m","15m"]}},{"in":"query","name":"bias","schema":{"type":"string","enum":["long","short","neutral"]}},{"in":"query","name":"riskPercent","schema":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]}},{"in":"query","name":"reinvestEarnings","schema":{"type":"string","enum":["yes","no"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"pairId":{"type":"number"},"ticker":{"type":"string"},"timeframe":{"type":"string","enum":["1m","3m","5m","15m"]},"instrument":{"type":["string","null"]},"bias":{"type":"string","enum":["long","short","neutral"]},"riskPercent":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]},"reinvestEarnings":{"type":"boolean"},"maxDeviation":{"type":"string"},"outOfDeviation":{"type":"string"},"period":{"type":"number"},"rrRatio":{"type":"string"},"leverage":{"type":"number"},"isActive":{"type":"boolean"},"avgSl":{"type":"string"},"totalPnlPercent":{"type":"string"},"pnl7dPercent":{"type":"string"},"apyPercent":{"type":"string"},"trades7d":{"type":"string"},"trades365d":{"type":"string"},"tradeNumberFrom":{"type":"string"},"tradeNumberTo":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"baseCoin":{"type":"string"},"quoteCoin":{"type":"string"}},"required":["id","pairId","ticker","timeframe","instrument","bias","riskPercent","reinvestEarnings","maxDeviation","outOfDeviation","period","rrRatio","leverage","isActive","avgSl","totalPnlPercent","pnl7dPercent","apyPercent","trades7d","trades365d","tradeNumberFrom","tradeNumberTo","createdAt","updatedAt","baseCoin","quoteCoin"]}}}}}}}},"/api/ai-strategy/order":{"get":{"tags":["AI Strategy"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"subscribeId","schema":{"type":"string"}},{"in":"query","name":"pairId","schema":{"type":"string"}},{"in":"query","name":"after","schema":{"type":"string"},"required":true},{"in":"query","name":"before","schema":{"type":"string"},"required":true},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"evedexId":{"type":"string"},"instrument":{"type":"string"},"side":{"type":"string","enum":["BUY","SELL"]},"cashQuantity":{"type":"string"},"leverage":{"type":"number"},"timeInForce":{"type":"string","enum":["DAY","GTC","FOK","IOC"]},"status":{"type":"string","enum":["INTENTION","NEW","PARTIALLY_FILLED","FILLED","CANCELLED","REJECTED","EXPIRED","REPLACED","ERROR"]},"realizedPnl":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","evedexId","instrument","side","cashQuantity","leverage","timeInForce","status","realizedPnl","createdAt","updatedAt"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}}},"components":{"securitySchemes":{"InternalToken":{"type":"http","scheme":"bearer"},"AccessToken":{"type":"http","scheme":"bearer"},"ApiKey":{"type":"apiKey","in":"header","name":"X-API-Key"}},"schemas":{"PingResponse":{"type":"object","properties":{"time":{"type":"number","description":"Current timestamp"}},"required":["time"],"description":"Ping response"},"OrderIdV2Input":{"type":"string","pattern":"[0-9]{5}:[0-9A-Fa-f]{26}"},"OrderIdOutput":{"type":"string"},"Side":{"type":"string","enum":["BUY","SELL"]},"UserImageStateResponse":{"type":"object","properties":{"ok":{"type":"boolean"},"userTries":{"type":"integer"},"total":{"type":"integer"}},"required":["ok","userTries","total"]},"UpdateUserBody":{"type":"object","properties":{"name":{"type":"string"},"social":{"type":"array","items":{"$ref":"#/components/schemas/UserSocial"}},"locale":{"type":"string","enum":["en-US","ru-RU","ar-SA","zh-CN","de-DE","es-ES","pt-PT","tr-TR","uk-UA","ko-KR","fr-FR"]},"dateTimeFormat":{"type":"string","enum":["YYYY-MM-DD, hh:mm:ss A","DD.MM.YYYY, HH:mm:ss","DD MMM YYYY, HH:mm:ss","MMM DD, YYYY, hh:mm:ss A"]},"publicProfile":{"type":"object","properties":{"statistics":{"type":"boolean"},"chart":{"type":"boolean"},"positionHistory":{"type":"boolean"}},"required":["statistics","chart","positionHistory"]}}},"UserSocial":{"type":"object","properties":{"type":{"type":"string","enum":["telegram","youtube","instagram","facebook","twitter","discord","other"]},"value":{"type":"string"}},"required":["type","value"]},"UserUpdateResponse":{"type":"object","properties":{"id":{"type":"string","description":"UserId"},"authId":{"type":"string","description":"AuthId"},"exchangeId":{"type":"number","description":"UserExchangeId"},"name":{"type":["string","null"]},"wallet":{"type":"string"},"smartAccountAddress":{"type":"string"},"social":{"type":"array","items":{"$ref":"#/components/schemas/UserSocial"}},"avatar":{"type":"string","format":"uri"},"locale":{"type":"string","enum":["en-US","ru-RU","ar-SA","zh-CN","de-DE","es-ES","pt-PT","tr-TR","uk-UA","ko-KR","fr-FR"]},"dateTimeFormat":{"type":"string","enum":["YYYY-MM-DD, hh:mm:ss A","DD.MM.YYYY, HH:mm:ss","DD MMM YYYY, HH:mm:ss","MMM DD, YYYY, hh:mm:ss A"]},"disabledPFTrading":{"type":"boolean"},"marginCall":{"type":"boolean"},"tradingRole":{"type":"string","enum":["trader","market-maker","chart-maker","system"]},"tradingFees":{"type":"object","properties":{"taker":{"type":"number"},"maker":{"type":"number"},"liquidation":{"type":"number"}},"required":["taker","maker","liquidation"]},"settings":{"type":["object","null"],"properties":{"fundedLiquidity":{"type":"number","default":0},"minBalance":{"type":"number","default":0}},"required":["fundedLiquidity","minBalance"],"default":null},"publicProfileSettings":{"type":"object","properties":{"statistics":{"type":"boolean"},"chart":{"type":"boolean"},"positionHistory":{"type":"boolean"}},"required":["statistics","chart","positionHistory"]},"riskFactorOverride":{"type":"object","properties":{"leverageLimit":{"type":"object","additionalProperties":{"type":"number"}}}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"authAccountType":{"type":"string","enum":["main","sub","funded"]}},"required":["name","wallet","smartAccountAddress","social","avatar","locale","dateTimeFormat","disabledPFTrading","marginCall","tradingRole","tradingFees","settings","publicProfileSettings","riskFactorOverride","createdAt","updatedAt","authAccountType"]},"UserStatisticsResponse":{"type":"object","properties":{"profitDeals
[...]
