openapi: 3.2.0
info:
  title: EVEDEX - Academy Module API
  version: 1.0.0
servers:
- url: https://academy.evedex.com
tags:
- name: Module
paths:
  /api/course/{courseId}/module/{moduleId}:
    put:
      tags:
      - Module
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: courseId
        schema:
          type: string
          format: uuid
        required: true
      - in: path
        name: moduleId
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModuleUpdateBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleObject'
      summary: Replace api course by course id module by module id
      x-summary-source: derived
      operationId: putApiCourseByCourseIdModuleByModuleId
      x-operation-id-source: derived
    delete:
      tags:
      - Module
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: courseId
        schema:
          type: string
          format: uuid
        required: true
      - in: path
        name: moduleId
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      summary: Delete api course by course id module by module id
      x-summary-source: derived
      operationId: deleteApiCourseByCourseIdModuleByModuleId
      x-operation-id-source: derived
  /api/course/{courseId}/module:
    post:
      tags:
      - Module
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: courseId
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModuleCreateBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModuleObject'
      summary: Create api course by course id module
      x-summary-source: derived
      operationId: postApiCourseByCourseIdModule
      x-operation-id-source: derived
components:
  schemas:
    ModuleObject:
      type: object
      properties:
        id:
          type: string
        course:
          type: string
        name:
          type: string
        order:
          type: number
        published:
          type: boolean
        releaseDate:
          type:
          - string
          - 'null'
        createdAt:
          type: string
        updatedAt:
          type: string
      required:
      - id
      - course
      - name
      - order
      - published
      - releaseDate
      - createdAt
      - updatedAt
    ModuleUpdateBody:
      type: object
      properties:
        name:
          type: string
        order:
          type: number
        published:
          type: boolean
        releaseDate:
          type: string
          format: date-time
    EmptyResponse:
      type: object
    ModuleCreateBody:
      type: object
      properties:
        name:
          type: string
      required:
      - name
  securitySchemes:
    AccessToken:
      type: http
      scheme: bearer
    InternalKey:
      type: http
      scheme: bearer
