openapi: 3.2.0
info:
  title: EVEDEX - Backoffice general Exchange API
  version: 1.0.0
servers:
- url: https://backoffice-api.private.evedex.com
tags:
- name: Exchange
paths:
  /api/withdraw/unblock:
    post:
      tags:
      - Exchange
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                withdrawId:
                  type: string
              required:
              - withdrawId
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
  /api/withdraw/reject:
    post:
      tags:
      - Exchange
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                withdrawId:
                  type: string
              required:
              - withdrawId
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
  /api/withdraw/blocked-list:
    get:
      tags:
      - Exchange
      security:
      - AccessToken: []
      parameters:
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/PageLimitParam'
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/PageOffsetParam'
      - in: query
        name: userId
        schema:
          type: string
      - in: query
        name: authId
        schema:
          type: string
      - in: query
        name: smartAccount
        schema:
          type: string
      - in: query
        name: after
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: before
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: status
        schema:
          anyOf:
          - type: string
            enum:
            - pending
            - blocked
            - done
            - error
          - type: array
            items:
              type: string
              enum:
              - pending
              - blocked
              - done
              - error
      - in: query
        name: amountFrom
        schema:
          type: number
      - in: query
        name: amountTo
        schema:
          type: number
      - in: query
        name: riskScore
        schema:
          type: integer
          exclusiveMinimum: 0
      - in: query
        name: riskType
        schema:
          anyOf:
          - type: string
            enum:
            - depositRisk
            - withdrawRisk
            - withdrawalByIpRisk
            - withdrawalByFingerprintRisk
            - httpClientDetectionRisk
            - pnlRisk
            - tradingBalanceRisk
            - amlBlockRisk
            - highWinRateRisk
            - sharpeAnomalyRisk
          - type: array
            items:
              type: string
              enum:
              - depositRisk
              - withdrawRisk
              - withdrawalByIpRisk
              - withdrawalByFingerprintRisk
              - httpClientDetectionRisk
              - pnlRisk
              - tradingBalanceRisk
              - amlBlockRisk
              - highWinRateRisk
              - sharpeAnomalyRisk
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockedPfWithdrawListObject'
  /api/tariff/user/{authId}:
    put:
      tags:
      - Exchange
      description: Update tariff
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: authId
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TariffUpdateBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TariffObject'
    post:
      tags:
      - Exchange
      description: Create tariff
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: authId
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TariffCreateBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TariffObject'
  /api/exchange/liquidation/levels/{pair}:
    get:
      tags:
      - Exchange
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: pair
        schema:
          type: string
        required: true
      - in: query
        name: from
        schema:
          type: string
      - in: query
        name: to
        schema:
          type: string
      - in: query
        name: step
        schema:
          type: string
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidationLevelStatisticsResponse'
components:
  schemas:
    BlockedPfWithdrawListObject:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/BlockedPfWithdraw'
        count:
          type: number
        next:
          type: string
      required:
      - list
      - count
    LiquidationLevelStatisticsResponse:
      type: object
      properties:
        markPrice:
          type: number
        timecode:
          type: string
        pair:
          type: string
        levels:
          type: array
          items:
            type: object
            properties:
              from:
                type: number
              to:
                type: number
              users:
                type: number
              volume:
                type: number
            required:
            - from
            - to
            - users
            - volume
      required:
      - markPrice
      - timecode
      - pair
      - levels
    TariffCreateBody:
      type: object
      properties:
        product:
          type: string
          format: uuid
        paymentDate:
          type: string
          format: date-time
        startedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
        issuedBy:
          type: string
      required:
      - product
      - issuedBy
    TariffUpdateBody:
      type: object
      properties:
        startedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
    BlockedPfWithdraw:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user:
          type: string
          description: UserId
        authId:
          type: string
          description: AuthId
        type:
          type: string
          enum:
          - deposit
          - withdraw
          - transfer-pfutures-balance
          - transfer-balance-pfutures
          - paymaster-fee
          - paymaster-refund
          - cashback-withdraw
        coin:
          type: string
        amount:
          type: number
        status:
          type: string
          enum:
          - pending
          - blocked
          - done
          - error
        createdAt:
          type: string
        updatedAt:
          type: string
        transactionHash:
          type:
          - string
          - 'null'
        requestId:
          type:
          - number
          - 'null'
        failReason:
          type: string
        requestTagId:
          type: string
        prevAvailableBalance:
          type: string
        isManual:
          type: boolean
        riskScore:
          type:
          - number
          - 'null'
        riskTypes:
          type:
          - array
          - 'null'
          items:
            type: string
            enum:
            - depositRisk
            - withdrawRisk
            - withdrawalByIpRisk
            - withdrawalByFingerprintRisk
            - httpClientDetectionRisk
            - pnlRisk
            - tradingBalanceRisk
            - amlBlockRisk
            - highWinRateRisk
            - sharpeAnomalyRisk
      required:
      - id
      - type
      - coin
      - amount
      - status
      - createdAt
      - updatedAt
      - transactionHash
      - failReason
      - requestTagId
      - prevAvailableBalance
      - isManual
      - riskScore
      - riskTypes
    PageOffsetParam:
      type: string
      default: '0'
    TariffObject:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user:
          type: string
          format: uuid
        startedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
        paymentDate:
          type:
          - string
          - 'null'
          format: date-time
        privilegies:
          type: object
          properties:
            type:
              type: string
              enum:
              - premium
              - academyCourse
            courses:
              type: array
              items:
                type: string
          required:
          - type
        issuedBy:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - user
      - startedAt
      - endedAt
      - paymentDate
      - privilegies
      - issuedBy
      - createdAt
      - updatedAt
    PageLimitParam:
      type: string
      default: '50'
    EmptyResponse:
      type: object
  securitySchemes:
    AccessToken:
      type: http
      scheme: bearer
