openapi: 3.2.0
info:
  title: Evedex User API
  version: 1.0.0
  description: 'Operations tagged User across 7 of this provider''s published API definitions: evedex-academy-openapi.json, evedex-auth-openapi.json, evedex-backoffice-openapi.json, evedex-exchange-openapi.json, evedex-game-openapi.json, evedex-notifications-openapi.json, evedex-referral-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://academy.evedex.com
- url: https://auth-api.evedex.com
- url: https://backoffice-api.private.evedex.com
- url: https://exchange-api.evedex.com
- url: https://game-api.evedex.com
- url: https://notifications-api.evedex.com
- url: https://partner-api.evedex.com
tags:
- name: User
paths:
  /api/user/me:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    servers:
    - url: https://academy.evedex.com
  /api/user/account:
    post:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    servers:
    - url: https://academy.evedex.com
  /auth/user/subscriptions/lookup:
    post:
      tags:
      - User
      security:
      - InternalToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLookupBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSubscriptionsResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/user/media/list:
    get:
      tags:
      - User
      security:
      - InternalToken: []
      parameters:
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/PageLimitParam'
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/PageOffsetParam'
      - in: query
        name: authId
        description: Filter by specific user ID
        schema:
          type: string
          format: uuid
          description: Filter by specific user ID
      - in: query
        name: authIds
        description: Filter by specific user IDs
        schema:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          maxItems: 20
          description: Filter by specific user IDs
      - in: query
        name: email
        schema:
          type: string
      - in: query
        name: telegram
        schema:
          type: string
      - in: query
        name: discord
        schema:
          type: string
      - in: query
        name: mobilePushEnabled
        schema:
          type: string
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMediaListResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/user/{authId}/balance:
    get:
      tags:
      - User
      security:
      - InternalToken: []
      parameters:
      - in: path
        name: authId
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WalletBalanceObject'
    servers:
    - url: https://auth-api.evedex.com
  /auth/user/balance:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WalletBalanceObject'
    servers:
    - url: https://auth-api.evedex.com
  /auth/user/{id}:
    put:
      tags:
      - User
      security:
      - InternalToken: []
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_2'
    delete:
      tags:
      - User
      security:
      - InternalToken: []
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/user/sign-up:
    post:
      tags:
      - User
      security: []
      parameters:
      - in: query
        name: noCookieReplace
        schema:
          type: string
          enum:
          - 'yes'
          - 'no'
          - ''
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Auth'
    servers:
    - url: https://auth-api.evedex.com
  /auth/user/{id}/referral-code:
    put:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserReferralCodeBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/user/me:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_2'
    servers:
    - url: https://auth-api.evedex.com
  /auth/user/logout:
    post:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/location:
    get:
      tags:
      - User
      security: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/links/{type}:
    get:
      tags:
      - User
      security: []
      parameters:
      - in: path
        name: type
        schema:
          type: string
        required: true
      - in: query
        name: utm_source
        schema:
          type: string
      - in: query
        name: utm_medium
        schema:
          type: string
      - in: query
        name: utm_campaign
        schema:
          type: string
      - in: query
        name: utm_term
        schema:
          type: string
      - in: query
        name: utm_content
        schema:
          type: string
      responses:
        '302':
          description: 302 OK
    servers:
    - url: https://auth-api.evedex.com
  /auth/user:
    get:
      tags:
      - User
      security:
      - InternalToken: []
      parameters:
      - in: query
        name: id
        description: Account ID
        schema:
          type:
          - string
          - 'null'
          description: Account ID
      - in: query
        name: wallet
        description: Wallet address
        schema:
          type:
          - string
          - 'null'
          description: Wallet address
      - in: query
        name: smartAccountAddress
        description: Smart account address
        schema:
          type:
          - string
          - 'null'
          description: Smart account address
      - in: query
        name: email
        description: Email address
        schema:
          type: string
          description: Email address
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type:
                - object
                - 'null'
                properties:
                  id:
                    type: string
                    format: uuid
                  avatar:
                    type:
                    - string
                    - 'null'
                  cover:
                    type:
                    - string
                    - 'null'
                  wallet:
                    type: string
                  role:
                    type: string
                    enum:
                    - admin
                    - manager
                    - user
                    - academy-curator
                    - academy-moderator
                  name:
                    type:
                    - string
                    - 'null'
                  status:
                    type:
                    - string
                    - 'null'
                  description:
                    type:
                    - string
                    - 'null'
                  email:
                    type:
                    - string
                    - 'null'
                  locale:
                    type: string
                    enum:
                    - en-US
                    - ru-RU
                    - es-ES
                    - fr-FR
                    - de-DE
                    - it-IT
                    - pt-BR
                    - ja-JP
                    - ko-KR
                    - zh-CN
                    - zh-TW
                    - ar-SA
                    - pt-PT
                    - tr-TR
                    - uk-UA
                  telegramProfile:
                    type:
                    - object
                    - 'null'
                    properties:
                      shortUsername:
                        type: string
                    required:
                    - shortUsername
                  discordId:
                    type:
                    - string
                    - 'null'
                  discordName:
                    type:
                    - string
                    - 'null'
                  mobilePushEnabled:
                    type: boolean
                  referralCode:
                    type:
                    - string
                    - 'null'
                  smartAccountsList:
                    type: array
                    items:
                      type: object
                      properties:
                        network:
                          type: string
                        address:
                          type: string
                        version:
                          type: number
                        isDeployed:
                          type: boolean
                      required:
                      - network
                      - address
                      - version
                      - isDeployed
                    description: User owned smart accounts list
                  parentSmartAccountList:
                    type: array
                    items:
                      type: object
                      properties:
                        network:
                          type: string
                        address:
                          type: string
                        version:
                          type: number
                        isDeployed:
                          type: boolean
                      required:
                      - network
                      - address
                      - version
                      - isDeployed
                    description: Parent user owned smart accounts list (for sub accounts)
                  subAccountIndex:
                    type: string
                  signUpMethod:
                    type: string
                    enum:
                    - email
                    - google
                    - apple
                    - wallet
                    - telegram
                    - twitter
                  platform:
                    type:
                    - string
                    - 'null'
                    enum:
                    - WEB_MOB
                    - WEB_DESKTOP
                    - WEB_OTHER
                    - APP_ANDROID
                    - APP_IOS
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                  lastSignInAt:
                    type:
                    - string
                    - 'null'
                  subscriptionStatus:
                    type: string
                    enum:
                    - none
                    - expired
                    - active
                    - canceling
                    - renewed
                    default: none
                  privilegiesType:
                    type:
                    - string
                    - 'null'
                    enum:
                    - premium
                    - academyCourse
                    default: null
                  type:
                    type: string
                    enum:
                    - user
                    - autotest
                    description: User type
                  accountType:
                    type: string
                    enum:
                    - main
                    - sub
                    - funded
                    description: Account type (main or sub)
                  accountStatus:
                    type: string
                    enum:
                    - active
                    - inactive
                    - initial
                    - smartAccountReady
                    description: Account status (active, inactive, etc.)
                  parent:
                    type:
                    - string
                    - 'null'
                    format: uuid
                    description: Parent account ID for sub accounts
                  isArchived:
                    type: boolean
                    description: Whether the sub account is archived
                  twofa:
                    type: boolean
                  permissions:
                    type: array
                    items:
                      type: string
                  subscriptionEndedAt:
                    type:
                    - string
                    - 'null'
                    default: null
                required:
                - id
                - avatar
                - cover
                - wallet
                - role
                - name
                - status
                - description
                - email
                - locale
                - telegramProfile
                - discordId
                - discordName
                - mobilePushEnabled
                - referralCode
                - smartAccountsList
                - signUpMethod
                - platform
                - createdAt
                - updatedAt
                - lastSignInAt
                - subscriptionStatus
                - privilegiesType
                - type
                - accountType
                - accountStatus
                - parent
                - isArchived
                - twofa
                - permissions
                - subscriptionEndedAt
    post:
      tags:
      - User
      security:
      - InternalToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_2'
    servers:
    - url: https://auth-api.evedex.com
  /auth/user/{authId}/block:
    post:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: authId
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                blocked:
                  type: boolean
                  default: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/wallet/transfer:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: query
        name: status
        schema:
          anyOf:
          - type: string
            enum:
            - pending
            - blocked
            - process
            - detained
            - done
            - refunded
            - error
          - type: array
            items:
              type: string
              enum:
              - pending
              - blocked
              - process
              - detained
              - done
              - refunded
              - error
      - in: query
        name: type
        schema:
          anyOf:
          - type: string
            enum:
            - deposit
            - withdraw
            - transfer-pfutures-balance
            - transfer-balance-pfutures
            - paymaster-fee
            - paymaster-refund
            - cashback-withdraw
            - lucky-shot-withdraw
            - smart-account-transfer
            - transfer-balance-sub-pfutures
          - type: array
            items:
              type: string
              enum:
              - deposit
              - withdraw
              - transfer-pfutures-balance
              - transfer-balance-pfutures
              - paymaster-fee
              - paymaster-refund
              - cashback-withdraw
              - lucky-shot-withdraw
              - smart-account-transfer
              - transfer-balance-sub-pfutures
      - in: query
        name: after
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: before
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/PageLimitParam'
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/PageOffsetParam'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/WalletTransferWithFeesObject'
                  count:
                    type: number
                  next:
                    type: string
                required:
                - list
                - count
    servers:
    - url: https://auth-api.evedex.com
  /auth/transfer:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: query
        name: type
        schema:
          type: string
          enum:
          - deposit
          - withdrawal
          - smartAccountTransfer
          - partnerRewardTransfer
          - all
          default: deposit
      - in: query
        name: after
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: before
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/PageLimitParam'
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/PageOffsetParam'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          authId:
                            type: string
                            format: uuid
                          type:
                            type: string
                            const: deposit
                          network:
                            type: string
                          destinationNetwork:
                            type:
                            - string
                            - 'null'
                          transactionHash:
                            type: string
                          wallet:
                            type: string
                            description: initial funds sender
                          depositor:
                            type: string
                            description: funds receiver (bridgeMiddleware contracts)
                          token:
                            type: string
                          amount:
                            type:
                            - string
                            - 'null'
                          status:
                            type: string
                            enum:
                            - pending
                            - detained
                            - process
                            - done
                            - refunded
                            - error
                          amlStatus:
                            type:
                            - string
                            - 'null'
                            enum:
                            - blocked
                            - pending
                            - process
                            - skip
                            - green
                            - red
                            - approve
                            - refund
                            - manual-red
                            - manual-green
                          originToken:
                            type:
                            - string
                            - 'null'
                          originAmount:
                            type:
                            - string
                            - 'null'
                          originAmountUsdt:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                        required:
                        - id
                        - authId
                        - type
                        - network
                        - destinationNetwork
                        - transactionHash
                        - wallet
                        - depositor
                        - token
                        - amount
                        - status
                        - amlStatus
                        - originToken
                        - originAmount
                        - originAmountUsdt
                        - createdAt
                        - updatedAt
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          authId:
                            type: string
                            format: uuid
                          type:
                            type: string
                            const: withdrawal
                          network:
                            type: string
                          destinationNetwork:
                            type:
                            - string
                            - 'null'
                          transactionHash:
                            type: string
                          destinationTransactionHash:
                            type:
                            - string
                            - 'null'
                          recipient:
                            type: string
                            description: funds receiver (in different network)
                          depositor:
                            type: string
                            description: funds sender
                          token:
                            type: string
                          amount:
                            type:
                            - string
                            - 'null'
                          status:
                            type: string
                            enum:
                            - pending
                            - detained
                            - process
                            - done
                            - refunded
                            - error
                          externalId:
                            type:
                            - string
                            - 'null'
                          fee:
                            type:
                            - object
                            - 'null'
                            properties:
                              total:
                                type:
                                - string
                                - 'null'
                              platform:
                                type:
                                - string
                                - 'null'
                              percentage:
                                type:
                                - string
                                - 'null'
                              gas:
                                type:
                                - string
                                - 'null'
                              feeCurrency:
                                type:
                                - string
                                - 'null'
                            required:
                            - total
                            - platform
                            - percentage
                            - gas
                            - feeCurrency
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                        required:
                        - id
                        - authId
                        - type
                        - network
                        - destinationNetwork
                        - transactionHash
                        - destinationTransactionHash
                        - recipient
                        - depositor
                        - token
                        - amount
                        - status
                        - externalId
                        - fee
                        - createdAt
                        - updatedAt
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          authId:
                            type: string
                            format: uuid
                          type:
                            type: string
                            const: smartAccountTransfer
                          network:
                            type: string
                          transactionHash:
                            type: string
                          token:
                            type: string
                          amount:
                            type:
                            - string
                            - 'null'
                          status:
                            type: string
                            enum:
                            - pending
                            - detained
                            - process
                            - done
                            - refunded
                            - error
                          from:
                            type: string
                          to:
                            type: string
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                        required:
                        - id
                        - authId
                        - type
                        - network
                        - transactionHash
                        - token
                        - amount
                        - status
                        - from
                        - to
                        - createdAt
                        - updatedAt
                      - type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          authId:
                            type: string
                            format: uuid
                          type:
                            type: string
                            const: partnerRewardTransfer
                          network:
                            type: string
                          transactionHash:
                            type: string
                          token:
                            type: string
                          amount:
                            type:
                            - string
                            - 'null'
                          from:
                            type: string
                          to:
                            type: string
                          status:
                            type: string
                            enum:
                            - pending
                            - detained
                            - process
                            - done
                            - refunded
                            - error
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                        required:
                        - id
                        - authId
                        - type
                        - network
                        - transactionHash
                        - token
                        - amount
                        - from
                        - to
                        - status
                        - createdAt
                        - updatedAt
                  count:
                    type: number
                  next:
                    type: string
                required:
                - list
                - count
    servers:
    - url: https://auth-api.evedex.com
  /auth/user/trading-view-settings:
    post:
      tags:
      - User
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTradingViewSettingsBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    get:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTradingViewSettingsResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/user-profile:
    put:
      tags:
      - User
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileUpdateBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_2'
    delete:
      tags:
      - User
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileDeleteBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/user-profile/{authId}:
    delete:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: authId
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/user-profile/deletion-confirmation:
    get:
      tags:
      - User
      security: []
      parameters:
      - in: query
        name: token
        schema:
          type: string
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/2fa/verify:
    post:
      tags:
      - User
      security:
      - InternalToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                authId:
                  type: string
                code:
                  type: string
              required:
              - authId
              - code
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                required:
                - verified
    servers:
    - url: https://auth-api.evedex.com
  /auth/2fa/enable:
    post:
      tags:
      - User
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - type: object
                properties:
                  type:
                    type: string
                    const: TOTP
                required:
                - type
                additionalProperties: false
              - type: object
                properties:
                  type:
                    type: string
                    const: TOTP
                  code:
                    type: string
                required:
                - type
                - code
                additionalProperties: false
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                anyOf:
                - type: object
                  properties:
                    secret:
                      type: string
                    secretUrl:
                      type: string
                  required:
                  - secret
                - type: object
                  properties:
                    token:
                      $ref: '#/components/schemas/JWT'
                  required:
                  - token
    servers:
    - url: https://auth-api.evedex.com
  /auth/2fa/disable:
    post:
      tags:
      - User
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
              required:
              - code
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    $ref: '#/components/schemas/JWT'
                required:
                - token
    servers:
    - url: https://auth-api.evedex.com
  /auth/user/fingerprint/verify:
    post:
      tags:
      - User
      security:
      - InternalToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FingerprintVerifyBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FingerprintVerifyResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/user/{authId}/fingerprint:
    get:
      tags:
      - User
      security:
      - InternalToken: []
      parameters:
      - in: path
        name: authId
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserFingerprintResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/api-key/{apiKeyId}/restore:
    post:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: apiKeyId
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/api-key/{apiKeyId}/regenerate:
    put:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: apiKeyId
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyRegenerateResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/api-key:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: query
        name: withDeleted
        schema:
          type: string
      - in: query
        name: withExpired
        schema:
          type: string
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/PageLimitParam'
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/PageOffsetParam'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyList'
    post:
      tags:
      - User
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreateResponse'
    servers:
    - url: https://auth-api.evedex.com
  /auth/api-key/{apiKeyId}:
    delete:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: apiKeyId
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    servers:
    - url: https://auth-api.evedex.com
  /api/user/{userId}/trade-info:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  authId:
                    type: string
                    format: uuid
                  ordersCreated:
                    type: number
                  totalBalanceAmount:
                    type: string
                  tradeVolume:
                    type: string
                  feeVolume:
                    type: string
                required:
                - authId
                - ordersCreated
                - totalBalanceAmount
                - tradeVolume
                - feeVolume
    servers:
    - url: https://backoffice-api.private.evedex.com
  /api/user/{userId}/general-info:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  authId:
                    type: string
                    format: uuid
                  registrationDate:
                    type: string
                  firstDepositDate:
                    type:
                    - string
                    - 'null'
                  totalDepositAmount:
                    type: string
                    default: '0'
                  totalWithdrawAmount:
                    type: string
                    default: '0'
                required:
                - authId
                - registrationDate
                - firstDepositDate
                - totalDepositAmount
                - totalWithdrawAmount
    servers:
    - url: https://backoffice-api.private.evedex.com
  /api/user/{userId}/affiliate-info:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  authId:
                    type: string
                    format: uuid
                  referrer:
                    type:
                    - string
                    - 'null'
                    format: uuid
                  referralsCounter:
                    type: number
                  referrerEarnings:
                    type: string
                required:
                - authId
                - referrer
                - referralsCounter
                - referrerEarnings
    servers:
    - url: https://backoffice-api.private.evedex.com
  /api/user/{userId}:
    put:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: userId
        description: UserId
        schema:
          type: string
          description: UserId
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserBody_2'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUpdateResponse'
    delete:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/statistics:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: query
        name: after
        schema:
          type: string
          default: '2026-07-25T13:42:45.165Z'
      - in: query
        name: before
        schema:
          type: string
          default: '2026-08-25T13:42:45.166Z'
      - in: query
        name: group
        schema:
          type:
          - string
          - 'null'
          enum:
          - day
          - week
          - month
          - year
          default: month
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStatisticsResponse'
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/sign-up/{wallet}/check:
    get:
      tags:
      - User
      security: []
      parameters:
      - in: path
        name: wallet
        schema:
          type: string
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckSignUpBadgeResponse'
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/sign-up/quota:
    get:
      tags:
      - User
      security: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignUpQuotaResponse'
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/list:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: query
        name: authId
        schema:
          type: string
          format: uuid
      - in: query
        name: search
        schema:
          type: string
          minLength: 3
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/PageLimitParam'
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/PageOffsetParam'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/faucet/check:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  ttl:
                    type: number
                required:
                - ok
                - ttl
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/faucet:
    post:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/balance/chart:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: query
        name: after
        schema:
          type: string
          default: '2026-07-25T13:42:45.170Z'
      - in: query
        name: before
        schema:
          type: string
          default: '2026-08-25T13:42:45.171Z'
      - in: query
        name: group
        schema:
          type: string
          enum:
          - hour
          - day
          - week
          - month
          - year
          default: month
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - date-asc
          - date-desc
          default: date-desc
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceChart'
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/balance:
    get:
      tags:
      - User
      deprecated: true
      description: Use GET /auth/user/balance from auth-backend instead
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BalanceItem'
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/yield/earned:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserYieldEarned'
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/oct/delegate:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegateList'
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/funding-transfer:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: query
        name: after
        schema:
          type: string
      - in: query
        name: before
        schema:
          type: string
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/PageOffsetParam'
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/PageLimitParam'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/FundingTransferObject'
                  count:
                    type: number
                  next:
                    type: string
                required:
                - list
                - count
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/funding:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundingObject'
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/api-key/{apiKeyId}:
    put:
      deprecated: true
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: apiKeyId
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    delete:
      deprecated: true
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: apiKeyId
        schema:
          type: string
          format: uuid
        required: true
      responses: {}
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/api-key/{apiKeyId}/regenerate:
    put:
      deprecated: true
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: apiKeyId
        schema:
          type: string
          format: uuid
        required: true
      responses: {}
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/api-key:
    get:
      deprecated: true
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: query
        name: withDeleted
        schema:
          type: string
      - in: query
        name: withExpired
        schema:
          type: string
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/PageLimitParam'
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/PageOffsetParam'
      responses: {}
    post:
      deprecated: true
      tags:
      - User
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateBody_2'
      responses: {}
    servers:
    - url: https://exchange-api.evedex.com
  /api/deposit/details:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositObject'
    servers:
    - url: https://exchange-api.evedex.com
  /api/user/{id}:
    put:
      tags:
      - User
      security:
      - InternalKey: []
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                competitionJoinAt:
                  type: string
              required:
              - competitionJoinAt
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_4'
    servers:
    - url: https://game-api.evedex.com
  /api/user/referral-fee-batch:
    post:
      tags:
      - User
      security:
      - InternalKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: uuid
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    authId:
                      type: string
                      format: uuid
                    percent:
                      type: number
                  required:
                  - authId
                  - percent
    servers:
    - url: https://game-api.evedex.com
  /api/user/manual-xp-award:
    post:
      tags:
      - User
      security:
      - InternalKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualXpAwardBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualXpAwardResponse'
    servers:
    - url: https://game-api.evedex.com
  /api/user/manual-award-upload:
    post:
      tags:
      - User
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    line:
                      type: string
                    reason:
                      type: string
                  required:
                  - line
                  - reason
    servers:
    - url: https://game-api.evedex.com
  /api/user/manual-award-batch:
    post:
      tags:
      - User
      security:
      - InternalKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualAwardBatchBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualAwardListResponse'
    servers:
    - url: https://game-api.evedex.com
  /api/user/manual-award:
    post:
      tags:
      - User
      security:
      - InternalKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualAward'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManualAwardListResponse'
    servers:
    - url: https://game-api.evedex.com
  /api/user/lookup:
    post:
      tags:
      - User
      security:
      - InternalKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLookupBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserLookup'
                  count:
                    type: number
                  next:
                    type: string
                required:
                - list
                - count
    servers:
    - url: https://game-api.evedex.com
  /api/user:
    get:
      tags:
      - User
      security:
      - InternalKey: []
      parameters:
      - in: query
        name: wallet
        description: Wallet address
        schema:
          type: string
          description: Wallet address
      - in: query
        name: authId
        description: authId
        schema:
          type: string
          description: authId
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInternal'
    post:
      tags:
      - User
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_5'
    servers:
    - url: https://game-api.evedex.com
  /api/user/fee-rates:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeRates'
    servers:
    - url: https://game-api.evedex.com
  /api/user/notification-config:
    put:
      tags:
      - User
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserNotificationConfigPayload'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserObject_2'
        '401':
          description: 401 Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 403 Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 404 Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 500 Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserObject_2'
        '401':
          description: 401 Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 403 Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 404 Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 500 Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserObject_2'
        '401':
          description: 401 Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: 403 Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 500 Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://notifications-api.evedex.com
  /api/user/{userId}/promote-to-partner:
    post:
      tags:
      - User
      summary: Promote user role from User to Partner (admin only)
      description: Меняет тип пользователя с User на Partner. Доступно только администратору. Обратного перехода нет.
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User_5'
    servers:
    - url: https://partner-api.evedex.com
  /api/user/invites:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInvites'
    servers:
    - url: https://partner-api.evedex.com
  /api/user/find:
    get:
      tags:
      - User
      security:
      - InternalKey: []
      parameters:
      - in: query
        name: authId
        description: Auth Id
        schema:
          type:
          - string
          - 'null'
          description: Auth Id
      - in: query
        name: wallet
        description: Wallet address
        schema:
          type:
          - string
          - 'null'
          description: Wallet address
      - in: query
        name: smartAccountAddress
        description: Smart account address
        schema:
          type:
          - string
          - 'null'
          description: Smart account address
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/InternalUser'
                - type: 'null'
    servers:
    - url: https://partner-api.evedex.com
  /api/user/{authId}/data:
    get:
      tags:
      - User
      security:
      - InternalKey: []
      parameters:
      - in: path
        name: authId
        schema:
          type: string
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDataResponse'
    servers:
    - url: https://partner-api.evedex.com
  /api/user/{userId}/weight:
    put:
      tags:
      - User
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserWeightBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  type:
                    type: string
                    enum:
                    - user
                  target:
                    type: string
                    format: uuid
                  eventType:
                    type: string
                  level:
                    type: number
                  weight:
                    type: number
                required:
                - id
                - type
                - target
                - eventType
                - level
                - weight
    get:
      tags:
      - User
      security:
      - AccessToken: []
        ApiKey: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                      - user
                    target:
                      type: string
                      format: uuid
                    eventType:
                      type: string
                    level:
                      type: number
                    weight:
                      type: number
                  required:
                  - id
                  - type
                  - target
                  - eventType
                  - level
                  - weight
    servers:
    - url: https://partner-api.evedex.com
  /api/user/{userId}/transaction:
    get:
      tags:
      - User
      security:
      - AccessToken: []
        ApiKey: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
          format: uuid
        required: true
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/PageLimitParam'
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/PageOffsetParam'
      - in: query
        name: type
        schema:
          type: string
          enum:
          - all
          - income
          - withdrawal
          default: all
      - in: query
        name: after
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: before
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - created-at-asc
          - created-at-desc
          default: created-at-desc
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
    servers:
    - url: https://partner-api.evedex.com
  /api/user/reward/vault:
    get:
      tags:
      - User
      security:
      - AccessToken: []
        ApiKey: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        currency:
                          type: string
                        amount:
                          type: number
                      required:
                      - type
                      - currency
                      - amount
                required:
                - list
    servers:
    - url: https://partner-api.evedex.com
  /api/user/{userId}/reward:
    get:
      tags:
      - User
      security:
      - AccessToken: []
        ApiKey: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
          format: uuid
        required: true
      - in: query
        name: type
        schema:
          type: array
          items:
            type: string
        required: true
      - in: query
        name: after
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: before
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/PageLimitParam'
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/PageOffsetParam'
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - created-at-asc
          - created-at-desc
          default: created-at-desc
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardList'
    servers:
    - url: https://partner-api.evedex.com
  /api/user/{userId}/reward/chart:
    get:
      tags:
      - User
      security:
      - AccessToken: []
        ApiKey: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
          format: uuid
        required: true
      - in: query
        name: type
        schema:
          type: string
        required: true
      - in: query
        name: after
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: before
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: group
        schema:
          type: string
          enum:
          - hour
          - day
          - week
          - month
          default: month
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - date-asc
          - date-desc
          default: date-desc
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardChart'
    servers:
    - url: https://partner-api.evedex.com
  /api/user/{userId}/reward/balance:
    get:
      tags:
      - User
      security:
      - AccessToken: []
        ApiKey: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
          format: uuid
        required: true
      - in: query
        name: type
        schema:
          type: array
          items:
            type: string
        required: true
      - in: query
        name: currency
        schema:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
      - in: query
        name: after
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: before
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RewardBalanceList'
    servers:
    - url: https://partner-api.evedex.com
  /api/user/{userId}/event:
    get:
      tags:
      - User
      security:
      - AccessToken: []
        ApiKey: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
          format: uuid
        required: true
      - in: query
        name: type
        schema:
          type: string
        required: true
      - in: query
        name: after
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: before
        schema:
          type:
          - string
          - 'null'
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/PageLimitParam'
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/PageOffsetParam'
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - created-at-asc
          - created-at-desc
          default: created-at-desc
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
    servers:
    - url: https://partner-api.evedex.com
  /api/user/me/manager-contact:
    get:
      tags:
      - User
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
    servers:
    - url: https://partner-api.evedex.com
  /api/statistics/chart:
    get:
      tags:
      - User
      security:
      - AccessToken: []
        ApiKey: []
      parameters:
      - in: query
        name: group
        description: Group by timespan
        schema:
          type: string
          enum:
          - 1d
          - 1M
          description: Group by timespan
        required: true
      - in: query
        name: before
        description: Before date
        schema:
          type:
          - string
          - 'null'
          description: Before date
      - in: query
        name: after
        description: After date
        schema:
          type:
          - string
          - 'null'
          description: After date
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStatisticsChartResponse'
    servers:
    - url: https://partner-api.evedex.com
  /api/partner/list:
    get:
      tags:
      - User
      security:
      - AccessToken: []
        ApiKey: []
      parameters:
      - in: query
        name: limit
        schema:
          $ref: '#/components/schemas/PageLimitParam'
      - in: query
        name: offset
        schema:
          $ref: '#/components/schemas/PageOffsetParam'
      - in: query
        name: affiliate
        schema:
          type:
          - string
          - 'null'
          format: uuid
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - created-at-asc
          - created-at-desc
          - tradingVolume-asc
          - tradingVolume-desc
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerlList'
    servers:
    - url: https://partner-api.evedex.com
components:
  schemas:
    User:
      type: object
      properties:
        authId:
          type: string
          format: uuid
        wallet:
          type: string
        avatar:
          type: string
          format: uri
        createdAt:
          type: string
        updatedAt:
          type: string
      required:
      - authId
      - wallet
      - avatar
      - createdAt
      - updatedAt
    UpdateUserBody:
      type: object
      properties:
        role:
          type: string
          enum:
          - admin
          - manager
          - user
          - academy-curator
          - academy-moderator
      required:
      - role
    TelegramProfile:
      type: object
      properties:
        id:
          type: string
        username:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
      required:
      - id
      - username
      - firstName
      - lastName
    JWT:
      type: object
      properties:
        accessToken:
          type: string
          description: JWT access token
        refreshToken:
          type: string
          description: JWT refresh token
      required:
      - accessToken
      description: JWT tokens
    UserMediaListResponse:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/UserMedia'
        count:
          type: number
        next:
          type: string
      required:
      - list
      - count
    UpdateUserReferralCodeBody:
      type: object
      properties:
        referralCode:
          type: string
      required:
      - referralCode
    UserTradingViewSettingsBody:
      type: object
      properties:
        settings:
          type: string
      required:
      - settings
    SignUpBody:
      type: object
      properties:
        name:
          type: string
          default: ''
          description: Account name
        wallet:
          type: string
          description: Wallet address
        message:
          type: string
          description: Signed message
        signature:
          type: string
          minLength: 1
          description: Signature
        referralCode:
          type:
          - string
          - 'null'
          description: Referral code
        source:
          type: string
          default: unknown
          description: Source
        method:
          type: string
          enum:
          - email
          - google
          - apple
          - wallet
          - telegram
          - twitter
          default: wallet
          description: Used sign-up method
        nonce:
          type: string
          minLength: 1
          description: Nonce
        userId:
          type: string
          format: uuid
          description: Target user id
        type:
          type: string
          enum:
          - user
          - autotest
          default: user
          description: User type
        utm:
          type: object
          properties:
            source:
              type: string
            medium:
              type: string
            campaign:
              type: string
            term:
              type: string
            content:
              type: string
        tracking:
          type: object
          properties:
            params:
              type: object
              propertyNames:
                type: string
                maxLength: 64
              additionalProperties:
                type: string
                maxLength: 512
          required:
          - params
        twofa:
          type: object
          properties:
            code:
              type: string
          required:
          - code
        fingerprint:
          type: string
        visitorId:
          type: string
        walletSource:
          type: string
          enum:
          - evedex
          - evedex_mobile_create
          - evedex_mobile_import
          default: evedex
      required:
      - wallet
      - message
      - signature
      - nonce
      additionalProperties: false
    UserTradingViewSettingsResponse:
      type: object
      properties:
        settings:
          type:
          - string
          - 'null'
      required:
      - settings
    WalletTransferWithFeesObject:
      allOf:
      - $ref: '#/components/schemas/WalletTransferObject'
      type: object
      properties:
        fees:
          type: array
          items:
            $ref: '#/components/schemas/WalletTransferObject'
      required:
      - fees
    ApiKeyCreateResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        expireAt:
          type:
          - string
          - 'null'
          default: null
        apiKey:
          type: string
      required:
      - id
      - expireAt
      - apiKey
    PageLimitParam:
      type: string
      default: '50'
    EmptyResponse:
      type: object
    UserSubscriptionsResponse:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            format: uuid
          subscriptionStatus:
            type: string
            enum:
            - none
            - expired
            - active
            - canceling
            - renewed
            default: none
          privilegiesType:
            type:
            - string
            - 'null'
            enum:
            - premium
            - academyCourse
            default: null
        required:
        - id
        - subscriptionStatus
        - privilegiesType
    FingerprintVerifyBody:
      type: object
      properties:
        visitorId:
          type: string
        authId:
          type: string
          format: uuid
      required:
      - visitorId
      - authId
    ApiKeyObject:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        mask:
          type: string
        isArchived:
          type: boolean
        expireAt:
          type:
          - string
          - 'null'
        createdAt:
          type: string
        updatedAt:
          type:
          - string
          - 'null'
        deletedAt:
          type:
          - string
          - 'null'
        settings:
          type: object
          properties:
            scopes:
              type: array
              items:
                type: string
                enum:
                - partner
                - exchange
              default: []
          required:
          - scopes
      required:
      - id
      - name
      - mask
      - isArchived
      - expireAt
      - createdAt
      - updatedAt
      - deletedAt
      - settings
    PageOffsetParam:
      type: string
      default: '0'
    ApiKeyCreateBody:
      type: object
      properties:
        name:
          type: string
        expireAt:
          type:
          - string
          - 'null'
          default: null
        scopes:
          type: array
          items:
            type: string
            enum:
            - partner
            - exchange
          default: []
      required:
      - name
    UserFingerprintResponse:
      type: object
      properties:
        visitorId:
          type:
          - string
          - 'null'
        relatedAuthIds:
          type: array
          items:
            type: string
            format: uuid
      required:
      - visitorId
      - relatedAuthIds
    UserProfileDeleteBody:
      type: object
      properties:
        emailForConfirmation:
          type: string
          format: email
      required:
      - emailForConfirmation
    WalletBalanceObject:
      type: object
      properties:
        coin:
          type: string
        amount:
          type: string
      required:
      - coin
      - amount
    CreateUserBody:
      type: object
      properties:
        name:
          type: string
          default: ''
          description: Account name
        wallet:
          type: string
        role:
          type: string
          enum:
          - admin
          - manager
          - user
          - academy-curator
          - academy-moderator
        email:
          type:
          - string
          - 'null'
          format: email
        locale:
          type: string
          enum:
          - en-US
          - ru-RU
          - es-ES
          - fr-FR
          - de-DE
          - it-IT
          - pt-BR
          - ja-JP
          - ko-KR
          - zh-CN
          - zh-TW
          - ar-SA
          - pt-PT
          - tr-TR
          - uk-UA
          default: en-US
          description: User locale
        referralCode:
          type:
          - string
          - 'null'
          description: Referral code
        source:
          type: string
          default: unknown
          description: Source
      required:
      - wallet
      - role
    UserMedia:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type:
          - string
          - 'null'
        telegramProfile:
          oneOf:
          - $ref: '#/components/schemas/TelegramProfile'
          - type: 'null'
        discordId:
          type:
          - string
          - 'null'
        discordName:
          type:
          - string
          - 'null'
        mobilePushEnabled:
          type: boolean
        locale:
          type: string
          enum:
          - en-US
          - ru-RU
          - es-ES
          - fr-FR
          - de-DE
          - it-IT
          - pt-BR
          - ja-JP
          - ko-KR
          - zh-CN
          - zh-TW
          - ar-SA
          - pt-PT
          - tr-TR
          - uk-UA
      required:
      - id
      - email
      - telegramProfile
      - discordId
      - discordName
      - mobilePushEnabled
      - locale
    LocationResponse:
      type: object
      properties:
        country:
          type: object
          properties:
            id:
              type: number
            name:
              type: string
            code:
              type: string
        region:
          type: object
          properties:
            id:
              type: number
            name:
              type: string
            code:
              type: string
        city:
          type: object
          properties:
            id:
              type: number
            name:
              type: string
        ipAddress:
          type: string
      required:
      - country
      - region
      - city
      - ipAddress
    ApiKeyRegenerateResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        expireAt:
          type:
          - string
          - 'null'
          default: null
        apiKey:
          type: string
      required:
      - id
      - expireAt
      - apiKey
    WalletTransferObject:
      type: object
      properties:
        id:
          type: string
          format: uuid
        authId:
          type: string
          format: uuid
        smartAccount:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - deposit
          - withdraw
          - transfer-pfutures-balance
          - transfer-balance-pfutures
          - paymaster-fee
          - paymaster-refund
          - cashback-withdraw
          - lucky-shot-withdraw
          - smart-account-transfer
          - transfer-balance-sub-pfutures
        coin:
          type: string
        amount:
          type: string
        status:
          type: string
          enum:
          - pending
          - blocked
          - process
          - detained
          - done
          - refunded
          - error
        network:
          type: string
        transactionHash:
          type: string
        transactionEventIndex:
          type:
          - string
          - 'null'
        from:
          type:
          - string
          - 'null'
        to:
          type:
          - string
          - 'null'
        createdAt:
          type: string
        updatedAt:
          type: string
      required:
      - id
      - authId
      - smartAccount
      - type
      - coin
      - amount
      - status
      - network
      - transactionHash
      - transactionEventIndex
      - from
      - to
      - createdAt
      - updatedAt
    ApiKeyList:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/ApiKeyObject'
        count:
          type: number
        next:
          type: string
      required:
      - list
      - count
    User_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
        avatar:
          type:
          - string
          - 'null'
        cover:
          type:
          - string
          - 'null'
        wallet:
          type: string
        role:
          type: string
          enum:
          - admin
          - manager
          - user
          - academy-curator
          - academy-moderator
        name:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        locale:
          type: string
          enum:
          - en-US
          - ru-RU
          - es-ES
          - fr-FR
          - de-DE
          - it-IT
          - pt-BR
          - ja-JP
          - ko-KR
          - zh-CN
          - zh-TW
          - ar-SA
          - pt-PT
          - tr-TR
          - uk-UA
        telegramProfile:
          type:
          - object
          - 'null'
          properties:
            shortUsername:
              type: string
          required:
          - shortUsername
        discordId:
          type:
          - string
          - 'null'
        discordName:
          type:
          - string
          - 'null'
        mobilePushEnabled:
          type: boolean
        referralCode:
          type:
          - string
          - 'null'
        smartAccountsList:
          type: array
          items:
            type: object
            properties:
              network:
                type: string
              address:
                type: string
              version:
                type: number
              isDeployed:
                type: boolean
            required:
            - network
            - address
            - version
            - isDeployed
          description: User owned smart accounts list
        parentSmartAccountList:
          type: array
          items:
            type: object
            properties:
              network:
                type: string
              address:
                type: string
              version:
                type: number
              isDeployed:
                type: boolean
            required:
            - network
            - address
            - version
            - isDeployed
          description: Parent user owned smart accounts list (for sub accounts)
        subAccountIndex:
          type: string
        signUpMethod:
          type: string
          enum:
          - email
          - google
          - apple
          - wallet
          - telegram
          - twitter
        platform:
          type:
          - string
          - 'null'
          enum:
          - WEB_MOB
          - WEB_DESKTOP
          - WEB_OTHER
          - APP_ANDROID
          - APP_IOS
        createdAt:
          type: string
        updatedAt:
          type: string
        lastSignInAt:
          type:
          - string
          - 'null'
        subscriptionStatus:
          type: string
          enum:
          - none
          - expired
          - active
          - canceling
          - renewed
          default: none
        privilegiesType:
          type:
          - string
          - 'null'
          enum:
          - premium
          - academyCourse
          default: null
        type:
          type: string
          enum:
          - user
          - autotest
          description: User type
        accountType:
          type: string
          enum:
          - main
          - sub
          - funded
          description: Account type (main or sub)
        accountStatus:
          type: string
          enum:
          - active
          - inactive
          - initial
          - smartAccountReady
          description: Account status (active, inactive, etc.)
        parent:
          type:
          - string
          - 'null'
          format: uuid
          description: Parent account ID for sub accounts
        isArchived:
          type: boolean
          description: Whether the sub account is archived
        twofa:
          type: boolean
        permissions:
          type: array
          items:
            type: string
      required:
      - id
      - avatar
      - cover
      - wallet
      - role
      - name
      - status
      - description
      - email
      - locale
      - telegramProfile
      - discordId
      - discordName
      - mobilePushEnabled
      - referralCode
      - smartAccountsList
      - signUpMethod
      - platform
      - createdAt
      - updatedAt
      - lastSignInAt
      - subscriptionStatus
      - privilegiesType
      - type
      - accountType
      - accountStatus
      - parent
      - isArchived
      - twofa
      - permissions
    FingerprintVerifyResponse:
      type: object
      properties:
        ok:
          type: boolean
      required:
      - ok
    Auth:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User_2'
        token:
          $ref: '#/components/schemas/JWT'
      required:
      - user
      - token
      description: Authorization payload
    UserProfileUpdateBody:
      type: object
      properties:
        email:
          type:
          - string
          - 'null'
          format: email
        mobilePushEnabled:
          type: string
          enum:
          - 'true'
          - 'false'
          - 'yes'
          - 'no'
        locale:
          type: string
          enum:
          - en-US
          - ru-RU
          - es-ES
          - fr-FR
          - de-DE
          - it-IT
          - pt-BR
          - ja-JP
          - ko-KR
          - zh-CN
          - zh-TW
          - ar-SA
          - pt-PT
          - tr-TR
          - uk-UA
        name:
          type: string
        status:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        avatar:
          type:
          - string
          - 'null'
        cover:
          type:
          - string
          - 'null'
    UserLookupBody:
      type: object
      properties:
        authIds:
          type: array
          items:
            type: string
            description: User Auth Id
          description: Список Auth Id пользователей
      required:
      - authIds
    UpdateUserBody_2:
      type: object
      properties:
        name:
          type: string
        social:
          type: array
          items:
            $ref: '#/components/schemas/UserSocial'
        locale:
          type: string
          enum:
          - en-US
          - ru-RU
          - ar-SA
          - zh-CN
          - de-DE
          - es-ES
          - pt-PT
          - tr-TR
          - uk-UA
          - ko-KR
          - fr-FR
        dateTimeFormat:
          type: string
          enum:
          - YYYY-MM-DD, hh:mm:ss A
          - DD.MM.YYYY, HH:mm:ss
          - DD MMM YYYY, HH:mm:ss
          - MMM DD, YYYY, hh:mm:ss A
        publicProfile:
          type: object
          properties:
            statistics:
              type: boolean
            chart:
              type: boolean
            positionHistory:
              type: boolean
          required:
          - statistics
          - chart
          - positionHistory
    UserUpdateResponse:
      type: object
      properties:
        id:
[...]
