openapi: 3.2.0
info:
  title: Evedex Public profile API
  version: 1.0.0
  description: 'Operations tagged Public profile across 3 of this provider''s published API definitions: evedex-auth-openapi.json, evedex-exchange-openapi.json, evedex-game-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://auth-api.evedex.com
- url: https://exchange-api.evedex.com
- url: https://game-api.evedex.com
tags:
- name: Public profile
paths:
  /auth/public/{id}/profile:
    get:
      tags:
      - Public profile
      security: []
      parameters:
      - in: path
        name: id
        description: User ID or public profile ID
        schema:
          type: string
          description: User ID or public profile ID
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  publicProfileId:
                    type:
                    - string
                    - 'null'
                  wallet:
                    type: string
                  name:
                    type: string
                  status:
                    type:
                    - string
                    - 'null'
                  description:
                    type:
                    - string
                    - 'null'
                  avatar:
                    type:
                    - string
                    - 'null'
                  cover:
                    type:
                    - string
                    - 'null'
                  subscriptionStatus:
                    type: string
                    enum:
                    - none
                    - expired
                    - active
                    - canceling
                    - renewed
                required:
                - id
                - publicProfileId
                - wallet
                - name
                - status
                - description
                - avatar
                - cover
                - subscriptionStatus
      summary: Get auth public by id profile
      x-summary-source: derived
      operationId: getAuthPublicByIdProfile
      x-operation-id-source: derived
    servers:
    - url: https://auth-api.evedex.com
  /api/public/{authId}/profile:
    get:
      tags:
      - Public profile
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: authId
        description: AuthId
        schema:
          type: string
          description: AuthId
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: UserId
                  authId:
                    type: string
                    description: AuthId
                  statistics:
                    $ref: '#/components/schemas/UserStatisticsResponse'
                  chart:
                    $ref: '#/components/schemas/BalanceChart'
                  positionHistory:
                    type: array
                    items:
                      $ref: '#/components/schemas/PositionHistoryFillObject'
                  updatedAt:
                    type: string
                required:
                - updatedAt
      summary: Get api public by auth id profile
      x-summary-source: derived
      operationId: getApiPublicByAuthIdProfile
      x-operation-id-source: derived
    servers:
    - url: https://exchange-api.evedex.com
components:
  schemas:
    PositionHistoryObject:
      type: object
      properties:
        id:
          type: string
        user:
          type: string
        instrument:
          type: string
        side:
          $ref: '#/components/schemas/Side'
        leverage:
          type: number
        version:
          type: number
        closeType:
          type: string
          enum:
          - manually
          - take-profit
          - stop-loss
          - liquidated
          - adl
      required:
      - id
      - user
      - instrument
      - side
      - leverage
      - version
      - closeType
    UserStatisticsResponse:
      type: object
      properties:
        profitDeals:
          type: number
        lossDeals:
          type: number
        minRealizedPnL:
          type: number
        maxRealizedPnL:
          type: number
        longOrdersCount:
          type: number
        shortOrdersCount:
          type: number
        positivePnL:
          type: number
        negativePnL:
          type: number
        avgLeverage:
          type: number
        tradingFee:
          type: number
        fundingRate:
          type: number
        winRate:
          type: number
        pnlRatio:
          type: number
        buyVolume:
          type: number
        sellVolume:
          type: number
        tradingVolume:
          type: number
      required:
      - profitDeals
      - lossDeals
      - minRealizedPnL
      - maxRealizedPnL
      - longOrdersCount
      - shortOrdersCount
      - positivePnL
      - negativePnL
      - avgLeverage
      - tradingFee
      - fundingRate
      - winRate
      - pnlRatio
      - buyVolume
      - sellVolume
      - tradingVolume
    BalanceChart:
      type: array
      items:
        $ref: '#/components/schemas/BalanceChartPoint'
    BalanceChartPoint:
      type: object
      properties:
        date:
          type: string
        marginBalance:
          type: number
        pnl:
          type: number
        funding:
          type: number
        unrealizedPnl:
          type: number
        currentPnl:
          type: number
        availableBalance:
          type: number
      required:
      - date
      - marginBalance
      - pnl
      - funding
      - unrealizedPnl
      - currentPnl
      - availableBalance
    PositionHistoryFillObject:
      allOf:
      - $ref: '#/components/schemas/PositionHistoryObject'
      - type: object
        properties:
          buyQuantity:
            type: number
          sellQuantity:
            type: number
          buyVolume:
            type: number
          sellVolume:
            type: number
          buyAvgPrice:
            type: number
          sellAvgPrice:
            type: number
          realizedPnL:
            type: number
          realizedPnLPercent:
            type: number
          fee:
            type: number
          fundingRate:
            type: number
          openAt:
            type: string
          closeAt:
            type: string
        required:
        - buyQuantity
        - sellQuantity
        - buyVolume
        - sellVolume
        - buyAvgPrice
        - sellAvgPrice
        - realizedPnL
        - realizedPnLPercent
        - fee
        - fundingRate
        - openAt
        - closeAt
    Side:
      type: string
      enum:
      - BUY
      - SELL
  securitySchemes:
    InternalToken:
      type: http
      scheme: bearer
    AccessToken:
      type: http
      scheme: bearer
    RefreshToken:
      type: http
      scheme: bearer
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
    InternalKey:
      type: http
      scheme: bearer
x-refined-from:
- evedex-auth-openapi.json
- evedex-exchange-openapi.json
- evedex-game-openapi.json
