{"openapi":"3.1.0","servers":[{"url":"https://auth-api.evedex.com"}],"info":{"title":"EVEDEX - Auth","version":"1.0.0"},"paths":{"/auth/ping":{"get":{"tags":["System"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PingResponse"}}}}}}},"/auth/verify-message":{"post":{"tags":["Auth"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyMessageBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyMessageResponse"}}}}}}},"/auth/user/subscriptions/lookup":{"post":{"tags":["User"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLookupBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSubscriptionsResponse"}}}}}}},"/auth/user/media/list":{"get":{"tags":["User"],"security":[{"InternalToken":[]}],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"authId","description":"Filter by specific user ID","schema":{"type":"string","format":"uuid","description":"Filter by specific user ID"}},{"in":"query","name":"authIds","description":"Filter by specific user IDs","schema":{"type":"array","items":{"type":"string","format":"uuid"},"minItems":1,"maxItems":20,"description":"Filter by specific user IDs"}},{"in":"query","name":"email","schema":{"type":"string"}},{"in":"query","name":"telegram","schema":{"type":"string"}},{"in":"query","name":"discord","schema":{"type":"string"}},{"in":"query","name":"mobilePushEnabled","schema":{"type":"string"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserMediaListResponse"}}}}}}},"/auth/user/{authId}/balance":{"get":{"tags":["User"],"security":[{"InternalToken":[]}],"parameters":[{"in":"path","name":"authId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WalletBalanceObject"}}}}}}}},"/auth/user/balance":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WalletBalanceObject"}}}}}}}},"/auth/user/{id}":{"put":{"tags":["User"],"security":[{"InternalToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}},"delete":{"tags":["User"],"security":[{"InternalToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/user/sign-up":{"post":{"tags":["User"],"security":[],"parameters":[{"in":"query","name":"noCookieReplace","schema":{"type":"string","enum":["yes","no",""]}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignUpBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Auth"}}}}}}},"/auth/sign-in/by":{"post":{"tags":["Auth"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignInByBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Auth"}}}}}}},"/auth/revoke":{"post":{"tags":["Auth"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/refresh":{"post":{"tags":["Auth"],"security":[{"RefreshToken":[]}],"parameters":[{"in":"query","name":"noCookieReplace","schema":{"type":"string","enum":["yes","no",""]}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"utm":{"type":"object","properties":{"source":{"type":"string"},"medium":{"type":"string"},"campaign":{"type":"string"},"term":{"type":"string"},"content":{"type":"string"}}},"tracking":{"type":"object","properties":{"params":{"type":"object","propertyNames":{"type":"string","maxLength":64},"additionalProperties":{"type":"string","maxLength":512}}},"required":["params"]},"visitorId":{"type":"string"}}}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Auth"}}}}}}},"/auth/user/{id}/referral-code":{"put":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserReferralCodeBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/nonce":{"get":{"tags":["Auth"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NonceResponse"}}}}}}},"/auth/user/me":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/auth/user/logout":{"post":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/location":{"get":{"tags":["User"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationResponse"}}}}}}},"/auth/links/{type}":{"get":{"tags":["User"],"security":[],"parameters":[{"in":"path","name":"type","schema":{"type":"string"},"required":true},{"in":"query","name":"utm_source","schema":{"type":"string"}},{"in":"query","name":"utm_medium","schema":{"type":"string"}},{"in":"query","name":"utm_campaign","schema":{"type":"string"}},{"in":"query","name":"utm_term","schema":{"type":"string"}},{"in":"query","name":"utm_content","schema":{"type":"string"}}],"responses":{"302":{"description":"302 OK"}}}},"/auth/user":{"get":{"tags":["User"],"security":[{"InternalToken":[]}],"parameters":[{"in":"query","name":"id","description":"Account ID","schema":{"type":["string","null"],"description":"Account ID"}},{"in":"query","name":"wallet","description":"Wallet address","schema":{"type":["string","null"],"description":"Wallet address"}},{"in":"query","name":"smartAccountAddress","description":"Smart account address","schema":{"type":["string","null"],"description":"Smart account address"}},{"in":"query","name":"email","description":"Email address","schema":{"type":"string","description":"Email address"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"avatar":{"type":["string","null"]},"cover":{"type":["string","null"]},"wallet":{"type":"string"},"role":{"type":"string","enum":["admin","manager","user","academy-curator","academy-moderator"]},"name":{"type":["string","null"]},"status":{"type":["string","null"]},"description":{"type":["string","null"]},"email":{"type":["string","null"]},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW","ar-SA","pt-PT","tr-TR","uk-UA"]},"telegramProfile":{"type":["object","null"],"properties":{"shortUsername":{"type":"string"}},"required":["shortUsername"]},"discordId":{"type":["string","null"]},"discordName":{"type":["string","null"]},"mobilePushEnabled":{"type":"boolean"},"referralCode":{"type":["string","null"]},"smartAccountsList":{"type":"array","items":{"type":"object","properties":{"network":{"type":"string"},"address":{"type":"string"},"version":{"type":"number"},"isDeployed":{"type":"boolean"}},"required":["network","address","version","isDeployed"]},"description":"User owned smart accounts list"},"parentSmartAccountList":{"type":"array","items":{"type":"object","properties":{"network":{"type":"string"},"address":{"type":"string"},"version":{"type":"number"},"isDeployed":{"type":"boolean"}},"required":["network","address","version","isDeployed"]},"description":"Parent user owned smart accounts list (for sub accounts)"},"subAccountIndex":{"type":"string"},"signUpMethod":{"type":"string","enum":["email","google","apple","wallet","telegram","twitter"]},"platform":{"type":["string","null"],"enum":["WEB_MOB","WEB_DESKTOP","WEB_OTHER","APP_ANDROID","APP_IOS"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"lastSignInAt":{"type":["string","null"]},"subscriptionStatus":{"type":"string","enum":["none","expired","active","canceling","renewed"],"default":"none"},"privilegiesType":{"type":["string","null"],"enum":["premium","academyCourse"],"default":null},"type":{"type":"string","enum":["user","autotest"],"description":"User type"},"accountType":{"type":"string","enum":["main","sub","funded"],"description":"Account type (main or sub)"},"accountStatus":{"type":"string","enum":["active","inactive","initial","smartAccountReady"],"description":"Account status (active, inactive, etc.)"},"parent":{"type":["string","null"],"format":"uuid","description":"Parent account ID for sub accounts"},"isArchived":{"type":"boolean","description":"Whether the sub account is archived"},"twofa":{"type":"boolean"},"permissions":{"type":"array","items":{"type":"string"}},"subscriptionEndedAt":{"type":["string","null"],"default":null}},"required":["id","avatar","cover","wallet","role","name","status","description","email","locale","telegramProfile","discordId","discordName","mobilePushEnabled","referralCode","smartAccountsList","signUpMethod","platform","createdAt","updatedAt","lastSignInAt","subscriptionStatus","privilegiesType","type","accountType","accountStatus","parent","isArchived","twofa","permissions","subscriptionEndedAt"]}}}}}},"post":{"tags":["User"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/auth/refresh/{id}/disable":{"put":{"tags":["Auth"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisableRefreshTokenBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/refresh/{id}/disable-all":{"put":{"tags":["Auth"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisableAllRefreshTokensBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/user/{authId}/block":{"post":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"authId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"blocked":{"type":"boolean","default":true}}}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/wallet/transfer":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"status","schema":{"anyOf":[{"type":"string","enum":["pending","blocked","process","detained","done","refunded","error"]},{"type":"array","items":{"type":"string","enum":["pending","blocked","process","detained","done","refunded","error"]}}]}},{"in":"query","name":"type","schema":{"anyOf":[{"type":"string","enum":["deposit","withdraw","transfer-pfutures-balance","transfer-balance-pfutures","paymaster-fee","paymaster-refund","cashback-withdraw","lucky-shot-withdraw","smart-account-transfer","transfer-balance-sub-pfutures"]},{"type":"array","items":{"type":"string","enum":["deposit","withdraw","transfer-pfutures-balance","transfer-balance-pfutures","paymaster-fee","paymaster-refund","cashback-withdraw","lucky-shot-withdraw","smart-account-transfer","transfer-balance-sub-pfutures"]}}]}},{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/WalletTransferWithFeesObject"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/auth/transfer":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"type","schema":{"type":"string","enum":["deposit","withdrawal","smartAccountTransfer","partnerRewardTransfer","all"],"default":"deposit"}},{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"oneOf":[{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"authId":{"type":"string","format":"uuid"},"type":{"type":"string","const":"deposit"},"network":{"type":"string"},"destinationNetwork":{"type":["string","null"]},"transactionHash":{"type":"string"},"wallet":{"type":"string","description":"initial funds sender"},"depositor":{"type":"string","description":"funds receiver (bridgeMiddleware contracts)"},"token":{"type":"string"},"amount":{"type":["string","null"]},"status":{"type":"string","enum":["pending","detained","process","done","refunded","error"]},"amlStatus":{"type":["string","null"],"enum":["blocked","pending","process","skip","green","red","approve","refund","manual-red","manual-green"]},"originToken":{"type":["string","null"]},"originAmount":{"type":["string","null"]},"originAmountUsdt":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","authId","type","network","destinationNetwork","transactionHash","wallet","depositor","token","amount","status","amlStatus","originToken","originAmount","originAmountUsdt","createdAt","updatedAt"]},{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"authId":{"type":"string","format":"uuid"},"type":{"type":"string","const":"withdrawal"},"network":{"type":"string"},"destinationNetwork":{"type":["string","null"]},"transactionHash":{"type":"string"},"destinationTransactionHash":{"type":["string","null"]},"recipient":{"type":"string","description":"funds receiver (in different network)"},"depositor":{"type":"string","description":"funds sender"},"token":{"type":"string"},"amount":{"type":["string","null"]},"status":{"type":"string","enum":["pending","detained","process","done","refunded","error"]},"externalId":{"type":["string","null"]},"fee":{"type":["object","null"],"properties":{"total":{"type":["string","null"]},"platform":{"type":["string","null"]},"percentage":{"type":["string","null"]},"gas":{"type":["string","null"]},"feeCurrency":{"type":["string","null"]}},"required":["total","platform","percentage","gas","feeCurrency"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","authId","type","network","destinationNetwork","transactionHash","destinationTransactionHash","recipient","depositor","token","amount","status","externalId","fee","createdAt","updatedAt"]},{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"authId":{"type":"string","format":"uuid"},"type":{"type":"string","const":"smartAccountTransfer"},"network":{"type":"string"},"transactionHash":{"type":"string"},"token":{"type":"string"},"amount":{"type":["string","null"]},"status":{"type":"string","enum":["pending","detained","process","done","refunded","error"]},"from":{"type":"string"},"to":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","authId","type","network","transactionHash","token","amount","status","from","to","createdAt","updatedAt"]},{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"authId":{"type":"string","format":"uuid"},"type":{"type":"string","const":"partnerRewardTransfer"},"network":{"type":"string"},"transactionHash":{"type":"string"},"token":{"type":"string"},"amount":{"type":["string","null"]},"from":{"type":"string"},"to":{"type":"string"},"status":{"type":"string","enum":["pending","detained","process","done","refunded","error"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","authId","type","network","transactionHash","token","amount","from","to","status","createdAt","updatedAt"]}]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/auth/user/trading-view-settings":{"post":{"tags":["User"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTradingViewSettingsBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}},"get":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTradingViewSettingsResponse"}}}}}}},"/auth/user-profile":{"put":{"tags":["User"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUpdateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}},"delete":{"tags":["User"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileDeleteBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/user-profile/{authId}":{"delete":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"authId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/user-profile/deletion-confirmation":{"get":{"tags":["User"],"security":[],"parameters":[{"in":"query","name":"token","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/2fa/verify":{"post":{"tags":["User"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"authId":{"type":"string"},"code":{"type":"string"}},"required":["authId","code"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"verified":{"type":"boolean"}},"required":["verified"]}}}}}}},"/auth/2fa/enable":{"post":{"tags":["User"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","const":"TOTP"}},"required":["type"],"additionalProperties":false},{"type":"object","properties":{"type":{"type":"string","const":"TOTP"},"code":{"type":"string"}},"required":["type","code"],"additionalProperties":false}]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"secret":{"type":"string"},"secretUrl":{"type":"string"}},"required":["secret"]},{"type":"object","properties":{"token":{"$ref":"#/components/schemas/JWT"}},"required":["token"]}]}}}}}}},"/auth/2fa/disable":{"post":{"tags":["User"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"string"}},"required":["code"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"token":{"$ref":"#/components/schemas/JWT"}},"required":["token"]}}}}}}},"/auth/telegram-profile":{"delete":{"tags":["Telegram"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/telegram-bot/deep-link-for-start/internal":{"post":{"tags":["Telegram"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"authId":{"type":"string"}},"required":["authId"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TelegramBot"}}}}}}},"/auth/telegram-bot/deep-link-for-start":{"get":{"tags":["Telegram"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TelegramBot"}}}}}}},"/auth/user/{id}/tariff":{"put":{"tags":["Tariff"],"description":"Update student tariff","security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TariffUpdateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TariffObject"}}}}}},"get":{"tags":["Tariff"],"description":"Get list of student tariffs","security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TariffList"}}}}}},"post":{"tags":["Tariff"],"description":"Create student tariff","security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TariffCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TariffObject"}}}}}}},"/auth/user/{id}/tariff/active":{"get":{"tags":["Tariff"],"description":"Get last active student tariff","security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/TariffObject"},{"type":"null"}]}}}}}}},"/auth/user/{id}/tariff/cancel":{"post":{"tags":["Tariff"],"description":"Cancel active tariff","security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TariffObject"}}}}}}},"/auth/sub-account/{id}":{"put":{"tags":["SubAccount"],"security":[{"InternalToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubAccountUpdateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/sub-account/{id}/unarchive":{"put":{"tags":["SubAccount"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/sub-account/switch":{"post":{"tags":["SubAccount"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"noCookieReplace","schema":{"type":"string","enum":["yes","no",""]}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SwitchAccountBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Auth"}}}}}}},"/auth/sub-account/list":{"get":{"tags":["SubAccount"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"isArchived","schema":{"type":"string","enum":["true","false","yes","no"]}},{"in":"query","name":"search","description":"Search by name or address","schema":{"type":"string","description":"Search by name or address"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubAccountListResponse"}}}}}}},"/auth/sub-account/create":{"post":{"tags":["SubAccount"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"noCookieReplace","schema":{"type":"string","enum":["yes","no",""]}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSubAccountBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Auth"}}}}}}},"/auth/sub-account/{parentId}/{id}/check":{"get":{"tags":["SubAccount"],"security":[{"InternalToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"parentId","description":"Parent account ID","schema":{"type":"string","format":"uuid","description":"Parent account ID"},"required":true},{"in":"query","name":"type","description":"Account type to check","schema":{"type":"string","enum":["main","sub","funded"],"description":"Account type to check"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/sub-account/{id}/archive":{"put":{"tags":["SubAccount"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/smart-account/validate":{"post":{"tags":["SmartAccount"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateSmartAccountsBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateSmartAccountsResponse"}}}}}}},"/auth/user/sessions":{"get":{"tags":["Session"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"withDisabled","schema":{"type":"string"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSessionsActivityListResponse"}}}}}}},"/auth/session":{"put":{"tags":["Session"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"utm":{"type":"object","properties":{"source":{"type":"string"},"medium":{"type":"string"},"campaign":{"type":"string"},"term":{"type":"string"},"content":{"type":"string"}}},"tracking":{"type":"object","properties":{"params":{"type":"object","propertyNames":{"type":"string","maxLength":64},"additionalProperties":{"type":"string","maxLength":512}}},"required":["params"]}}}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/session/metadata":{"post":{"tags":["Session"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"sessionIds":{"type":"array","items":{"type":"string","format":"uuid"},"minItems":1,"maxItems":100}},"required":["sessionIds"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"currentSession":{"$ref":"#/components/schemas/UserSessionHistoryFullObject"},"firstSession":{"$ref":"#/components/schemas/UserSessionHistoryFullObject"},"totalSessions":{"type":"integer","minimum":0}},"required":["currentSession","firstSession","totalSessions"]}}}}}}}},"/auth/session/history":{"get":{"tags":["Session"],"deprecated":true,"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"id","description":"Account ID","schema":{"type":["string","null"],"description":"Account ID"}},{"in":"query","name":"wallet","description":"Wallet address","schema":{"type":["string","null"],"description":"Wallet address"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSessionHistoryListResponse"}}}}}}},"/auth/session/first":{"post":{"tags":["Session"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"authIds":{"type":"array","items":{"type":"string","format":"uuid"},"minItems":1,"maxItems":100}},"required":["authIds"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserSessionHistoryFullObject"}}}}}}}},"/auth/user/me/service":{"get":{"tags":["Service"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserServiceListResponse"}}}}}}},"/auth/user/{id}/service":{"post":{"tags":["Service"],"security":[{"InternalToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserServiceBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserServiceListResponse"}}}}}}},"/auth/public/{id}/profile":{"get":{"tags":["Public profile"],"security":[],"parameters":[{"in":"path","name":"id","description":"User ID or public profile ID","schema":{"type":"string","description":"User ID or public profile ID"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"publicProfileId":{"type":["string","null"]},"wallet":{"type":"string"},"name":{"type":"string"},"status":{"type":["string","null"]},"description":{"type":["string","null"]},"avatar":{"type":["string","null"]},"cover":{"type":["string","null"]},"subscriptionStatus":{"type":"string","enum":["none","expired","active","canceling","renewed"]}},"required":["id","publicProfileId","wallet","name","status","description","avatar","cover","subscriptionStatus"]}}}}}}},"/auth/statistics/total":{"get":{"tags":["Statistics"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotalStatisticResponse"}}}}}}},"/auth/statistics/online-users":{"get":{"tags":["Statistics"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnlineUsersCountResponse"}}}}}}},"/auth/statistics/charts":{"get":{"tags":["Statistics"],"security":[],"parameters":[{"in":"query","name":"from","schema":{"type":"string"},"required":true},{"in":"query","name":"to","schema":{"type":"string"},"required":true},{"in":"query","name":"instrument","schema":{"type":"string"}},{"in":"query","name":"name","schema":{"type":"string","enum":["dailyActiveUsers"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatisticChartResponse"}}}}}}},"/auth/user/product/list":{"get":{"tags":["Product"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductObject"}}}}}}}},"/api/paysystem/list/{billId}":{"get":{"tags":["Paysystem"],"security":[],"parameters":[{"in":"path","name":"billId","schema":{"anyOf":[{"type":"string"},{"type":"string","format":"uuid"}]},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaysystemListResponse"}}}}}}},"/auth/user/fingerprint/verify":{"post":{"tags":["User"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FingerprintVerifyBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FingerprintVerifyResponse"}}}}}}},"/auth/user/{authId}/fingerprint":{"get":{"tags":["User"],"security":[{"InternalToken":[]}],"parameters":[{"in":"path","name":"authId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserFingerprintResponse"}}}}}}},"/auth/file/generate-upload-link":{"post":{"tags":["File"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadUrlGeneratorRequest"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadUrlGeneratorResponse"}}}}}}},"/auth/file/approve":{"post":{"tags":["File"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveFileBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveFileResponse"}}}}}}},"/auth/discord/revoke":{"post":{"tags":["Discord"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/discord/link":{"get":{"tags":["Discord"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"uri":{"type":"string"}},"required":["uri"]}}}}}}},"/auth/discord/callback":{"get":{"tags":["Discord"],"security":[],"parameters":[{"in":"query","name":"state","schema":{"type":"string"},"required":true},{"in":"query","name":"code","schema":{"type":"string"},"required":true}],"responses":{"302":{"description":"302 OK"}}}},"/auth/dev/promo-user":{"post":{"tags":["Dev"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"wallet":{"type":"string"},"refCode":{"type":"string"}},"required":["wallet","refCode"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/centrifugo/subscribe":{"post":{"tags":["Centrifugo"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"client":{"type":"string"},"transport":{"type":"string"},"protocol":{"type":"string"},"encoding":{"type":"string"},"user":{"type":"string"},"channel":{"type":"string"},"data":{"type":"object","properties":{"accessToken":{"type":"string"}},"required":["accessToken"]}},"required":["client","transport","protocol","encoding","user","channel"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"anyOf":[{"type":"object","properties":{"result":{"type":"object","properties":{"expire_at":{"type":"integer","exclusiveMinimum":0},"info":{"type":"object","properties":{"authId":{"type":"string"},"role":{"type":"string","enum":["admin","manager","user","academy-curator","academy-moderator"]},"session":{"type":"string"}},"required":["authId","role"]}}},"error":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"}},"required":["code","message"]}}},{"type":"object"}]}}}}}}},"/auth/user/bill/{id}/payment":{"post":{"tags":["Bill"],"security":[],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillUpdatePaymentMethodBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","format":"uri"}},"required":["url"]}}}}}}},"/auth/user/bill/list":{"get":{"tags":["Bill"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillListResponse"}}}}}}},"/auth/user/bill":{"get":{"tags":["Bill"],"security":[],"parameters":[{"in":"query","name":"name","schema":{"type":"string"}},{"in":"query","name":"email","schema":{"type":"string"}},{"in":"query","name":"phone","schema":{"type":"string"}},{"in":"query","name":"redirectTo","schema":{"type":"string","format":"uri"}},{"in":"query","name":"product","schema":{"type":"string"},"required":true},{"in":"query","name":"paymentService","schema":{"type":"string","enum":["stripe","crypto","evedex","applePay","googlePay"],"default":"stripe"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBillResponse"}}}}}}},"/auth/api-key/verify":{"post":{"tags":["ApiKey"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyVerifyBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyVerifyResponse"}}}}}}},"/auth/api-key/sync":{"post":{"tags":["ApiKey"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeySyncBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/api-key/{apiKeyId}/restore":{"post":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"apiKeyId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/api-key/{apiKeyId}/regenerate":{"put":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"apiKeyId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyRegenerateResponse"}}}}}}},"/auth/api-key":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"withDeleted","schema":{"type":"string"}},{"in":"query","name":"withExpired","schema":{"type":"string"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyList"}}}}}},"post":{"tags":["User"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreateResponse"}}}}}}},"/auth/api-key/disable":{"post":{"tags":["ApiKey"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyDisableBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/api-key/{apiKeyId}":{"delete":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"apiKeyId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/role/{userId}":{"delete":{"tags":["ACL"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"role":{"type":"string"}},"required":["role"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}},"get":{"tags":["ACL"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}}},"post":{"tags":["ACL"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"role":{"type":"string"}},"required":["role"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/auth/role":{"get":{"tags":["ACL"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"}},"required":["id","createdAt"]}}}}}}}},"/auth/role/me/elevate":{"post":{"tags":["ACL"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"twofa":{"type":"object","properties":{"code":{"type":"string"}},"required":["code"]},"visitorId":{"type":"string"}},"required":["twofa"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JWT"}}}}}}}},"components":{"securitySchemes":{"InternalToken":{"type":"http","scheme":"bearer"},"AccessToken":{"type":"http","scheme":"bearer"},"RefreshToken":{"type":"http","scheme":"bearer"}},"schemas":{"PingResponse":{"type":"object","properties":{"time":{"type":"number","description":"Current timestamp"}},"required":["time"],"description":"Ping response"},"VerifyMessageBody":{"type":"object","properties":{"message":{"type":"string","description":"Signed message"},"signature":{"type":"string","minLength":1,"description":"Signature"},"wallet":{"type":"string","description":"Wallet address"},"nonce":{"type":"string","description":"Nonce"}},"required":["message","signature","wallet"]},"VerifyMessageResponse":{"type":"object","properties":{"success":{"type":"boolean","description":"Verification result"},"address":{"type":["string","null"],"default":null,"description":"Signer address"},"error":{"type":["string","null"],"default":null,"description":"Error message"}},"required":["success","address","error"]},"UserLookupBody":{"type":"object","properties":{"authIds":{"type":"array","items":{"type":"string","description":"User Auth Id"},"description":"Список Auth Id пользователей"}},"required":["authIds"]},"UserSubscriptionsResponse":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"subscriptionStatus":{"type":"string","enum":["none","expired","active","canceling","renewed"],"default":"none"},"privilegiesType":{"type":["string","null"],"enum":["premium","academyCourse"],"default":null}},"required":["id","subscriptionStatus","privilegiesType"]}},"PageLimitParam":{"type":"string","default":"50"},"PageOffsetParam":{"type":"string","default":"0"},"UserMediaListResponse":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/UserMedia"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"UserMedia":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":["string","null"]},"telegramProfile":{"oneOf":[{"$ref":"#/components/schemas/TelegramProfile"},{"type":"null"}]},"discordId":{"type":["string","null"]},"discordName":{"type":["string","null"]},"mobilePushEnabled":{"type":"boolean"},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW","ar-SA","pt-PT","tr-TR","uk-UA"]}},"required":["id","email","telegramProfile","discordId","discordName","mobilePushEnabled","locale"]},"TelegramProfile":{"type":"object","properties":{"id":{"type":"string"},"username":{"type":["string","null"]},"firstName":{"type":["string","null"]},"lastName":{"type":["string","null"]}},"required":["id","username","firstName","lastName"]},"WalletBalanceObject":{"type":"object","properties":{"coin":{"type":"string"},"amount":{"type":"string"}},"required":["coin","amount"]},"UpdateUserBody":{"type":"object","properties":{"role":{"type":"string","enum":["admin","manager","user","academy-curator","academy-moderator"]}},"required":["role"]},"User":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"avatar":{"type":["string","null"]},"cover":{"type":["string","null"]},"wallet":{"type":"string"},"role":{"type":"string","enum":["admin","manager","user","academy-curator","academy-moderator"]},"name":{"type":["string","null"]},"status":{"type":["string","null"]},"description":{"type":["string","null"]},"email":{"type":["string","null"]},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW","ar-SA","pt-PT","tr-TR","uk-UA"]},"telegramProfile":{"type":["object","null"],"properties":{"shortUsername":{"type":"string"}},"required":["shortUsername"]},"discordId":{"type":["string","null"]},"discordName":{"type":["string","null"]},"mobilePushEnabled":{"type":"boolean"},"referralCode":{"type":["string","null"]},"smartAccountsList":{"type":"array","items":{"type":"object","properties":{"network":{"type":"string"},"address":{"type":"string"},"version":{"type":"number"},"isDeployed":{"type":"boolean"}},"required":["network","address","version","isDeployed"]},"description":"User owned smart accounts list"},"parentSmartAccountList":{"type":"array","items":{"type":"object","properties":{"network":{"type":"string"},"address":{"type":"string"},"version":{"type":"number"},"isDeployed":{"type":"boolean"}},"required":["network","address","version","isDeployed"]},"description":"Parent user owned smart accounts list (for sub accounts)"},"subAccountIndex":{"type":"string"},"signUpMethod":{"type":"string","enum":["email","google","apple","wallet","telegram","twitter"]},"platform":{"type":["string","null"],"enum":["WEB_MOB","WEB_DESKTOP","WEB_OTHER","APP_ANDROID","APP_IOS"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"lastSignInAt":{"type":["string","null"]},"subscriptionStatus":{"type":"string","enum":["none","expired","active","canceling","renewed"],"default":"none"},"privilegiesType":{"type":["string","null"],"enum":["premium","academyCourse"],"default":null},"type":{"type":"string","enum":["user","autotest"],"description":"User type"},"accountType":{"type":"string","enum":["main","sub","funded"],"description":"Account type (main or sub)"},"accountStatus":{"type":"string","enum":["active","inactive","initial","smartAccountReady"],"description":"Account status (active, inactive, etc.)"},"parent":{"type":["string","null"],"format":"uuid","description":"Parent account ID for sub accounts"},"isArchived":{"type":"boolean","description":"Whether the sub account is archived"},"twofa":{"type":"boolean"},"permissions":{"type":"array","items":{"type":"string"}}},"required":["id","avatar","cover","wallet","role","name","status","description","email","locale","telegramProfile","discordId","discordName","mobilePushEnabled","referralCode","smartAccountsList","signUpMethod","platform","createdAt","updatedAt","lastSignInAt","subscriptionStatus","privilegiesType","type","accountType","accountStatus","parent","isArchived","twofa","permissions"]},"EmptyResponse":{"type":"object"},"SignUpBody":{"type":"object","properties":{"name":{"type":"string","default":"","description":"Account name"},"wallet":{"type":"string","description":"Wallet address"},"message":{"type":"string","description":"Signed message"},"signature":{"type":"string","minLength":1,"description":"Signature"},"referralCode":{"type":["string","null"],"description":"Referral code"},"source":{"type":"string","default":"unknown","description":"Source"},"method":{"type":"string","enum":["email","google","apple","wallet","telegram","twitter"],"default":"wallet","description":"Used sign-up method"},"nonce":{"type":"string","minLength":1,"description":"Nonce"},"userId":{"type":"string","format":"uuid","description":"Target user id"},"type":{"type":"string","enum":["user","autotest"],"default":"user","description":"User type"},"utm":{"type":"object","properties":{"source":{"type":"string"},"medium":{"type":"string"},"campaign":{"type":"string"},"term":{"type":"string"},"content":{"type":"string"}}},"tracking":{"type":"object","properties":{"params":{"type":"object","propertyNames":{"type":"string","maxLength":64},"additionalProperties":{"type":"string","maxLength":512}}},"required":["params"]},"twofa":{"type":"object","properties":{"code":{"type":"string"}},"required":["code"]},"fingerprint":{"type":"string"},"visitorId":{"type":"string"},"walletSource":{"type":"string","enum":["evedex","evedex_mobile_create","evedex_mobile_import"],"default":"evedex"}},"required":["wallet","message","signature","nonce"],"additionalProperties":false},"Auth":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/User"},"token":{"$ref":"#/components/schemas/JWT"}},"required":["user","token"],"description":"Authorization payload"},"JWT":{"type":"object","properties":{"accessToken":{"type":"string","description":"JWT access token"},"refreshToken":{"type":"string","description":"JWT refresh token"}},"required":["accessToken"],"description":"JWT tokens"},"SignInByBody":{"type":"object","properties":{"userId":{"type":"string","format":"uuid","description":"Target account ID"}},"required":["userId"]},"UpdateUserReferralCodeBody":{"type":"object","properties":{"referralCode":{"type":"string"}},"required":["referralCode"]},"NonceResponse":{"type":"object","properties":{"nonce":{"type":"string"}},"required":["nonce"]},"LocationResponse":{"type":"object","properties":{"country":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"code":{"type":"string"}}},"region":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"},"code":{"type":"string"}}},"city":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"}}},"ipAddress":{"type":"string"}},"required":["country","region","city","ipAddress"]},"CreateUserBody":{"type":"object","properties":{"name":{"type":"string","default":"","description":"Account name"},"wallet":{"type":"string"},"role":{"type":"string","enum":["admin","manager","user","academy-curator","academy-moderator"]},"email":{"type":["string","null"],"format":"email"},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW","ar-SA","pt-PT","tr-TR","uk-UA"],"default":"en-US","description":"User locale"},"referralCode":{"type":["string","null"],"description":"Referral code"},"source":{"type":"string","default":"unknown","description":"Source"}},"required":["wallet","role"]},"DisableRefreshTokenBody":{"type":"object","properties":{"signature":{"type":"string","minLength":1,"description":"Signature"},"chainId":{"type":"string","description":"Chain id"}},"required":["signature","chainId"],"additionalProperties":false},"DisableAllRefreshTokensBody":{"type":"object","properties":{"signature":{"type":"string","minLength":1,"description":"Signature"},"chainId":{"type":"string","description":"Chain id"}},"required":["signature","chainId"],"additionalProperties":false},"WalletTransferWithFeesObject":{"allOf":[{"$ref":"#/components/schemas/WalletTransferObject"}],"type":"object","properties":{"fees":{"type":"array","items":{"$ref":"#/components/schemas/WalletTransferObject"}}},"required":["fees"]},"WalletTransferObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"authId":{"type":"string","format":"uuid"},"smartAccount":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["deposit","withdraw","transfer-pfutures-balance","transfer-balance-pfutures","paymaster-fee","paymaster-refund","cashback-withdraw","lucky-shot-withdraw","smart-account-transfer","transfer-balance-sub-pfutures"]},"coin":{"type":"string"},"amount":{"type":"string"},"status":{"type":"string","enum":["pending","blocked","process","detained","done","refunded","error"]},"network":{"type":"string"},"transactionHash":{"type":"string"},"transactionEventIndex":{"type":["string","null"]},"from":{"type":["string","null"]},"to":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","authId","smartAccount","type","coin","amount","status","network","transactionHash","transactionEventIndex","from","to","createdAt","updatedAt"]},"UserTradingViewSettingsBody":{"type":"object","properties":{"settings":{"type":"string"}},"required":["settings"]},"UserTradingViewSettingsResponse":{"type":"object","properties":{"settings":{"type":["string","null"]}},"required":["settings"]},"UserProfileUpdateBody":{"type":"object","properties":{"email":{"type":["string","null"],"format":"email"},"mobilePushEnabled":{"type":"string","enum":["true","false","yes","no"]},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW","ar-SA","pt-PT","tr-TR","uk-UA"]},"name":{"type":"string"},"status":{"type":["string","null"]},"description":{"type":["string","null"]},"avatar":{"type":["string","null"]},"cover":{"type":["string","null"]}}},"UserProfileDeleteBody":{"type":"object","properties":{"emailForConfirmation":{"type":"string","format":"email"}},"required":["emailForConfirmation"]},"TelegramBot":{"type":"object","properties":{"uri":{"type":"string"}},"required":["uri"]},"TariffUpdateBody":{"type":"object","properties":{"startedAt":{"type":"string"},"endedAt":{"type":"string"}}},"TariffObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string","format":"uuid"},"startedAt":{"type":"string"},"endedAt":{"type":"string"},"paymentDate":{"type":["string","null"]},"privilegies":{"type":"object","properties":{"type":{"type":"string","enum":["premium","academyCourse"]},"courses":{"type":"array","items":{"type":"string"}}},"required":["type"]},"issuedBy":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","user","startedAt","endedAt","paymentDate","privilegies","issuedBy","createdAt","updatedAt"]},"TariffList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/TariffObject"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"TariffCreateBody":{"type":"object","properties":{"product":{"type":"string","format":"uuid"},"paymentDate":{"type":"string"},"startedAt":{"type":"string"},"endedAt":{"type":"string"},"issuedBy":{"type":"string"}},"required":["product","issuedBy"]},"SubAccountUpdateBody":{"type":"object","properties":{"accountStatus":{"type":"string","enum":["active","inactive","initial","smartAccountReady"],"description":"New account status"}},"required":["accountStatus"]},"SwitchAccountBody":{"type":"object","properties":{"accountId":{"type":"string","format":"uuid","description":"Target account ID to switch to"}},"required":["accountId"]},"SubAccountListResponse":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/SubAccount"}},"count":{"type":"number"},"next":{"type":"string"},"limit":{"type":"number"},"total":{"type":"number"}},"required":["list","count","limit","total"]},"SubAccount":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":["string","null"]},"wallet":{"type":"string"},"accountType":{"type":"string","enum":["main","sub","funded"]},"accountStatus":{"type":"string","enum":["active","inactive","initial","smartAccountReady"]},"parent":{"type":["string","null"],"format":"uuid"},"isArchived":{"type":"boolean"},"createdAt":{"type":"string"},"smartAccount":{"oneOf":[{"$ref":"#/components/schemas/SmartAccountEntry"},{"type":"null"}]},"subAccountIndex":{"type":["string","null"],"description":"On-chain smart account index (null for main account)"},"fundedAccountOptionId":{"type":["string","null"],"format":"uuid","default":null}},"required":["id","name","wallet","accountType","accountStatus","parent","isArchived","createdAt","smartAccount","subAccountIndex","fundedAccountOptionId"]},"SmartAccountEntry":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"network":{"type":"string"},"address":{"type":"string"},"version":{"type":"number"},"isDeployed":{"type":"boolean"}},"required":["id","network","address","version","isDeployed"]},"CreateSubAccountBody":{"type":"object","properties":{"name":{"type":"string","default":"","description":"Sub account name"},"network":{"type":"string","minLength":1,"description":"Network name"},"accountType":{"type":"string","enum":["main","sub","funded"],"default":"sub","description":"Sub account type"},"fundedAccountOptionId":{"type":"string","format":"uuid","description":"Funded account option ID (required if accountType is Funded)"}},"required":["network"]},"ValidateSmartAccountsBody":{"type":"object","properties":{"networkName":{"type":"string"},"addresses":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"maxItems":100}},"required":["addresses"]},"ValidateSmartAccountsResponse":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"exists":{"type":"boolean"}},"required":["address","exists"]}}},"required":["results"]},"UserSessionsActivityListResponse":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/UserSessionActivity"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"UserSessionActivity":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string","format":"uuid"},"createdAt":{"type":"string"},"country":{"type":"string"},"city":{"type":"string"},"ipAddress":{"type":"string"},"userAgentInfo":{"type":"string"},"refreshTokenId":{"type":["string","null"],"format":"uuid"},"language":{"type":["string","null"],"default":null},"referrer":{"type":["string","null"],"default":null}},"required":["id","user","createdAt","country","city","ipAddress","userAgentInfo","refreshTokenId","language","referrer"]},"UserSessionHistoryFullObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string","format":"uuid"},"signInById":{"type":["string","null"],"format":"uuid"},"createdAt":{"type":"string"},"ipAddress":{"type":"string"},"countryCode":{"type":"string"},"userAgentInfo":{"type":"string"},"refreshTokenId":{"type":["string","null"],"format":"uuid"},"location":{"type":"object","properties":{"country":{"type":"string"},"region":{"type":"string"},"city":{"type":"string"}},"required":["country","region","city"]},"utmSource":{"type":["string","null"]},"utmMedium":{"type":["string","null"]},"utmCampaign":{"type":["string","null"]},"utmTerm":{"type":["string","null"]},"utmContent":{"type":["string","null"]},"language":{"type":["string","null"],"default":null},"referrer":{"type":["string","null"],"default":null},"clickId":{"type":["string","null"],"default":null},"subId1":{"type":["string","null"],"default":null},"subId2":{"type":["string","null"],"default":null},"subId3":{"type":["string","null"],"default":null},"subId4":{"type":["string","null"],"default":null},"subId5":{"type":["string","null"],"default":null},"offerId":{"type":["string","null"],"default":null},"affiliateId":{"type":["string","null"],"default":null},"trackingParams":{"type":["object","null"],"additionalProperties":{"type":"string"},"default":null}},"required":["id","user","signInById","createdAt","ipAddress","countryCode","userAgentInfo","refreshTokenId","location","utmSource","utmMedium","utmCampaign","utmTerm","utmContent","language","referrer","clickId","subId1","subId2","subId3","subId4","subId5","offerId","affiliateId","trackingParams"]},"UserSessionHistoryListResponse":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/UserSessionHistory"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"UserSessionHistory":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string","format":"uuid"},"signInById":{"type":["string","null"],"format":"uuid"},"createdAt":{"type":"string"},"countryCode":{"type":"string"},"ipAddress":{"type":"string"},"userAgentInfo":{"type":"string"},"wallet":{"type":"string"},"role":{"type":"string","enum":["admin","manager","user","academy-curator","academy-moderator"]},"language":{"type":["string","null"],"default":null},"referrer":{"type":["string","null"],"default":null}},"required":["id","user","signInById","createdAt","countryCode","ipAddress","userAgentInfo","wallet","role","language","referrer"]},"UserServiceListResponse":{"type":"array","items":{"$ref":"#/components/schemas/UserService"}},"UserService":{"type":"object","properties":{"user":{"type":"string","format":"uuid"},"service":{"type":"string","enum":["affiliate","exchange","academy"]},"createdAt":{"type":"string"}},"required":["user","service","createdAt"]},"CreateUserServiceBody":{"type":"object","properties":{"service":{"type":"string","enum":["affiliate","exchange","academy"]}},"required":["service"]},"TotalStatisticResponse":{"type":"object","properties":{"weeklyActiveUsers":{"type":"integer","default":0}},"required":["weeklyActiveUsers"]},"OnlineUsersCountResponse":{"type":"object","properties":{"onlineUsersCount":{"type":"integer","default":0}},"required":["onlineUsersCount"]},"StatisticChartResponse":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"value":{"type":"number"},"instrument":{"type":"string"},"name":{"type":"string"},"cumulative":{"type":"number"}},"required":["date","value","name","cumulative"]}}},"ProductObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"price":{"type":"number"},"currency":{"type":"string"},"description":{"type":"string"},"name":{"type":"string"},"accesss":{"type":"string","enum":["buffOnly","public"]},"privilegies":{"anyOf":[{"type":"object","properties":{"type":{"type":"string","const":"premium"}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","const":"academyCourse"},"courses":{"type":"array","items":{"type":"string"}}},"required":["type","courses"]}]},"availability":{"type":"boolean"},"paymentInfo":{"anyOf":[{"type":"object","properties":{"mode":{"type":"string","const":"subscription"},"period":{"type":"string","enum":["1d","1m","6m","1y"]}},"required":["mode","period"]},{"type":"object","properties":{"mode":{"type":"string","const":"oneTime"}},"required":["mode"]}]},"discount":{"type":"number"},"lastSaleDate":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","price","currency","description","name","accesss","privilegies","availability","paymentInfo","discount","lastSaleDate","createdAt","updatedAt"]},"PaysystemListResponse":{"type":"object","properties":{"recommended":{"type":"array","items":{"type":"string"}},"other":{"type":"array","items":{"type":"string"}}},"required":["recommended","other"]},"FingerprintVerifyBody":{"type":"object","properties":{"visitorId":{"type":"string"},"authId":{"type":"string","format":"uuid"}},"required":["visitorId","authId"]},"FingerprintVerifyResponse":{"type":"object","properties":{"ok":{"type":"boolean"}},"required":["ok"]},"UserFingerprintResponse":{"type":"object","properties":{"visitorId":{"type":["string","null"]},"relatedAuthIds":{"type":"array","items":{"type":"string","format":"uuid"}}},"required":["visitorId","relatedAuthIds"]},"UploadUrlGeneratorRequest":{"type":"object","properties":{"name":{"type":"string"},"mime":{"type":"string","enum":["image/jpeg","image/png","image/webp","image/avif","image/svg+xml"]}},"required":["name","mime"]},"UploadUrlGeneratorResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"url":{"type":"string","format":"uri"}},"required":["id","name","url"]},"ApproveFileBody":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"ext":{"type":"string"},"name":{"type":"string"}},"required":["id","ext","name"]},"ApproveFileResponse":{"type":"object","properties":{"url":{"type":"string","format":"uri"}},"required":["url"]},"BillUpdatePaymentMethodBody":{"type":"object","properties":{"returnUrl":{"type":"string","format":"uri"}},"required":["returnUrl"]},"BillListResponse":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/BillObject"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"BillObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"bill":{"type":"string","format":"uuid"},"redirectTo":{"type":["string","null"]},"checkoutUrl":{"type":"string","format":"uri"},"status":{"type":"string","enum":["awaiting","canceled","expired","paid","returned","error","verified","pending_cancel"]},"payerEmail":{"type":["string","null"]},"paidAt":{"type":["string","null"]},"productInfo":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"paymentInfo":{"type":"object","properties":{"mode":{"type":"string"},"period":{"type":"string"}},"required":["mode","period"]},"price":{"type":"number"},"discount":{"type":"number"},"currency":{"type":"string","enum":["USD","EUR","CNY","RUB"]},"privilegies":{"type":"object","properties":{"type":{"type":"string","enum":["premium","academyCourse"]},"courses":{"type":"array","items":{"type":"string"}}},"required":["type"]},"availability":{"type":"boolean"},"lastSaleDate":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","paymentInfo","price","discount","currency","privilegies","availability","lastSaleDate","createdAt","updatedAt"]},"paymentDetails":{"type":["object","null"],"properties":{"type":{"type":"string","enum":["stripe","crypto","evedex","applePay","googlePay"]},"details":{"type":"object","properties":{"cardLast4":{"type":"string"}}}},"required":["type","details"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","bill","redirectTo","checkoutUrl","status","payerEmail","paidAt","productInfo","paymentDetails","createdAt","updatedAt"]},"CreateBillResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"url":{"type":"string","format":"uri"},"billingId":{"type":"string","format":"uuid"}},"required":["id","url","billingId"]},"ApiKeyVerifyBody":{"type":"object","properties":{"scope":{"type":"string","enum":["partner","exchange"]},"apiKey":{"type":"string"}},"required":["scope","apiKey"]},"ApiKeyVerifyResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"role":{"type":"string","enum":["admin","manager","user","academy-curator","academy-moderator"]},"accountType":{"type":"string","enum":["main","sub","funded"]},"parent":{"type":["string","null"],"default":null},"expireAt":{"type":["string","null"],"default":null}},"required":["id","role","accountType","parent","expireAt"]},"ApiKeySyncBody":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"mask":{"type":"string"},"isArchived":{"type":"boolean"},"expireAt":{"type":["string","null"],"default":null},"createdAt":{"type":"string"},"updatedAt":{"type":["string","null"],"default":null},"deletedAt":{"type":["string","null"],"default":null},"settings":{"type":"object","properties":{"scopes":{"type":"array","items":{"type":"string","enum":["partner","exchange"]},"default":[]}}},"user":{"type":"string"},"hash":{"type":"string"}},"required":["id","name","mask","isArchived","createdAt","settings","user","hash"]},"ApiKeyRegenerateResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"expireAt":{"type":["string","null"],"default":null},"apiKey":{"type":"string"}},"required":["id","expireAt","apiKey"]},"ApiKeyList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeyObject"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"ApiKeyObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"mask":{"type":"string"},"isArchived":{"type":"boolean"},"expireAt":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":["string","null"]},"deletedAt":{"type":["string","null"]},"settings":{"type":"object","properties":{"scopes":{"type":"array","items":{"type":"string","enum":["partner","exchange"]},"default":[]}},"required":["scopes"]}},"required":["id","name","mask","isArchived","expireAt","createdAt","updatedAt","deletedAt","settings"]},"ApiKeyCreateBody":{"type":"object","properties":{"name":{"type":"string"},"expireAt":{"type":["string","null"],"default":null},"scopes":{"type":"array","items":{"type":"string","enum":["partner","exchange"]},"default":[]}},"required":["name"]},"ApiKeyCreateResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"expireAt":{"type":["string","null"],"default":null},"apiKey":{"type":"string"}},"required":["id","expireAt","apiKey"]},"ApiKeyDisableBody":{"type":"object","properties":{"scope":{"type":"string","enum":["partner","exchange"]},"apiKey":{"type":"string"}},"required":["scope","apiKey"]}}}}