openapi: 3.2.0
info:
  title: EVEDEX - Auth ACL API
  version: 1.0.0
servers:
- url: https://auth-api.evedex.com
tags:
- name: ACL
paths:
  /auth/role/{userId}:
    delete:
      tags:
      - ACL
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
              required:
              - role
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      summary: Delete auth role by user id
      x-summary-source: derived
      operationId: deleteAuthRoleByUserId
      x-operation-id-source: derived
    get:
      tags:
      - ACL
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      summary: Get auth role by user id
      x-summary-source: derived
      operationId: getAuthRoleByUserId
      x-operation-id-source: derived
    post:
      tags:
      - ACL
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
              required:
              - role
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
      summary: Create auth role by user id
      x-summary-source: derived
      operationId: postAuthRoleByUserId
      x-operation-id-source: derived
  /auth/role:
    get:
      tags:
      - ACL
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    createdAt:
                      type: string
                  required:
                  - id
                  - createdAt
      summary: Get auth role
      x-summary-source: derived
      operationId: getAuthRole
      x-operation-id-source: derived
  /auth/role/me/elevate:
    post:
      tags:
      - ACL
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                twofa:
                  type: object
                  properties:
                    code:
                      type: string
                  required:
                  - code
                visitorId:
                  type: string
              required:
              - twofa
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWT'
      summary: Create auth role me elevate
      x-summary-source: derived
      operationId: postAuthRoleMeElevate
      x-operation-id-source: derived
components:
  schemas:
    EmptyResponse:
      type: object
    JWT:
      type: object
      properties:
        accessToken:
          type: string
          description: JWT access token
        refreshToken:
          type: string
          description: JWT refresh token
      required:
      - accessToken
      description: JWT tokens
  securitySchemes:
    InternalToken:
      type: http
      scheme: bearer
    AccessToken:
      type: http
      scheme: bearer
    RefreshToken:
      type: http
      scheme: bearer
