openapi: 3.2.0
info:
  title: EVEDEX - Game Promocodes API
  version: 1.0.0
servers:
- url: https://game-api.evedex.com
tags:
- name: Promo Codes
paths:
  /api/promocodes/{id}:
    put:
      tags:
      - Promo Codes
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromocodeUpdateBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromocodeUpdateResponse'
      summary: Replace api promocodes by id
      x-summary-source: derived
      operationId: putApiPromocodesById
      x-operation-id-source: derived
  /api/promocodes/redeem:
    post:
      tags:
      - Promo Codes
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromocodeRedeemBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromocodeRedeemResponse'
      summary: Create api promocodes redeem
      x-summary-source: derived
      operationId: postApiPromocodesRedeem
      x-operation-id-source: derived
  /api/promocodes/list:
    get:
      tags:
      - Promo Codes
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromocodeListResponse'
      summary: Get api promocodes list
      x-summary-source: derived
      operationId: getApiPromocodesList
      x-operation-id-source: derived
  /api/promocodes:
    post:
      tags:
      - Promo Codes
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromocodeCreateBody'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromocodeCreateResponse'
      summary: Create api promocodes
      x-summary-source: derived
      operationId: postApiPromocodes
      x-operation-id-source: derived
components:
  schemas:
    PromocodeRedeemBody:
      type: object
      properties:
        code:
          type: string
      required:
      - code
    PromocodeCreateResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        user:
          type: string
          format: uuid
        expiresAt:
          type: string
        availableUses:
          type: integer
          minimum: 0
        totalUses:
          type: integer
          minimum: 0
        createdAt:
          type: string
        updatedAt:
          type: string
        reward:
          type: object
          properties:
            list:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                    - points
                    - luckyShotTickets
                    - streakFreeze
                  amount:
                    type: number
                    minimum: 0
                required:
                - type
                - amount
          required:
          - list
      required:
      - id
      - code
      - user
      - expiresAt
      - availableUses
      - totalUses
      - createdAt
      - updatedAt
      - reward
    PromocodeUpdateResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        user:
          type: string
          format: uuid
        expiresAt:
          type: string
        availableUses:
          type: integer
          minimum: 0
        totalUses:
          type: integer
          minimum: 0
        createdAt:
          type: string
        updatedAt:
          type: string
        reward:
          type: object
          properties:
            list:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                    - points
                    - luckyShotTickets
                    - streakFreeze
                  amount:
                    type: number
                    minimum: 0
                required:
                - type
                - amount
          required:
          - list
      required:
      - id
      - code
      - user
      - expiresAt
      - availableUses
      - totalUses
      - createdAt
      - updatedAt
      - reward
    PromocodeListResponse:
      type: object
      properties:
        list:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              code:
                type: string
              user:
                type: string
                format: uuid
              expiresAt:
                type: string
              availableUses:
                type: integer
                minimum: 0
              totalUses:
                type: integer
                minimum: 0
              createdAt:
                type: string
              updatedAt:
                type: string
              reward:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - points
                          - luckyShotTickets
                          - streakFreeze
                        amount:
                          type: number
                          minimum: 0
                      required:
                      - type
                      - amount
                required:
                - list
            required:
            - id
            - code
            - user
            - expiresAt
            - availableUses
            - totalUses
            - createdAt
            - updatedAt
            - reward
      required:
      - list
    PromocodeUpdateBody:
      type: object
      properties:
        code:
          type: string
        expiresAt:
          type: string
        totalUses:
          type: integer
          minimum: 0
        reward:
          type: object
          properties:
            list:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                    - points
                    - luckyShotTickets
                    - streakFreeze
                  amount:
                    type: number
                    minimum: 0
                required:
                - type
                - amount
          required:
          - list
    PromocodeRedeemResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        reward:
          type: object
          properties:
            list:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                    - points
                    - luckyShotTickets
                    - streakFreeze
                  amount:
                    type: number
                    minimum: 0
                required:
                - type
                - amount
          required:
          - list
      required:
      - success
    PromocodeCreateBody:
      type: object
      properties:
        code:
          type: string
        expiresAt:
          type: string
        totalUses:
          type: integer
          minimum: 0
        reward:
          type: object
          properties:
            list:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                    - points
                    - luckyShotTickets
                    - streakFreeze
                  amount:
                    type: number
                    minimum: 0
                required:
                - type
                - amount
          required:
          - list
      required:
      - code
      - expiresAt
      - totalUses
      - reward
  securitySchemes:
    AccessToken:
      type: http
      scheme: bearer
    InternalKey:
      type: http
      scheme: bearer
