openapi: 3.2.0
info:
  title: EVEDEX - Auth ACL API
  version: 1.0.0
servers:
- url: https://auth-api.evedex.com
tags:
- name: ACL
paths:
  /auth/role/{userId}:
    delete:
      tags:
      - ACL
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
              required:
              - role
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
    get:
      tags:
      - ACL
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
        required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
    post:
      tags:
      - ACL
      security:
      - AccessToken: []
      parameters:
      - in: path
        name: userId
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
              required:
              - role
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
  /auth/role:
    get:
      tags:
      - ACL
      security:
      - AccessToken: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    createdAt:
                      type: string
                  required:
                  - id
                  - createdAt
  /auth/role/me/elevate:
    post:
      tags:
      - ACL
      security:
      - AccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                twofa:
                  type: object
                  properties:
                    code:
                      type: string
                  required:
                  - code
                visitorId:
                  type: string
              required:
              - twofa
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWT'
components:
  schemas:
    JWT:
      type: object
      properties:
        accessToken:
          type: string
          description: JWT access token
        refreshToken:
          type: string
          description: JWT refresh token
      required:
      - accessToken
      description: JWT tokens
    EmptyResponse:
      type: object
  securitySchemes:
    InternalToken:
      type: http
      scheme: bearer
    AccessToken:
      type: http
      scheme: bearer
    RefreshToken:
      type: http
      scheme: bearer
