{"openapi":"3.1.0","servers":[{"url":"https://backoffice-api.private.evedex.com"}],"info":{"title":"EVEDEX - Backoffice general","version":"1.0.0"},"paths":{"/api/ping":{"get":{"tags":["System"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PingResponse"}}}}}}},"/api/user/{userId}/trade-info":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"authId":{"type":"string","format":"uuid"},"ordersCreated":{"type":"number"},"totalBalanceAmount":{"type":"string"},"tradeVolume":{"type":"string"},"feeVolume":{"type":"string"}},"required":["authId","ordersCreated","totalBalanceAmount","tradeVolume","feeVolume"]}}}}}}},"/api/user/{userId}/general-info":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"authId":{"type":"string","format":"uuid"},"registrationDate":{"type":"string"},"firstDepositDate":{"type":["string","null"]},"totalDepositAmount":{"type":"string","default":"0"},"totalWithdrawAmount":{"type":"string","default":"0"}},"required":["authId","registrationDate","firstDepositDate","totalDepositAmount","totalWithdrawAmount"]}}}}}}},"/api/user/{userId}/affiliate-info":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"authId":{"type":"string","format":"uuid"},"referrer":{"type":["string","null"],"format":"uuid"},"referralsCounter":{"type":"number"},"referrerEarnings":{"type":"string"}},"required":["authId","referrer","referralsCounter","referrerEarnings"]}}}}}}},"/api/trading-platform/pair/{pairId}":{"put":{"tags":["Trading Platform"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"pairId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"bps":{"type":"number"},"spreadBps":{"type":"number"},"depthBps":{"type":"number"},"levelsBid":{"type":"number"},"levelsAsk":{"type":"number"},"notionalBid":{"type":"number"},"notionalAsk":{"type":"number"}},"required":["bps","spreadBps","depthBps","levelsBid","levelsAsk","notionalBid","notionalAsk"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"bybit":{"type":"string"},"evedex":{"type":"object","properties":{"dev":{"type":"string"},"demo":{"type":"string"},"prod":{"type":"string"},"local":{"type":"string"},"docker":{"type":"string"}},"required":["dev","demo","prod","local","docker"]},"bps":{"type":"number"},"spreadBps":{"type":"number"},"depthBps":{"type":"number"},"levelsBid":{"type":"number"},"levelsAsk":{"type":"number"},"notionalBid":{"type":"number"},"notionalAsk":{"type":"number"},"orderBookInterval":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","bybit","evedex","bps","spreadBps","depthBps","levelsBid","levelsAsk","notionalBid","notionalAsk","orderBookInterval","createdAt","updatedAt"]}}}}}}},"/api/trading-platform/pair/{pairId}/order-book":{"get":{"tags":["Trading Platform"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"pairId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":["object","null"],"properties":{"pair":{"type":"string"},"bestBidPrice":{"type":"string"},"bestAskPrice":{"type":"string"},"midPrice":{"type":"string"},"bpsSize":{"type":"number"},"bidSpreadPrice":{"type":"number"},"bidDepthPrice":{"type":"number"},"askSpreadPrice":{"type":"number"},"askDepthPrice":{"type":"number"},"bidLevels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"price":{"type":"string"},"notional":{"type":"string"},"qty":{"type":"string"},"bybitVolume":{"type":"string"}},"required":["id","price","notional","qty","bybitVolume"]}},"askLevels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"price":{"type":"string"},"notional":{"type":"string"},"qty":{"type":"string"},"bybitVolume":{"type":"string"}},"required":["id","price","notional","qty","bybitVolume"]}}},"required":["pair","bestBidPrice","bestAskPrice","midPrice","bpsSize","bidSpreadPrice","bidDepthPrice","askSpreadPrice","askDepthPrice","bidLevels","askLevels"]}}}}}}},"/api/trading-platform/pair":{"get":{"tags":["Trading Platform"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"bybit":{"type":"string"},"evedex":{"type":"object","properties":{"dev":{"type":"string"},"demo":{"type":"string"},"prod":{"type":"string"},"local":{"type":"string"},"docker":{"type":"string"}},"required":["dev","demo","prod","local","docker"]},"bps":{"type":"number"},"spreadBps":{"type":"number"},"depthBps":{"type":"number"},"levelsBid":{"type":"number"},"levelsAsk":{"type":"number"},"notionalBid":{"type":"number"},"notionalAsk":{"type":"number"},"orderBookInterval":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","bybit","evedex","bps","spreadBps","depthBps","levelsBid","levelsAsk","notionalBid","notionalAsk","orderBookInterval","createdAt","updatedAt"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}},"post":{"tags":["Trading Platform"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"bybit":{"type":"string"},"evedex":{"type":"object","properties":{"dev":{"type":"string"},"demo":{"type":"string"},"prod":{"type":"string"},"local":{"type":"string"},"docker":{"type":"string"}},"required":["dev","demo","prod","local","docker"]},"bps":{"type":"number"},"spreadBps":{"type":"number"},"depthBps":{"type":"number"},"levelsBid":{"type":"number"},"levelsAsk":{"type":"number"},"notionalBid":{"type":"number"},"notionalAsk":{"type":"number"},"orderBookInterval":{"type":"number"}},"required":["id","bybit","evedex","bps","spreadBps","depthBps","levelsBid","levelsAsk","notionalBid","notionalAsk","orderBookInterval"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"bybit":{"type":"string"},"evedex":{"type":"object","properties":{"dev":{"type":"string"},"demo":{"type":"string"},"prod":{"type":"string"},"local":{"type":"string"},"docker":{"type":"string"}},"required":["dev","demo","prod","local","docker"]},"bps":{"type":"number"},"spreadBps":{"type":"number"},"depthBps":{"type":"number"},"levelsBid":{"type":"number"},"levelsAsk":{"type":"number"},"notionalBid":{"type":"number"},"notionalAsk":{"type":"number"},"orderBookInterval":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","bybit","evedex","bps","spreadBps","depthBps","levelsBid","levelsAsk","notionalBid","notionalAsk","orderBookInterval","createdAt","updatedAt"]}}}}}}},"/api/trading-platform/account/{accountId}":{"put":{"tags":["Trading Platform"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"accountId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"riskLevels":{"type":"array","items":{"type":"object","properties":{"volume":{"type":"number"},"level":{"type":"string","enum":["low","medium","high","critical"]},"liquidity":{"type":"string","enum":["enable","disable","skip","pause"]},"positionClose":{"type":"object","properties":{"interval":{"type":"number"},"volume":{"anyOf":[{"type":"number"},{"type":"object","properties":{"min":{"type":"number"},"max":{"type":"number"},"step":{"type":"number"}},"required":["min","max","step"]}]}},"required":["interval","volume"]}},"required":["volume","level","liquidity"]}},"orderTTL":{"type":"number"}},"required":["riskLevels","orderTTL"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"pair":{"type":"string"},"name":{"type":"string"},"positionSide":{"type":"string","enum":["BUY","SELL"]},"positionQuantity":{"type":"string"},"positionVolume":{"type":"string"},"riskLevel":{"type":"string","enum":["low","medium","high","critical"]},"liquidityProviderMode":{"type":"string","enum":["enable","disable","skip","pause"]},"leverage":{"type":"number"},"riskLevels":{"type":"array","items":{"type":"object","properties":{"volume":{"type":"number"},"level":{"type":"string","enum":["low","medium","high","critical"]},"liquidity":{"type":"string","enum":["enable","disable","skip","pause"]},"positionClose":{"type":"object","properties":{"interval":{"type":"number"},"volume":{"anyOf":[{"type":"number"},{"type":"object","properties":{"min":{"type":"number"},"max":{"type":"number"},"step":{"type":"number"}},"required":["min","max","step"]}]}},"required":["interval","volume"]}},"required":["volume","level","liquidity"]}},"orderTTL":{"type":"number"},"liquidityUpdateInterval":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","pair","name","positionSide","positionQuantity","positionVolume","riskLevel","liquidityProviderMode","leverage","riskLevels","orderTTL","liquidityUpdateInterval","createdAt","updatedAt"]}}}}}}},"/api/trading-platform/account":{"get":{"tags":["Trading Platform"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"pair":{"type":"string"},"name":{"type":"string"},"positionSide":{"type":"string","enum":["BUY","SELL"]},"positionQuantity":{"type":"string"},"positionVolume":{"type":"string"},"riskLevel":{"type":"string","enum":["low","medium","high","critical"]},"liquidityProviderMode":{"type":"string","enum":["enable","disable","skip","pause"]},"leverage":{"type":"number"},"riskLevels":{"type":"array","items":{"type":"object","properties":{"volume":{"type":"number"},"level":{"type":"string","enum":["low","medium","high","critical"]},"liquidity":{"type":"string","enum":["enable","disable","skip","pause"]},"positionClose":{"type":"object","properties":{"interval":{"type":"number"},"volume":{"anyOf":[{"type":"number"},{"type":"object","properties":{"min":{"type":"number"},"max":{"type":"number"},"step":{"type":"number"}},"required":["min","max","step"]}]}},"required":["interval","volume"]}},"required":["volume","level","liquidity"]}},"orderTTL":{"type":"number"},"liquidityUpdateInterval":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","pair","name","positionSide","positionQuantity","positionVolume","riskLevel","liquidityProviderMode","leverage","riskLevels","orderTTL","liquidityUpdateInterval","createdAt","updatedAt"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}},"post":{"tags":["Trading Platform"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"pair":{"type":"string"},"name":{"type":"string"},"leverage":{"type":"number"},"privateKey":{"type":"string"},"apiKey":{"type":"string"},"riskLevels":{"type":"array","items":{"type":"object","properties":{"volume":{"type":"number"},"level":{"type":"string","enum":["low","medium","high","critical"]},"liquidity":{"type":"string","enum":["enable","disable","skip","pause"]},"positionClose":{"type":"object","properties":{"interval":{"type":"number"},"volume":{"anyOf":[{"type":"number"},{"type":"object","properties":{"min":{"type":"number"},"max":{"type":"number"},"step":{"type":"number"}},"required":["min","max","step"]}]}},"required":["interval","volume"]}},"required":["volume","level","liquidity"]}},"orderTTL":{"type":"number"},"liquidityUpdateInterval":{"type":"number"}},"required":["pair","name","leverage","privateKey","apiKey","riskLevels","orderTTL","liquidityUpdateInterval"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"pair":{"type":"string"},"name":{"type":"string"},"positionSide":{"type":"string","enum":["BUY","SELL"]},"positionQuantity":{"type":"string"},"positionVolume":{"type":"string"},"riskLevel":{"type":"string","enum":["low","medium","high","critical"]},"liquidityProviderMode":{"type":"string","enum":["enable","disable","skip","pause"]},"leverage":{"type":"number"},"riskLevels":{"type":"array","items":{"type":"object","properties":{"volume":{"type":"number"},"level":{"type":"string","enum":["low","medium","high","critical"]},"liquidity":{"type":"string","enum":["enable","disable","skip","pause"]},"positionClose":{"type":"object","properties":{"interval":{"type":"number"},"volume":{"anyOf":[{"type":"number"},{"type":"object","properties":{"min":{"type":"number"},"max":{"type":"number"},"step":{"type":"number"}},"required":["min","max","step"]}]}},"required":["interval","volume"]}},"required":["volume","level","liquidity"]}},"orderTTL":{"type":"number"},"liquidityUpdateInterval":{"type":"number"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","pair","name","positionSide","positionQuantity","positionVolume","riskLevel","liquidityProviderMode","leverage","riskLevels","orderTTL","liquidityUpdateInterval","createdAt","updatedAt"]}}}}}}},"/api/notifications/email/send":{"post":{"deprecated":true,"tags":["Notifications"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"templateId":{"type":"string"},"payload":{"type":"object","additionalProperties":{},"default":{}},"locale":{"type":"string","enum":["en-US"],"default":"en-US"},"authId":{"type":"string","format":"uuid"}},"required":["templateId","authId"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/notifications/send":{"post":{"tags":["Notifications"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"event":{"type":"string"},"authId":{"anyOf":[{"type":"string"},{"type":"string","enum":["all","registred","unregistred"]},{"type":"null"}]},"data":{"type":"object","additionalProperties":{},"default":{}},"source":{"type":"string","enum":["exchange","exchange-demo","unknown","backoffice"],"default":"unknown"},"appearance":{"type":"string","enum":["constantly","once","persistent"],"default":"once"},"deliveryTime":{"type":"string"},"endTime":{"type":"string"},"channels":{"type":"array","items":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]},"minItems":1}},"required":["event","authId"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/notifications/list":{"get":{"tags":["Notifications"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"authId","schema":{"anyOf":[{"type":"string"},{"type":"string","enum":["all","registred","unregistred"]}]}},{"in":"query","name":"appearance","schema":{"type":"string","enum":["constantly","once","persistent"]}},{"in":"query","name":"createdAfter","schema":{"type":"string"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListNotificationsResponse"}}}}}}},"/api/notifications/templates/{id}":{"put":{"tags":["Notifications"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateUpdatePayload"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}},"get":{"tags":["Notifications"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateGetDetailsResponse"}}}}}},"delete":{"tags":["Notifications"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/notifications/templates/list":{"get":{"tags":["Notifications"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"templateId","schema":{"type":"string"}},{"in":"query","name":"channel","schema":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]}},{"in":"query","name":"locale","schema":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW"]}},{"in":"query","name":"group","schema":{"type":"string","enum":["security","news","system","dailyTasksReminders","trade","assets","gamification","activities","affiliate"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateList"}}}}}}},"/api/notifications/templates":{"post":{"tags":["Notifications"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplatePayload"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateCreateResponse"}}}}}}},"/api/journal/list":{"get":{"tags":["Journal"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"type","schema":{"type":["string","null"]}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JournalList"}}}}}}},"/api/hedging/finery/account":{"post":{"tags":["Hedging"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FineryAccountObject"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/hedging/bybit/account":{"post":{"tags":["Hedging"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BybitAccountObject"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/files":{"post":{"tags":["File"],"security":[{"AccessToken":[]}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadedFileResponse"}}}}}}},"/api/files/list":{"get":{"tags":["File"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"mime":{"type":"string"},"url":{"type":"string","format":"uri"},"size":{"type":"number"},"createdAt":{"type":"string"}},"required":["id","name","mime","url","size","createdAt"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/files/generate-upload-link":{"post":{"tags":["File"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateFileUploadLinkBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateFileUploadLinkResponse"}}}}}}},"/api/files/approve":{"post":{"tags":["File"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveUploadedFileBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveUploadedFileResponse"}}}}}}},"/api/withdraw/unblock":{"post":{"tags":["Exchange","Withdraw","Aml","Blocked"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"withdrawId":{"type":"string"}},"required":["withdrawId"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/withdraw/reject":{"post":{"tags":["Exchange","Withdraw","Aml","Blocked"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"withdrawId":{"type":"string"}},"required":["withdrawId"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/withdraw/blocked-list":{"get":{"tags":["Exchange","Withdraw","Aml","Blocked"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"userId","schema":{"type":"string"}},{"in":"query","name":"authId","schema":{"type":"string"}},{"in":"query","name":"smartAccount","schema":{"type":"string"}},{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}},{"in":"query","name":"status","schema":{"anyOf":[{"type":"string","enum":["pending","blocked","done","error"]},{"type":"array","items":{"type":"string","enum":["pending","blocked","done","error"]}}]}},{"in":"query","name":"amountFrom","schema":{"type":"number"}},{"in":"query","name":"amountTo","schema":{"type":"number"}},{"in":"query","name":"riskScore","schema":{"type":"integer","exclusiveMinimum":0}},{"in":"query","name":"riskType","schema":{"anyOf":[{"type":"string","enum":["depositRisk","withdrawRisk","withdrawalByIpRisk","withdrawalByFingerprintRisk","httpClientDetectionRisk","pnlRisk","tradingBalanceRisk","amlBlockRisk","highWinRateRisk","sharpeAnomalyRisk"]},{"type":"array","items":{"type":"string","enum":["depositRisk","withdrawRisk","withdrawalByIpRisk","withdrawalByFingerprintRisk","httpClientDetectionRisk","pnlRisk","tradingBalanceRisk","amlBlockRisk","highWinRateRisk","sharpeAnomalyRisk"]}}]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockedPfWithdrawListObject"}}}}}}},"/api/tariff/user/{authId}":{"put":{"tags":["Exchange","Tariff"],"description":"Update tariff","security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"authId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TariffUpdateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TariffObject"}}}}}},"post":{"tags":["Exchange","Tariff"],"description":"Create tariff","security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"authId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TariffCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TariffObject"}}}}}}},"/api/exchange/liquidation/levels/{pair}":{"get":{"tags":["Exchange","Liquidation"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"pair","schema":{"type":"string"},"required":true},{"in":"query","name":"from","schema":{"type":"string"}},{"in":"query","name":"to","schema":{"type":"string"}},{"in":"query","name":"step","schema":{"type":"string"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LiquidationLevelStatisticsResponse"}}}}}}},"/api/bridge/transfer":{"get":{"tags":["Transfer"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"authId","schema":{"type":"string"}},{"in":"query","name":"search","schema":{"type":"string"}},{"in":"query","name":"type","schema":{"type":"string","enum":["deposit","withdrawal","all"],"default":"deposit"}},{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}},{"in":"query","name":"network","schema":{"type":"string"}},{"in":"query","name":"blockNumber","schema":{"type":"string"}},{"in":"query","name":"depositStatus","schema":{"anyOf":[{"type":"string","enum":["pending","detained","process","done","refunded"]},{"type":"array","items":{"type":"string","enum":["pending","detained","process","done","refunded"]}}]}},{"in":"query","name":"withdrawalStatus","schema":{"anyOf":[{"type":"string","enum":["pending","process","done","error"]},{"type":"array","items":{"type":"string","enum":["pending","process","done","error"]}}]}},{"in":"query","name":"amlStatus","schema":{"anyOf":[{"type":"string","enum":["blocked","pending","process","skip","green","red","refund","manual-red","manual-green"]},{"type":"array","items":{"type":"string","enum":["blocked","pending","process","skip","green","red","refund","manual-red","manual-green"]}}]}},{"in":"query","name":"includeAlerts","schema":{"type":"string"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"authId":{"type":["string","null"],"format":"uuid"},"type":{"type":"string","enum":["deposit","withdrawal"]},"network":{"type":"string"},"destinationNetwork":{"type":["string","null"]},"transactionHash":{"type":"string"},"destinationTransactionHash":{"type":["string","null"]},"wallet":{"type":"string","description":"For deposit - from wallet, for withdrawal - to wallet"},"depositor":{"type":"string","description":"From wallet"},"externalId":{"type":["string","null"]},"fee":{"type":["string","null"],"description":"platformFee + gasFee + percentageFee"},"platformFee":{"type":["string","null"]},"gasFee":{"type":["string","null"]},"percentageFee":{"type":["string","null"]},"feeCurrency":{"type":["string","null"]},"status":{"type":"string","enum":["pending","detained","process","done","refunded","error"]},"amlStatus":{"type":["string","null"],"enum":["blocked","pending","process","skip","green","red","refund","manual-red","manual-green"]},"token":{"type":"string","description":"Token contract representing USDT"},"amount":{"type":["string","null"],"description":"Amount in USDT. Set to 0 if not swapped yet"},"withdrawStrategy":{"type":["string","null"],"enum":["default","rhino"]},"originToken":{"type":["string","null"]},"originAmount":{"type":["string","null"]},"originAmountUsdt":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"alerts":{"type":["array","null"],"items":{"type":"object","properties":{"alertIdentifier":{"type":"string"},"alertType":{"type":"string","enum":["TRANSFER","BEHAVIORAL","WITHDRAWAL"]},"level":{"type":"string","enum":["SEVERE","HIGH","MEDIUM","LOW"]},"createdAt":{"type":"string"},"isContinuousMonitoring":{"type":["boolean","null"]},"assignedTo":{"type":["string","null"]},"assignedBy":{"type":["string","null"]},"assignedAt":{"type":["string","null"]},"valid":{"type":"boolean"},"validity":{"type":"string","enum":["VALID","INVALID","REVALID"]},"validityUpdatedAt":{"type":["string","null"]},"alertStatus":{"type":"string","enum":["Unreviewed","In Review","Flagged","No Review","Dismissed"]},"alertStatusCreatedBy":{"type":["string","null"]},"statusChangedBy":{"type":["string","null"]},"dispositionDate":{"type":["string","null"]},"alertStatusCreatedAt":{"type":["string","null"]},"statusChangedAt":{"type":["string","null"]},"userId":{"type":"string","format":"uuid"},"rule":{"type":"string"},"minThreshold":{"type":"number"},"maxThreshold":{"type":["number","null"]},"ruleAsset":{"type":["string","null"]},"categoryId":{"type":["number","null"]},"customGroupExternalId":{"type":["string","null"]},"asset":{"type":["string","null"]},"assetAmount":{"type":["number","null"]},"direction":{"type":["string","null"],"enum":["SENT","RECEIVED"]},"alertAmountUsd":{"type":"number"},"transferredValuePercentage":{"type":["number","null"]},"exposureType":{"type":"string","enum":["DIRECT","INDIRECT"]},"service":{"type":["string","null"]},"transferReportedAt":{"type":["string","null"]},"timestamp":{"type":["string","null"]},"transferReference":{"type":["string","null"]},"transactionHash":{"type":["string","null"]},"transferOutputAddress":{"type":["string","null"]},"memo":{"type":["string","null"]},"transactionIndex":{"type":["number","null"]},"transferCountWindow":{"type":["string","null"]},"windowSize":{"type":["string","null"],"enum":["1 day","1 week","1 month"]},"period":{"type":["string","null"]},"transferCount":{"type":["number","null"]},"category":{"type":["string","null"]},"activityData":{"type":["object","null"],"additionalProperties":{}}},"required":["alertIdentifier","alertType","level","createdAt","isContinuousMonitoring","assignedTo","assignedBy","assignedAt","valid","validity","validityUpdatedAt","alertStatus","alertStatusCreatedBy","statusChangedBy","dispositionDate","alertStatusCreatedAt","statusChangedAt","userId","rule","minThreshold","maxThreshold","ruleAsset","categoryId","customGroupExternalId","asset","assetAmount","direction","alertAmountUsd","transferredValuePercentage","exposureType","service","transferReportedAt","timestamp","transferReference","transactionHash","transferOutputAddress","memo","transactionIndex","transferCountWindow","windowSize","period","transferCount","category","activityData"]},"default":null}},"required":["id","authId","type","network","destinationNetwork","transactionHash","destinationTransactionHash","wallet","depositor","externalId","fee","platformFee","gasFee","percentageFee","feeCurrency","status","amlStatus","token","amount","withdrawStrategy","originToken","originAmount","originAmountUsdt","createdAt","updatedAt","alerts"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/badge/list":{"get":{"tags":["Badge"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/BadgeObject"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/auth/user/list":{"get":{"tags":["Auth"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"wallet","schema":{"type":"string"}},{"in":"query","name":"smartAccount","schema":{"type":"string"}},{"in":"query","name":"role","schema":{"type":"string"}},{"in":"query","name":"authRole","schema":{"type":"string"}},{"in":"query","name":"exchangeId","schema":{"type":"string"}},{"in":"query","name":"authId","schema":{"type":"string","description":"AuthId"}},{"in":"query","name":"email","schema":{"type":"string"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/User"}],"type":"object","properties":{"smartAccounts":{"type":"array","items":{"type":"object","properties":{"network":{"type":"string"},"address":{"type":"string"},"version":{"type":"number"},"isDeployed":{"type":"boolean"}},"required":["network","address","version","isDeployed"]}}},"required":["smartAccounts"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/auth/user/{id}":{"get":{"tags":["Auth"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true},{"in":"query","name":"depositorChainId","schema":{"type":"string"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDetailsResponse"}}}}}}},"/api/auth/user/{id}/role":{"put":{"tags":["Auth"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserRoleBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}}},"components":{"securitySchemes":{"AccessToken":{"type":"http","scheme":"bearer"}},"schemas":{"PingResponse":{"type":"object","properties":{"time":{"type":"number","description":"Current timestamp"}},"required":["time"],"description":"Ping response"},"PageLimitParam":{"type":"string","default":"50"},"PageOffsetParam":{"type":"string","default":"0"},"EmptyResponse":{"type":"object"},"ListNotificationsResponse":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/Notification"}},"count":{"type":"number"}},"required":["list","count"]},"Notification":{"type":"object","properties":{"id":{"type":"string"},"authId":{"anyOf":[{"type":"string"},{"type":"string","enum":["all","registred","unregistred"]},{"type":"null"}]},"source":{"type":"string"},"event":{"type":"string"},"data":{"type":"object","additionalProperties":{}},"appearance":{"type":"string","enum":["constantly","once","persistent"]},"endTime":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","authId","source","event","data","appearance","endTime","createdAt","updatedAt"]},"TemplateUpdatePayload":{"type":"object","properties":{"title":{"type":"string"},"body":{"type":"string"},"group":{"type":"string","enum":["security","news","system","dailyTasksReminders","trade","assets","gamification","activities","affiliate"]},"link":{"type":["string","null"]},"imageUrl":{"type":["string","null"]},"dataSchema":{"type":"object","additionalProperties":{}},"channelExtra":{"type":["object","null"],"additionalProperties":{}}}},"TemplateGetDetailsResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"templateId":{"type":"string"},"channel":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW"]},"title":{"type":"string"},"body":{"type":"string"},"group":{"type":"string","enum":["security","news","system","dailyTasksReminders","trade","assets","gamification","activities","affiliate"]},"link":{"type":["string","null"],"default":null},"imageUrl":{"type":["string","null"],"default":null},"dataSchema":{"type":"object","additionalProperties":{}},"channelExtra":{"type":["object","null"],"additionalProperties":{}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","templateId","channel","locale","title","body","group","link","imageUrl","dataSchema","channelExtra","createdAt","updatedAt"]},"TemplateList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/TemplateListItem"}}},"required":["list"]},"TemplateListItem":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"templateId":{"type":"string"},"channel":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]},"group":{"type":"string","enum":["security","news","system","dailyTasksReminders","trade","assets","gamification","activities","affiliate"]},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW"]},"dataSchema":{"type":"object","additionalProperties":{}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","templateId","channel","group","locale","dataSchema","createdAt","updatedAt"]},"TemplatePayload":{"type":"object","properties":{"templateId":{"type":"string"},"channel":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]},"title":{"type":"string"},"body":{"type":"string"},"group":{"type":"string","enum":["security","news","system","dailyTasksReminders","trade","assets","gamification","activities","affiliate"]},"link":{"type":["string","null"],"default":null},"imageUrl":{"type":["string","null"],"default":null},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW"],"default":"en-US"},"channelExtra":{"type":["object","null"],"additionalProperties":{},"default":null}},"required":["templateId","channel","title","body","group"]},"TemplateCreateResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"templateId":{"type":"string"},"channel":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW"]},"title":{"type":"string"},"body":{"type":"string"},"group":{"type":"string","enum":["security","news","system","dailyTasksReminders","trade","assets","gamification","activities","affiliate"]},"link":{"type":["string","null"],"default":null},"imageUrl":{"type":["string","null"],"default":null},"dataSchema":{"type":"object","additionalProperties":{}},"channelExtra":{"type":["object","null"],"additionalProperties":{}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","templateId","channel","locale","title","body","group","link","imageUrl","dataSchema","channelExtra","createdAt","updatedAt"]},"JournalList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/JournalObject"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"JournalObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string"},"type":{"type":"string","enum":["general_stat"]},"status":{"type":"string","enum":["new","process","done","error"]},"linkUrl":{"type":["string","null"]},"fromDate":{"type":"string"},"toDate":{"type":"string"},"createdAt":{"type":"string"}},"required":["id","user","type","status","linkUrl","fromDate","toDate","createdAt"]},"FineryAccountObject":{"type":"object","properties":{"user":{"type":"string","format":"uuid"},"name":{"type":"string"},"apiKey":{"type":"string"},"apiSecret":{"type":"string"}},"required":["user","name","apiKey","apiSecret"]},"BybitAccountObject":{"type":"object","properties":{"user":{"type":"string","format":"uuid"},"name":{"type":"string"},"accountType":{"type":"string","enum":["UNIFIED","REGULAR"]},"apiKey":{"type":"string"},"apiSecret":{"type":"string"}},"required":["user","name","accountType","apiKey","apiSecret"]},"UploadedFileResponse":{"type":"array","items":{"type":"string"}},"GenerateFileUploadLinkBody":{"type":"object","properties":{"name":{"type":"string"},"mime":{"type":"string"}},"required":["name","mime"]},"GenerateFileUploadLinkResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"url":{"type":"string","format":"uri"}},"required":["id","name","url"]},"ApproveUploadedFileBody":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"ext":{"type":"string"},"name":{"type":"string"}},"required":["id","ext","name"]},"ApproveUploadedFileResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"mime":{"type":"string"},"url":{"type":"string","format":"uri"},"size":{"type":"number"},"createdAt":{"type":"string"}},"required":["id","name","mime","url","size","createdAt"]},"BlockedPfWithdrawListObject":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/BlockedPfWithdraw"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"BlockedPfWithdraw":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string","description":"UserId"},"authId":{"type":"string","description":"AuthId"},"type":{"type":"string","enum":["deposit","withdraw","transfer-pfutures-balance","transfer-balance-pfutures","paymaster-fee","paymaster-refund","cashback-withdraw"]},"coin":{"type":"string"},"amount":{"type":"number"},"status":{"type":"string","enum":["pending","blocked","done","error"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"transactionHash":{"type":["string","null"]},"requestId":{"type":["number","null"]},"failReason":{"type":"string"},"requestTagId":{"type":"string"},"prevAvailableBalance":{"type":"string"},"isManual":{"type":"boolean"},"riskScore":{"type":["number","null"]},"riskTypes":{"type":["array","null"],"items":{"type":"string","enum":["depositRisk","withdrawRisk","withdrawalByIpRisk","withdrawalByFingerprintRisk","httpClientDetectionRisk","pnlRisk","tradingBalanceRisk","amlBlockRisk","highWinRateRisk","sharpeAnomalyRisk"]}}},"required":["id","type","coin","amount","status","createdAt","updatedAt","transactionHash","failReason","requestTagId","prevAvailableBalance","isManual","riskScore","riskTypes"]},"TariffUpdateBody":{"type":"object","properties":{"startedAt":{"type":"string","format":"date-time"},"endedAt":{"type":"string","format":"date-time"}}},"TariffObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string","format":"uuid"},"startedAt":{"type":"string","format":"date-time"},"endedAt":{"type":"string","format":"date-time"},"paymentDate":{"type":["string","null"],"format":"date-time"},"privilegies":{"type":"object","properties":{"type":{"type":"string","enum":["premium","academyCourse"]},"courses":{"type":"array","items":{"type":"string"}}},"required":["type"]},"issuedBy":{"type":["string","null"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","user","startedAt","endedAt","paymentDate","privilegies","issuedBy","createdAt","updatedAt"]},"TariffCreateBody":{"type":"object","properties":{"product":{"type":"string","format":"uuid"},"paymentDate":{"type":"string","format":"date-time"},"startedAt":{"type":"string","format":"date-time"},"endedAt":{"type":"string","format":"date-time"},"issuedBy":{"type":"string"}},"required":["product","issuedBy"]},"LiquidationLevelStatisticsResponse":{"type":"object","properties":{"markPrice":{"type":"number"},"timecode":{"type":"string"},"pair":{"type":"string"},"levels":{"type":"array","items":{"type":"object","properties":{"from":{"type":"number"},"to":{"type":"number"},"users":{"type":"number"},"volume":{"type":"number"}},"required":["from","to","users","volume"]}}},"required":["markPrice","timecode","pair","levels"]},"BadgeObject":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"content":{"type":"string"},"imageUrl":{"type":["string","null"]},"linkUrl":{"type":["string","null"]},"createdAt":{"type":"string"}},"required":["id","title","content","createdAt"]},"User":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"avatar":{"type":["string","null"]},"walletSource":{"type":"string","enum":["evedex","evedex_mobile_create","evedex_mobile_import"]},"wallet":{"type":"string"},"role":{"type":"string","enum":["admin","manager","user","academy-curator","academy-moderator","partner"]},"email":{"type":["string","null"]},"telegramProfile":{"type":["object","null"],"properties":{"shortUsername":{"type":"string"}},"required":["shortUsername"]},"referralCode":{"type":["string","null"]},"signUpMethod":{"type":"string","enum":["email","google","apple","wallet","telegram","twitter"]},"platform":{"type":["string","null"],"enum":["WEB_MOB","WEB_DESKTOP","WEB_OTHER","APP_ANDROID","APP_IOS"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"lastSignInAt":{"type":["string","null"]},"tariff":{"$ref":"#/components/schemas/TariffObject"},"permissions":{"type":"array","items":{"type":"string"}},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW","ar-SA","pt-PT","tr-TR","uk-UA"]},"depositor":{"type":"string"}},"required":["id","avatar","walletSource","wallet","role","email","telegramProfile","referralCode","signUpMethod","platform","createdAt","updatedAt","lastSignInAt","permissions","locale"]},"UserDetailsResponse":{"allOf":[{"$ref":"#/components/schemas/User"}],"type":"object","properties":{"withdrawDisabled":{"type":"boolean"},"smartAccountAddress":{"type":["string","null"],"default":null},"arbitrumDepositAddress":{"type":["string","null"],"default":null}},"required":["withdrawDisabled","smartAccountAddress","arbitrumDepositAddress"]},"UpdateUserRoleBody":{"type":"object","properties":{"role":{"type":"string","enum":["admin","manager","user","academy-curator","academy-moderator","partner"]}},"required":["role"]}}}}