{"openapi":"3.1.0","servers":[{"url":"https://notifications-api.evedex.com"}],"info":{"title":"EVEDEX - Notifications","version":"1.0.0"},"paths":{"/api/ping":{"get":{"tags":["System"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PingResponse"}}}}}}},"/api/user/notification-config":{"put":{"tags":["User"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserNotificationConfigPayload"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserObject"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"get":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserObject"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserObject"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/templates/{id}":{"put":{"tags":["Template"],"security":[{"InternalKey":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateUpdatePayload"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateObject"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"get":{"tags":["Template"],"security":[{"InternalKey":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateObject"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Template"],"security":[{"InternalKey":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/templates":{"get":{"tags":["Template"],"security":[{"InternalKey":[]}],"parameters":[{"in":"query","name":"templateId","schema":{"type":"string"}},{"in":"query","name":"channel","schema":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]}},{"in":"query","name":"locale","schema":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW"]}},{"in":"query","name":"group","schema":{"type":"string","enum":["security","news","system","dailyTasksReminders","trade","assets","gamification","activities","affiliate"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateList"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Template"],"security":[{"InternalKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplatePayload"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateObject"}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/telegram/webhook":{"post":{"tags":["Telegram"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/telegram/link":{"get":{"tags":["Telegram"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TelegramLink"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/notifications/web-activity":{"get":{"tags":["Notification"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebActivityNotificationResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/notification/send-email-list":{"post":{"tags":["Distribution"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailListBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailListResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"409 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/notification/send":{"post":{"tags":["Distribution"],"security":[{"InternalKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"event":{"type":"string"},"authId":{"anyOf":[{"type":"string"},{"type":"string","enum":["all","registred","unregistred"]},{"type":"null"}]},"data":{"type":"object","additionalProperties":{},"default":{}},"source":{"type":"string","enum":["exchange","exchange-demo","partner","academy","game","group-manager","unknown","bridge","bridge-demo","backoffice","auth","trading-platform","watcher"],"default":"unknown"},"appearance":{"type":"string","enum":["constantly","once","persistent"],"default":"once"},"deliveryTime":{"type":"string"},"endTime":{"type":"string"},"channels":{"type":"array","items":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]},"minItems":1}},"required":["event","authId"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/notification":{"get":{"tags":["Distribution"],"security":[{"InternalKey":[]}],"parameters":[{"in":"query","name":"authId","schema":{"anyOf":[{"type":"string"},{"type":"string","enum":["all","registred","unregistred"]}]}},{"in":"query","name":"appearance","schema":{"type":"string","enum":["constantly","once","persistent"]}},{"in":"query","name":"createdAfter","schema":{"type":"string"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListNotificationsResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/message/read":{"post":{"tags":["Message"],"description":"Used in bell","security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReadMessageBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/message":{"get":{"tags":["Message"],"description":"Used in bell and for persistent notifications","security":[],"parameters":[{"in":"query","name":"viewed","schema":{"type":["string","null"]}},{"in":"query","name":"after","schema":{"type":"string"}},{"in":"query","name":"appearance","schema":{"anyOf":[{"type":"string","enum":["constantly","once","persistent"]},{"type":"array","items":{"type":"string","enum":["constantly","once","persistent"]}}]}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageListWeb"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"deprecated":true,"tags":["Message"],"security":[{"InternalKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMessageBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/message/{id}":{"get":{"deprecated":true,"tags":["Message"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageObject"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Message"],"description":"Used in bell","security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/message/distribution":{"post":{"deprecated":true,"tags":["Distribution"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMessageBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/message/telegram":{"post":{"deprecated":true,"tags":["Message"],"security":[{"InternalKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSytemTelegramMessage"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/message/persistent/{id}":{"put":{"tags":["Distribution"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"id","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePersistentNotificationBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePersistentNotificationResponse"}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/mail/unsubscribe":{"get":{"tags":["Mail"],"security":[],"parameters":[{"in":"query","name":"authId","schema":{"type":"string"},"required":true},{"in":"query","name":"event","schema":{"type":"string"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/push/{deviceId}":{"delete":{"tags":["Push"],"security":[],"parameters":[{"in":"path","name":"deviceId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}},"post":{"tags":["Push"],"security":[],"parameters":[{"in":"path","name":"deviceId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePushTokenBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/dev/telegram/{botId}/send":{"post":{"tags":["Dev"],"security":[{"InternalKey":[]}],"parameters":[{"in":"path","name":"botId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTelegramMessageBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/dev/centrifugo":{"post":{"tags":["Dev"],"security":[{"InternalKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCentrifugoMessageBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}}},"components":{"securitySchemes":{"InternalKey":{"type":"http","scheme":"bearer"},"AccessToken":{"type":"http","scheme":"bearer"}},"schemas":{"PingResponse":{"type":"object","properties":{"time":{"type":"number","description":"Current timestamp"}},"required":["time"],"description":"Ping response"},"UserNotificationConfigPayload":{"type":"object","properties":{"enabledChannels":{"type":"array","items":{"type":"string","enum":["email","telegram","mobilePush","browserPush","web","discord"]}},"enabledGroups":{"type":"array","items":{"type":"string","enum":["security","news","system","dailyTasksReminders","trade","assets","gamification","activities","affiliate"]}}},"required":["enabledChannels","enabledGroups"]},"UserObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"authId":{"type":"string"},"notificationConfig":{"$ref":"#/components/schemas/UserNotificationConfig"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","authId","notificationConfig","createdAt","updatedAt"]},"UserNotificationConfig":{"type":"object","properties":{"enabledChannels":{"type":"array","items":{"type":"string","enum":["email","telegram","mobilePush","browserPush","web","discord"]}},"enabledGroups":{"type":"array","items":{"type":"string","enum":["security","news","system","dailyTasksReminders","trade","assets","gamification","activities","affiliate"]}}},"required":["enabledChannels","enabledGroups"]},"ErrorResponse":{"type":"object","properties":{"message":{"type":"string","description":"Error message"}},"required":["message"],"description":"Error response"},"TemplateUpdatePayload":{"type":"object","properties":{"title":{"type":"string"},"body":{"type":"string"},"group":{"type":"string","enum":["security","news","system","dailyTasksReminders","trade","assets","gamification","activities","affiliate"]},"link":{"type":["string","null"]},"imageUrl":{"type":["string","null"]},"dataSchema":{"type":"object","additionalProperties":{}},"channelExtra":{"type":["object","null"],"additionalProperties":{}}}},"TemplateObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"templateId":{"type":"string"},"channel":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW"]},"title":{"type":"string"},"body":{"type":"string"},"group":{"type":"string","enum":["security","news","system","dailyTasksReminders","trade","assets","gamification","activities","affiliate"]},"link":{"type":["string","null"],"default":null},"imageUrl":{"type":["string","null"],"default":null},"dataSchema":{"type":"object","additionalProperties":{}},"channelExtra":{"type":["object","null"],"additionalProperties":{}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","templateId","channel","locale","title","body","group","link","imageUrl","dataSchema","channelExtra","createdAt","updatedAt"]},"EmptyResponse":{"type":"object"},"TemplateList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/TemplateListItem"}}},"required":["list"]},"TemplateListItem":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"templateId":{"type":"string"},"channel":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]},"group":{"type":"string","enum":["security","news","system","dailyTasksReminders","trade","assets","gamification","activities","affiliate"]},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW"]},"dataSchema":{"type":"object","additionalProperties":{}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","templateId","channel","group","locale","dataSchema","createdAt","updatedAt"]},"TemplatePayload":{"type":"object","properties":{"templateId":{"type":"string"},"channel":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]},"title":{"type":"string"},"body":{"type":"string"},"group":{"type":"string","enum":["security","news","system","dailyTasksReminders","trade","assets","gamification","activities","affiliate"]},"link":{"type":["string","null"],"default":null},"imageUrl":{"type":["string","null"],"default":null},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW"],"default":"en-US"},"dataSchema":{"type":"object","additionalProperties":{},"default":{"type":"object","properties":{},"required":[],"additionalProperties":false}},"channelExtra":{"type":["object","null"],"additionalProperties":{},"default":null}},"required":["templateId","channel","title","body","group"]},"TelegramLink":{"type":"object","properties":{"link":{"type":"string"}},"required":["link"]},"WebActivityNotificationResponse":{"type":"object","properties":{"content":{"type":"string"}},"required":["content"]},"SendEmailListBody":{"type":"object","properties":{"event":{"type":"string"},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW"]},"data":{"type":"object","additionalProperties":{},"default":{}},"recipients":{"type":"array","items":{"type":"string","format":"email"},"minItems":1,"maxItems":1000}},"required":["event","locale","recipients"]},"SendEmailListResponse":{"type":"object","properties":{"sent":{"type":"boolean"},"recipients":{"type":"number"}},"required":["sent","recipients"]},"PageLimitParam":{"type":"string","default":"50"},"PageOffsetParam":{"type":"string","default":"0"},"ListNotificationsResponse":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/Notification"}},"count":{"type":"number"}},"required":["list","count"]},"Notification":{"type":"object","properties":{"id":{"type":"string"},"authId":{"anyOf":[{"type":"string"},{"type":"string","enum":["all","registred","unregistred"]},{"type":"null"}]},"source":{"type":"string"},"event":{"type":"string"},"data":{"type":"object","additionalProperties":{}},"appearance":{"type":"string","enum":["constantly","once","persistent"]},"endTime":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","authId","source","event","data","appearance","endTime","createdAt","updatedAt"]},"ReadMessageBody":{"type":"object","properties":{"pattern":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string","const":"*"}]}},"required":["pattern"]},"MessageListWeb":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/MessageObjectWeb"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"MessageObjectWeb":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["pending","sent","error","blocked"]},"group":{"type":"string"},"source":{"type":"string","enum":["exchange","exchange-demo","partner","academy","game","group-manager","unknown","bridge","bridge-demo","backoffice","auth","trading-platform","watcher"]},"authId":{"anyOf":[{"type":"string"},{"type":"string","enum":["all","registred","unregistred"]},{"type":"null"}]},"content":{"$ref":"#/components/schemas/WebContentObject"},"appearance":{"type":"string","enum":["constantly","once","persistent"]},"locale":{"type":"string"},"targetDeviceType":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"isViewed":{"type":"boolean"},"endTime":{"type":["string","null"]}},"required":["id","status","group","source","authId","content","appearance","locale","targetDeviceType","createdAt","updatedAt","isViewed","endTime"]},"WebContentObject":{"allOf":[{"$ref":"#/components/schemas/WebDefaultContentObject"}],"type":"object","properties":{"locales":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/WebDefaultContentObject"}}}},"WebDefaultContentObject":{"type":"object","properties":{"title":{"type":"string"},"level":{"type":"string"},"content":{"type":"string"},"link":{"type":"string"},"imageUrl":{"type":"string"},"channelExtra":{"type":["object","null"],"additionalProperties":{}}},"required":["title"]},"CreateMessageBody":{"type":"object","properties":{"authId":{"anyOf":[{"type":"string"},{"type":"string","enum":["all","registred","unregistred"]},{"type":"null"}]},"source":{"type":"string","enum":["exchange","exchange-demo","partner","academy","game","group-manager","unknown","bridge","bridge-demo","backoffice","auth","trading-platform","watcher"],"default":"unknown"},"content":{"$ref":"#/components/schemas/MessageContentBody"},"group":{"type":"string"},"targetDeviceType":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]},"locale":{"type":"string"},"appearance":{"type":"string","enum":["constantly","once","persistent"],"default":"once"}},"required":["authId","content","group","targetDeviceType","locale"]},"MessageContentBody":{"anyOf":[{"$ref":"#/components/schemas/EmailContent"},{"$ref":"#/components/schemas/TelegramContentBody"},{"$ref":"#/components/schemas/WebContentBody"},{"$ref":"#/components/schemas/SlackContentBody"}]},"EmailContent":{"type":"object","properties":{"to":{"type":"string"},"templateId":{"type":"string"},"payload":{"type":"object"}},"required":["templateId","payload"]},"TelegramContentBody":{"type":"object","properties":{"chatId":{"type":"number"},"message":{"type":"string"}},"required":["message"]},"WebContentBody":{"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"},"link":{"type":"string"},"imageUrl":{"type":"string"}},"required":["title"]},"SlackContentBody":{"type":"object","properties":{"webhookName":{"type":"string","enum":["amlAlerts"]},"content":{"type":"string"}},"required":["webhookName","content"]},"MessageObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"status":{"type":"string","enum":["pending","sent","error","blocked"]},"group":{"type":"string"},"source":{"type":"string","enum":["exchange","exchange-demo","partner","academy","game","group-manager","unknown","bridge","bridge-demo","backoffice","auth","trading-platform","watcher"]},"authId":{"anyOf":[{"type":"string"},{"type":"string","enum":["all","registred","unregistred"]},{"type":"null"}]},"content":{},"appearance":{"type":"string","enum":["constantly","once","persistent"]},"locale":{"type":"string"},"targetDeviceType":{"type":"string","enum":["web","webActivity","mobilePush","browserPush","email","telegram","telegramChannel","slack","discord"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"isViewed":{"type":"boolean"},"endTime":{"type":["string","null"]}},"required":["id","status","group","source","authId","appearance","locale","targetDeviceType","createdAt","updatedAt","isViewed","endTime"]},"CreateSytemTelegramMessage":{"type":"object","properties":{"content":{"type":"string"},"image":{"type":"string","format":"uri"},"chatId":{"type":"string"}},"required":["content","chatId"]},"UpdatePersistentNotificationBody":{"type":"object","properties":{"endTime":{"type":["string","null"]}},"required":["endTime"]},"UpdatePersistentNotificationResponse":{"type":"object","properties":{"id":{"type":"string"},"endTime":{"type":["string","null"]},"updatedAt":{"type":"string"}},"required":["id","endTime","updatedAt"]},"CreatePushTokenBody":{"type":"object","properties":{"token":{"type":"string","minLength":32,"maxLength":512},"platform":{"type":"string","enum":["ios","android","huawei","browser"]}},"required":["token","platform"]},"CreateTelegramMessageBody":{"type":"object","properties":{"message":{"type":"string"},"image":{"type":"string","format":"uri"},"chatIds":{"type":"array","items":{"type":"integer"},"default":[]}},"required":["message"]},"CreateCentrifugoMessageBody":{"type":"object","properties":{"channel":{"type":"string"},"data":{}},"required":["channel"]}}}}