{"openapi":"3.1.0","servers":[{"url":"https://partner-api.evedex.com"}],"info":{"title":"EVEDEX - Referral","version":"1.0.0"},"paths":{"/api/ping":{"get":{"tags":["System"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PingResponse"}}}}}}},"/api/user/{userId}":{"put":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}},"delete":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/user/{userId}/promote-to-partner":{"post":{"tags":["User"],"summary":"Promote user role from User to Partner (admin only)","description":"Меняет тип пользователя с User на Partner. Доступно только администратору. Обратного перехода нет.","security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/user/me":{"get":{"tags":["User"],"security":[{"AccessToken":[],"ApiKey":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/user":{"get":{"tags":["User"],"security":[{"AccessToken":[],"ApiKey":[]}],"parameters":[{"in":"query","name":"search","description":"Search by user social, wallet, smart account, name, email","schema":{"type":["string","null"],"description":"Search by user social, wallet, smart account, name, email"}},{"in":"query","name":"id","description":"Search by user ID","schema":{"type":"string","description":"Search by user ID"}},{"in":"query","name":"code","description":"Search by referral code","schema":{"type":["string","null"],"description":"Search by referral code"}},{"in":"query","name":"partner","description":"Partner for ID","schema":{"type":["string","null"],"format":"uuid","description":"Partner for ID"}},{"in":"query","name":"affiliate","description":"Affiliate for ID","schema":{"type":["string","null"],"format":"uuid","description":"Affiliate for ID"}},{"in":"query","name":"createdBefore","description":"User created before date","schema":{"type":["string","null"],"description":"User created before date"}},{"in":"query","name":"createdAfter","description":"User created after date","schema":{"type":["string","null"],"description":"User created after date"}},{"in":"query","name":"balance-after","schema":{"type":["string","null"]}},{"in":"query","name":"balance-before","schema":{"type":["string","null"]}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserWithBalanceList"}}}}}},"post":{"tags":["User"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUser"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/user/invites":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInvites"}}}}}}},"/api/user/find":{"get":{"tags":["User"],"security":[{"InternalKey":[]}],"parameters":[{"in":"query","name":"authId","description":"Auth Id","schema":{"type":["string","null"],"description":"Auth Id"}},{"in":"query","name":"wallet","description":"Wallet address","schema":{"type":["string","null"],"description":"Wallet address"}},{"in":"query","name":"smartAccountAddress","description":"Smart account address","schema":{"type":["string","null"],"description":"Smart account address"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/InternalUser"},{"type":"null"}]}}}}}}},"/api/user/{authId}/data":{"get":{"tags":["User"],"security":[{"InternalKey":[]}],"parameters":[{"in":"path","name":"authId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDataResponse"}}}}}}},"/api/user/account":{"post":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/user/{userId}/weight":{"put":{"tags":["User"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserWeightBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["user"]},"target":{"type":"string","format":"uuid"},"eventType":{"type":"string"},"level":{"type":"number"},"weight":{"type":"number"}},"required":["id","type","target","eventType","level","weight"]}}}}}},"get":{"tags":["User"],"security":[{"AccessToken":[],"ApiKey":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["user"]},"target":{"type":"string","format":"uuid"},"eventType":{"type":"string"},"level":{"type":"number"},"weight":{"type":"number"}},"required":["id","type","target","eventType","level","weight"]}}}}}}}},"/api/user/{userId}/transaction":{"get":{"tags":["User"],"security":[{"AccessToken":[],"ApiKey":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"type","schema":{"type":"string","enum":["all","income","withdrawal"],"default":"all"}},{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}},{"in":"query","name":"sort","schema":{"type":"string","enum":["created-at-asc","created-at-desc"],"default":"created-at-desc"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionListResponse"}}}}}}},"/api/tradingVolume/referral-info":{"get":{"tags":["TradingVolume"],"security":[{"AccessToken":[],"ApiKey":[]}],"parameters":[{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradingVolumeReferralInfoResponse"}}}}}}},"/api/user/{userId}/short-link/{shortLinkId}":{"put":{"tags":["ShortLink"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"shortLinkId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateShortLink"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShortLink"}}}}}},"delete":{"tags":["ShortLink"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"shortLinkId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/user/{userId}/short-link":{"get":{"tags":["ShortLink"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ShortLink"}}}}}}},"post":{"tags":["ShortLink"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateShortLink"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShortLink"}}}}}}},"/api/user/short-link/check":{"get":{"tags":["ShortLink"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"code","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"isAccessible":{"type":"boolean"}},"required":["isAccessible"]}}}}}}},"/api/user/reward/vault":{"get":{"tags":["User"],"security":[{"AccessToken":[],"ApiKey":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"currency":{"type":"string"},"amount":{"type":"number"}},"required":["type","currency","amount"]}}},"required":["list"]}}}}}}},"/api/user/{userId}/reward":{"get":{"tags":["User"],"security":[{"AccessToken":[],"ApiKey":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"query","name":"type","schema":{"type":"array","items":{"type":"string"}},"required":true},{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"sort","schema":{"type":"string","enum":["created-at-asc","created-at-desc"],"default":"created-at-desc"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RewardList"}}}}}}},"/api/user/{userId}/reward/chart":{"get":{"tags":["User"],"security":[{"AccessToken":[],"ApiKey":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"query","name":"type","schema":{"type":"string"},"required":true},{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}},{"in":"query","name":"group","schema":{"type":"string","enum":["hour","day","week","month"],"default":"month"}},{"in":"query","name":"sort","schema":{"type":"string","enum":["date-asc","date-desc"],"default":"date-desc"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RewardChart"}}}}}}},"/api/user/{userId}/reward/balance":{"get":{"tags":["User"],"security":[{"AccessToken":[],"ApiKey":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"query","name":"type","schema":{"type":"array","items":{"type":"string"}},"required":true},{"in":"query","name":"currency","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RewardBalanceList"}}}}}}},"/api/user/{userId}/link/{linkId}":{"put":{"tags":["Link"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"linkId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateLink"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Link"}}}}}},"delete":{"tags":["Link"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"linkId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/user/{userId}/link":{"get":{"tags":["Link"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"query","name":"type","schema":{"type":"string"}},{"in":"query","name":"default","schema":{"type":"string","enum":["yes","no"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Link"}}}}}}},"post":{"tags":["Link"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLink"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Link"}}}}}}},"/api/user/{userId}/link/{code}":{"get":{"tags":["Link"],"security":[],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"path","name":"code","description":"Referral link code","schema":{"type":"string","description":"Referral link code"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInvitationPublicResponse"}}}}}}},"/api/user/check-invites":{"get":{"tags":["Link"],"security":[{"InternalKey":[]}],"parameters":[{"in":"query","name":"code","description":"Unique code","schema":{"type":"string","description":"Unique code"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"isAccessible":{"type":"boolean"}},"required":["isAccessible"]}}}}}}},"/api/user/{userId}/link/reward/balance":{"get":{"tags":["Link"],"security":[{"AccessToken":[],"ApiKey":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"query","name":"type","schema":{"type":"array","items":{"type":"string"}},"required":true},{"in":"query","name":"currency","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkRewardBalanceList"}}}}}}},"/api/user/{userId}/invitation":{"put":{"tags":["Invitation"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInvitationUpdateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInvitationResponse"}}}}}},"get":{"tags":["Invitation"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInvitationResponse"}}}}}},"delete":{"tags":["Invitation"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}},"post":{"tags":["Invitation"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInvitationCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInvitationResponse"}}}}}}},"/api/user/{userId}/event":{"get":{"tags":["User"],"security":[{"AccessToken":[],"ApiKey":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true},{"in":"query","name":"type","schema":{"type":"string"},"required":true},{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"sort","schema":{"type":"string","enum":["created-at-asc","created-at-desc"],"default":"created-at-desc"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventList"}}}}}}},"/api/deposit/referral-info":{"get":{"tags":["Deposit"],"security":[{"AccessToken":[],"ApiKey":[]}],"parameters":[{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferralInfoResponse"}}}}}}},"/api/user/me/manager-contact":{"get":{"tags":["User"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactResponse"}}}}}}},"/api/tag/users":{"get":{"tags":["Tag"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"tagIds","schema":{"type":"string"},"required":true},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserWithTagsList"}}}}}}},"/api/tag/{tagId}":{"put":{"tags":["Tag"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"tagId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTagBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagResponse"}}}}}},"delete":{"tags":["Tag"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"tagId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/tag/user/{userId}/unassign":{"post":{"tags":["Tag"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignTagsBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/tag":{"get":{"tags":["Tag"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagList"}}}}}},"post":{"tags":["Tag"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTagBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagResponse"}}}}}}},"/api/tag/user/{userId}":{"post":{"tags":["Tag"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignTagsBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignTagsResponse"}}}}}}},"/api/statistics/chart":{"get":{"tags":["User"],"security":[{"AccessToken":[],"ApiKey":[]}],"parameters":[{"in":"query","name":"group","description":"Group by timespan","schema":{"type":"string","enum":["1d","1M"],"description":"Group by timespan"},"required":true},{"in":"query","name":"before","description":"Before date","schema":{"type":["string","null"],"description":"Before date"}},{"in":"query","name":"after","description":"After date","schema":{"type":["string","null"],"description":"After date"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatisticsChartResponse"}}}}}}},"/api/share-content/{shareContentId}":{"put":{"tags":["ShareContent"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"shareContentId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateShareContentBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareContentResponse"}}}}}},"delete":{"tags":["ShareContent"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"shareContentId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/share-content":{"get":{"tags":["ShareContent"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"socialType","schema":{"type":"string","enum":["telegramCommunity","telegram","youtube","instagram","facebook","twitter","discord","other"]}},{"in":"query","name":"name","schema":{"type":"string","minLength":1,"maxLength":128}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareContentList"}}}}}},"post":{"tags":["ShareContent"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateShareContentBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareContentResponse"}}}}}}},"/api/reg-request/{requestId}/reject":{"post":{"tags":["Registration request"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"requestId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegRequest"}}}}}}},"/api/reg-request":{"get":{"tags":["Registration request"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"search","description":"Search template","schema":{"type":["string","null"],"description":"Search template"}},{"in":"query","name":"status","schema":{"type":["string","null"],"enum":["pending","approved","rejected"]}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegRequestList"}}}}}},"post":{"tags":["Registration request"],"security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRegRequestBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegRequest"}}}}}}},"/api/reg-request/{requestId}/approve":{"post":{"tags":["Registration request"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"requestId","schema":{"type":"string","format":"uuid"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegRequestApproveBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/referral/list":{"get":{"tags":["Referral"],"security":[{"AccessToken":[],"ApiKey":[]}],"parameters":[{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReferrallList"}}}}}}},"/api/redirect/short-link/{code}":{"get":{"tags":["Redirect"],"security":[],"parameters":[{"in":"path","name":"code","schema":{"type":"string"},"required":true}],"responses":{"302":{"description":"302 OK"}}}},"/api/redirect/partner":{"get":{"tags":["Redirect"],"security":[],"responses":{"302":{"description":"302 OK"}}}},"/api/redirect/partner/{code}":{"get":{"tags":["Redirect"],"security":[],"parameters":[{"in":"path","name":"code","schema":{"type":"string"},"required":true}],"responses":{"302":{"description":"302 OK"}}}},"/api/redirect/invite":{"get":{"tags":["Redirect"],"security":[],"responses":{"302":{"description":"302 OK"}}}},"/api/redirect/invite/{code}":{"get":{"tags":["Redirect"],"security":[],"parameters":[{"in":"path","name":"code","schema":{"type":"string"},"required":true}],"responses":{"302":{"description":"302 OK"}}}},"/api/partner/list":{"get":{"tags":["User"],"security":[{"AccessToken":[],"ApiKey":[]}],"parameters":[{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"affiliate","schema":{"type":["string","null"],"format":"uuid"}},{"in":"query","name":"sort","schema":{"type":"string","enum":["created-at-asc","created-at-desc","tradingVolume-asc","tradingVolume-desc"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerlList"}}}}}}},"/api/links/by-codes":{"post":{"tags":["Link"],"security":[{"InternalKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinksByCodesBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkOwnerInfoList"}}}}}}},"/api/invitation/{code}":{"get":{"tags":["Link"],"security":[],"parameters":[{"in":"path","name":"code","description":"Referral link code","schema":{"type":"string","description":"Referral link code"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinkInvitationPublicResponse"}}}}}}},"/api/file/generate-upload-link":{"post":{"tags":["File"],"security":[{"AccessToken":[]}],"requestBody":{"description":"Generates link to upload on frontend side","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadUrlGeneratorRequest"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadUrlGeneratorResponse"}}}}}}},"/api/file/{fileId}":{"delete":{"tags":["File"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"fileId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/file/approve":{"post":{"tags":["File"],"security":[{"AccessToken":[]}],"requestBody":{"description":"Approve uploaded file","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"ext":{"type":"string"},"name":{"type":"string"}},"required":["id","ext","name"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadResponse"}}}}}}},"/api/event/bulk":{"post":{"tags":["Event"],"security":[{"InternalKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEventBulk"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/event":{"post":{"tags":["Event"],"security":[{"InternalKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEvent"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/event/{eventId}/calc":{"post":{"tags":["Event"],"security":[{"InternalKey":[]}],"parameters":[{"in":"path","name":"eventId","schema":{"type":"string","format":"uuid"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/dev/reward":{"post":{"tags":["Dev"],"security":[{"InternalKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"user":{"type":"string","format":"uuid"},"amount":{"type":"number"}},"required":["user","amount"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/dev/user":{"get":{"tags":["Dev"],"security":[{"InternalKey":[]}],"parameters":[{"in":"query","name":"code","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/api/dev/clear-redis":{"post":{"tags":["Dev"],"security":[{"InternalKey":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/dev/clear-clickhouse":{"post":{"tags":["Dev"],"security":[{"InternalKey":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/affiliate-statistics/volumes":{"get":{"tags":["Statistics details"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"userId","schema":{"type":"string"},"required":true},{"in":"query","name":"before","description":"Before date","schema":{"type":["string","null"],"description":"Before date"}},{"in":"query","name":"after","description":"After date","schema":{"type":["string","null"],"description":"After date"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatisticsVolumesResponse"}}}}}}},"/api/affiliate-statistics/events":{"get":{"tags":["Statistics List"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"before","description":"Before date","schema":{"type":["string","null"],"description":"Before date"}},{"in":"query","name":"after","description":"After date","schema":{"type":["string","null"],"description":"After date"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatisticsListResponse"}}}}}}},"/api/affiliate-statistics/singup":{"get":{"tags":["Statistics List"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"code","description":"Search by referral code","schema":{"type":["string","null"],"description":"Search by referral code"}},{"in":"query","name":"before","description":"Before date","schema":{"type":["string","null"],"description":"Before date"}},{"in":"query","name":"after","description":"After date","schema":{"type":["string","null"],"description":"After date"}},{"in":"query","name":"tags","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}},{"type":"null"}]}},{"in":"query","name":"search","description":"Search by user social, wallet, smart account, name, email","schema":{"type":["string","null"],"description":"Search by user social, wallet, smart account, name, email"}},{"in":"query","name":"createdBefore","description":"User created before date","schema":{"type":["string","null"],"description":"User created before date"}},{"in":"query","name":"createdAfter","description":"User created after date","schema":{"type":["string","null"],"description":"User created after date"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"sort","description":"Sort by field","schema":{"type":["string","null"],"description":"Sort by field"}},{"in":"query","name":"order","description":"Order direction","schema":{"type":["string","null"],"enum":["ASC","DESC"],"description":"Order direction"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatisticsListResponse"}}}}}}},"/api/affiliate-statistics":{"get":{"tags":["Statistics List"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"code","description":"Search by referral code","schema":{"type":["string","null"],"description":"Search by referral code"}},{"in":"query","name":"before","description":"Before date","schema":{"type":["string","null"],"description":"Before date"}},{"in":"query","name":"after","description":"After date","schema":{"type":["string","null"],"description":"After date"}},{"in":"query","name":"tags","schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}},{"type":"null"}]}},{"in":"query","name":"search","description":"Search by user social, wallet, smart account, name, email","schema":{"type":["string","null"],"description":"Search by user social, wallet, smart account, name, email"}},{"in":"query","name":"createdBefore","description":"User created before date","schema":{"type":["string","null"],"description":"User created before date"}},{"in":"query","name":"createdAfter","description":"User created after date","schema":{"type":["string","null"],"description":"User created after date"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}},{"in":"query","name":"sort","description":"Sort by field","schema":{"type":["string","null"],"description":"Sort by field"}},{"in":"query","name":"order","description":"Order direction","schema":{"type":["string","null"],"enum":["ASC","DESC"],"description":"Order direction"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatisticsListResponse"}}}}}}},"/api/affiliate-statistics/{userId}":{"get":{"tags":["Statistics details"],"security":[{"AccessToken":[]}],"parameters":[{"in":"path","name":"userId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatisticsDetailsResponse"}}}}}}}},"components":{"securitySchemes":{"AccessToken":{"type":"http","scheme":"bearer"},"ApiKey":{"type":"apiKey","in":"header","name":"X-API-Key"},"InternalKey":{"type":"http","scheme":"bearer"}},"schemas":{"PingResponse":{"type":"object","properties":{"time":{"type":"number","description":"Current timestamp"}},"required":["time"],"description":"Ping response"},"UpdateUserBody":{"type":"object","properties":{"name":{"type":["string","null"]},"email":{"type":["string","null"]},"social":{"type":"array","items":{"$ref":"#/components/schemas/UserSocial"}},"partner":{"type":["string","null"],"format":"uuid"},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW","ar-SA","pt-PT","tr-TR","uk-UA"]},"dateTimeFormat":{"type":"string","enum":["YYYY-MM-DD, hh:mm A","DD.MM.YYYY, HH:mm","DD MMM YYYY, HH:mm","MMM DD, YYYY, hh:mm A"]},"maxInvites":{"type":["number","null"]}}},"UserSocial":{"type":"object","properties":{"type":{"type":"string","enum":["telegramCommunity","telegram","youtube","instagram","facebook","twitter","discord","other"]},"value":{"type":"string"}},"required":["type","value"]},"User":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"role":{"type":"string","enum":["user","partner","bd-manager"]},"authId":{"type":"string","format":"uuid"},"name":{"type":["string","null"]},"email":{"type":["string","null"],"default":null},"wallet":{"type":"string"},"smartAccountAddress":{"type":"string"},"social":{"type":"array","items":{"$ref":"#/components/schemas/UserSocial"}},"partner":{"type":["string","null"],"format":"uuid"},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW","ar-SA","pt-PT","tr-TR","uk-UA"]},"dateTimeFormat":{"type":"string","enum":["YYYY-MM-DD, hh:mm A","DD.MM.YYYY, HH:mm","DD MMM YYYY, HH:mm","MMM DD, YYYY, hh:mm A"]},"maxInvites":{"type":["number","null"],"default":null},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","role","authId","name","email","wallet","smartAccountAddress","social","partner","locale","dateTimeFormat","maxInvites","createdAt","updatedAt"]},"EmptyResponse":{"type":"object"},"PageLimitParam":{"type":"string","default":"50"},"PageOffsetParam":{"type":"string","default":"0"},"UserWithBalanceList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/UserWithBalance"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"UserWithBalance":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"role":{"type":"string","enum":["user","partner","bd-manager"]},"authId":{"type":"string","format":"uuid"},"name":{"type":["string","null"]},"email":{"type":["string","null"],"default":null},"wallet":{"type":"string"},"smartAccountAddress":{"type":"string"},"social":{"type":"array","items":{"$ref":"#/components/schemas/UserSocial"}},"partner":{"type":["string","null"],"format":"uuid"},"locale":{"type":"string","enum":["en-US","ru-RU","es-ES","fr-FR","de-DE","it-IT","pt-BR","ja-JP","ko-KR","zh-CN","zh-TW","ar-SA","pt-PT","tr-TR","uk-UA"]},"dateTimeFormat":{"type":"string","enum":["YYYY-MM-DD, hh:mm A","DD.MM.YYYY, HH:mm","DD MMM YYYY, HH:mm","MMM DD, YYYY, hh:mm A"]},"maxInvites":{"type":["number","null"],"default":null},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"balance":{"type":"array","items":{"$ref":"#/components/schemas/RewardBalance"}},"weights":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["user"]},"target":{"type":"string","format":"uuid"},"eventType":{"type":"string"},"level":{"type":"number"},"weight":{"type":"number"}},"required":["id","type","target","eventType","level","weight"]}},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}}},"required":["id","role","authId","name","email","wallet","smartAccountAddress","social","partner","locale","dateTimeFormat","maxInvites","createdAt","updatedAt","balance","weights","links"]},"RewardBalance":{"type":"object","properties":{"type":{"type":"string"},"currency":{"type":"string"},"count":{"type":"number"},"balance":{"type":"number"}},"required":["type","currency","count","balance"]},"Link":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string","format":"uuid"},"type":{"type":"string"},"code":{"type":"string"},"name":{"type":"string"},"isDefault":{"type":"boolean","default":false},"welcomeMessage":{"type":["string","null"]},"benefitsDescription":{"type":["string","null"]},"image":{"type":["string","null"],"format":"uri"},"createdAt":{"type":"string"}},"required":["id","user","type","code","name","isDefault","welcomeMessage","benefitsDescription","image","createdAt"]},"CreateUser":{"type":"object","properties":{"wallet":{"type":"string","description":"Wallet address"},"name":{"type":["string","null"],"description":"User name"},"role":{"type":"string","enum":["user","partner","bd-manager"],"default":"user"},"email":{"type":["string","null"],"format":"email","description":"Contact email"},"social":{"type":["array","null"],"items":{"$ref":"#/components/schemas/UserSocial"},"description":"User social contacts"},"partner":{"type":["string","null"],"format":"uuid","description":"Partner ID"},"weight":{"type":["array","null"],"items":{"$ref":"#/components/schemas/UpdateUserWeightBody"}},"link":{"type":["array","null"],"items":{"$ref":"#/components/schemas/CreateLink"}}},"required":["wallet","name","email"]},"UpdateUserWeightBody":{"type":"object","properties":{"type":{"type":"string"},"level":{"type":"number"},"weight":{"type":"number"}},"required":["type","level","weight"]},"CreateLink":{"type":"object","properties":{"name":{"type":"string","description":"Link name"},"type":{"type":"string","description":"Link type"},"code":{"type":"string","description":"Unique code"},"calculator":{"type":"string","enum":["greedy","full","bd"],"description":"Reward calculation type"},"welcomeMessage":{"type":["string","null"],"description":"Invitation welcome message"},"benefitsDescription":{"type":["string","null"],"description":"Invitation benefits description"},"image":{"type":["string","null"],"format":"uri","description":"Invitation image URL"}},"required":["name","type","calculator"]},"UserInvites":{"type":"object","properties":{"invitesCount":{"type":"number"},"maxInvites":{"type":"number"},"invitesEarnings":{"type":"number"}},"required":["invitesCount","maxInvites","invitesEarnings"]},"InternalUser":{"allOf":[{"$ref":"#/components/schemas/User"}],"type":"object","properties":{"weights":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["user"]},"target":{"type":"string","format":"uuid"},"eventType":{"type":"string"},"level":{"type":"number"},"weight":{"type":"number"}},"required":["id","type","target","eventType","level","weight"]},"default":[]}},"required":["weights"]},"UserDataResponse":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/User"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}}},"required":["user","links"]},"TransactionListResponse":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"Transaction":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string","format":"uuid"},"amount":{"type":"number"},"currency":{"type":"string","enum":["usdt"]},"type":{"type":"string","enum":["all","income","withdrawal"]},"createdAt":{"type":"string"}},"required":["id","user","amount","currency","type","createdAt"]},"TradingVolumeReferralInfoResponse":{"type":"object","properties":{"tradingVolume":{"type":"string"}},"required":["tradingVolume"]},"CreateShortLink":{"type":"object","properties":{"name":{"type":"string","description":"Short link name"},"shortLinkCode":{"type":"string","description":"Unique code"},"destinationLink":{"type":"string","format":"uri","description":"Destination link"},"referralCode":{"type":"string","description":"Referral link code"}},"required":["name","shortLinkCode","destinationLink","referralCode"]},"ShortLink":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string","format":"uuid"},"referralCode":{"type":"string"},"name":{"type":"string"},"destinationLink":{"type":"string"},"shortLinkCode":{"type":"string"},"createdAt":{"type":"string"},"shortLinkPath":{"type":"string"}},"required":["id","user","referralCode","name","destinationLink","shortLinkCode","createdAt","shortLinkPath"]},"RewardList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/Reward"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"Reward":{"type":"object","properties":{"user":{"type":"string","format":"uuid"},"amount":{"type":"number"},"currency":{"type":"string"},"event":{"$ref":"#/components/schemas/RewardEvent"},"type":{"type":"string"},"createdAt":{"type":"string"}},"required":["user","amount","currency","event","type","createdAt"]},"RewardEvent":{"type":"object","properties":{"metadata":{},"weight":{"type":"number"},"currency":{"type":"string"}},"required":["weight","currency"]},"RewardChart":{"type":"array","items":{"$ref":"#/components/schemas/RewardChartPoint"}},"RewardChartPoint":{"type":"object","properties":{"date":{"type":"string"},"currency":{"type":"string"},"sum":{"type":"number"},"count":{"type":"number"}},"required":["date","currency","sum","count"]},"RewardBalanceList":{"type":"array","items":{"$ref":"#/components/schemas/RewardBalance"}},"UpdateLink":{"type":"object","properties":{"name":{"type":"string","description":"Link name"},"type":{"type":"string","description":"Link type"},"isDefault":{"type":"boolean","description":"Is link default?"}}},"UserInvitationPublicResponse":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"welcomeMessage":{"type":["string","null"]},"benefitsDescription":{"type":["string","null"]},"leaderboardName":{"type":["string","null"]},"competitionDescription":{"type":["string","null"]},"referralMessage":{"type":["string","null"]},"image":{"type":["string","null"],"format":"uri"}},"required":["code","name","welcomeMessage","benefitsDescription","leaderboardName","competitionDescription","referralMessage","image"]},"LinkRewardBalanceList":{"type":"array","items":{"$ref":"#/components/schemas/LinkRewardBalance"}},"LinkRewardBalance":{"type":"object","properties":{"code":{"type":"string"},"type":{"type":"string"},"currency":{"type":"string"},"count":{"type":"number"},"balance":{"type":"number"}},"required":["code","type","currency","count","balance"]},"UserInvitationUpdateBody":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128,"description":"Invitation title displayed on landing"},"welcomeMessage":{"type":["string","null"],"maxLength":2048,"description":"Short welcome message for invitees"},"benefitsDescription":{"type":["string","null"],"maxLength":2048,"description":"Detailed description of benefits for invitees"},"leaderboardName":{"type":["string","null"],"maxLength":128,"description":"Personal leaderboard title"},"competitionDescription":{"type":["string","null"],"maxLength":2048,"description":"Description of the personal competition"},"referralMessage":{"type":["string","null"],"maxLength":2048,"description":"Personal message shown to referrals under the avatar"},"image":{"type":"string","format":"uri","description":"Image url"}}},"UserInvitationResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":"string","format":"uuid"},"name":{"type":"string"},"welcomeMessage":{"type":["string","null"]},"benefitsDescription":{"type":["string","null"]},"leaderboardName":{"type":["string","null"]},"competitionDescription":{"type":["string","null"]},"referralMessage":{"type":["string","null"]},"image":{"type":["string","null"],"format":"uri"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","user","name","welcomeMessage","benefitsDescription","leaderboardName","competitionDescription","referralMessage","image","createdAt","updatedAt"]},"UserInvitationCreateBody":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128,"description":"Invitation title displayed on landing"},"welcomeMessage":{"type":["string","null"],"maxLength":2048,"description":"Short welcome message for invitees"},"benefitsDescription":{"type":["string","null"],"maxLength":2048,"description":"Detailed description of benefits for invitees"},"leaderboardName":{"type":["string","null"],"maxLength":128,"description":"Personal leaderboard title"},"competitionDescription":{"type":["string","null"],"maxLength":2048,"description":"Description of the personal competition"},"referralMessage":{"type":["string","null"],"maxLength":2048,"description":"Personal message shown to referrals under the avatar"},"image":{"type":"string","format":"uri","description":"Image url"}},"required":["name"]},"EventList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/Event"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"Event":{"type":"object","properties":{"link":{"oneOf":[{"$ref":"#/components/schemas/Link"},{"type":"null"}]},"code":{"type":"string"},"type":{"type":"string"},"weight":{"type":"number"},"currency":{"type":"string"},"emitAt":{"type":"string"},"metadata":{}},"required":["link","code","type","weight","currency","emitAt"]},"ReferralInfoResponse":{"type":"object","properties":{"averagetDeposit":{"type":"string"},"count":{"type":"number"}},"required":["averagetDeposit","count"]},"ContactResponse":{"type":["object","null"],"properties":{"name":{"type":"string"},"email":{"type":"string"},"social":{"type":"array","items":{"$ref":"#/components/schemas/UserSocial"}}},"required":["name","email","social"]},"UserWithTagsList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/UserWithTags"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"UserWithTags":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"wallet":{"type":"string"},"email":{"type":["string","null"]},"referralCount":{"type":"number"},"totalReferralDepositsVolume":{"type":"number"},"totalReferralTradingVolume":{"type":"number"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/Tag"}}},"required":["id","wallet","email","referralCount","totalReferralDepositsVolume","totalReferralTradingVolume","tags"]},"Tag":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","createdAt","updatedAt"]},"UpdateTagBody":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128}},"required":["name"]},"TagResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","createdAt","updatedAt"]},"AssignTagsBody":{"type":"object","properties":{"tagIds":{"type":"array","items":{"type":"string","format":"uuid"},"minItems":1}},"required":["tagIds"]},"TagList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/Tag"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"CreateTagBody":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128}},"required":["name"]},"AssignTagsResponse":{"type":"object","properties":{"tags":{"type":"array","items":{"$ref":"#/components/schemas/Tag"}}},"required":["tags"]},"UserStatisticsChartResponse":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"signupVolume":{"type":"number"},"tradingVolume":{"type":"number"},"depositVolume":{"type":"number"},"rewardVolume":{"type":"number"}},"required":["date","signupVolume","tradingVolume","depositVolume","rewardVolume"]}},"UpdateShareContentBody":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128},"socialType":{"type":"string","enum":["telegramCommunity","telegram","youtube","instagram","facebook","twitter","discord","other"]},"content":{"$ref":"#/components/schemas/ShareContentTexts"},"images":{"$ref":"#/components/schemas/ShareContentImages"}}},"ShareContentTexts":{"type":"object","properties":{"en-US":{"$ref":"#/components/schemas/ShareContentText"},"ru-RU":{"$ref":"#/components/schemas/ShareContentText"},"es-ES":{"$ref":"#/components/schemas/ShareContentText"},"fr-FR":{"$ref":"#/components/schemas/ShareContentText"},"de-DE":{"$ref":"#/components/schemas/ShareContentText"},"it-IT":{"$ref":"#/components/schemas/ShareContentText"},"pt-BR":{"$ref":"#/components/schemas/ShareContentText"},"ja-JP":{"$ref":"#/components/schemas/ShareContentText"},"ko-KR":{"$ref":"#/components/schemas/ShareContentText"},"zh-CN":{"$ref":"#/components/schemas/ShareContentText"},"zh-TW":{"$ref":"#/components/schemas/ShareContentText"},"ar-SA":{"$ref":"#/components/schemas/ShareContentText"},"pt-PT":{"$ref":"#/components/schemas/ShareContentText"},"tr-TR":{"$ref":"#/components/schemas/ShareContentText"},"uk-UA":{"$ref":"#/components/schemas/ShareContentText"}},"additionalProperties":false},"ShareContentText":{"type":"object","properties":{"title":{"type":"string"},"body":{"type":"string"}},"required":["title","body"]},"ShareContentImages":{"type":"object","properties":{"vertical":{"type":"string","format":"uri"},"horizontal":{"type":"string","format":"uri"},"square":{"type":"string","format":"uri"}}},"ShareContentResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"socialType":{"type":"string","enum":["telegramCommunity","telegram","youtube","instagram","facebook","twitter","discord","other"]},"content":{"$ref":"#/components/schemas/ShareContentTexts"},"images":{"$ref":"#/components/schemas/ShareContentImages"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","socialType","content","images","createdAt","updatedAt"]},"ShareContentList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/ShareContent"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"ShareContent":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"socialType":{"type":"string","enum":["telegramCommunity","telegram","youtube","instagram","facebook","twitter","discord","other"]},"content":{"$ref":"#/components/schemas/ShareContentTexts"},"images":{"$ref":"#/components/schemas/ShareContentImages"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","socialType","content","images","createdAt","updatedAt"]},"CreateShareContentBody":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128},"socialType":{"type":"string","enum":["telegramCommunity","telegram","youtube","instagram","facebook","twitter","discord","other"]},"content":{"allOf":[{"$ref":"#/components/schemas/ShareContentTexts"},{"default":{}}]},"images":{"allOf":[{"$ref":"#/components/schemas/ShareContentImages"},{"default":{}}]}},"required":["name","socialType"]},"RegRequest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"user":{"type":["string","null"],"format":"uuid"},"wallet":{"type":"string"},"name":{"type":"string"},"email":{"type":"string","format":"email"},"social":{"type":"array","items":{"$ref":"#/components/schemas/UserSocial"}},"status":{"type":"string","enum":["pending","approved","rejected"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","user","wallet","name","email","social","status","createdAt","updatedAt"]},"RegRequestList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/RegRequest"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"CreateRegRequestBody":{"type":"object","properties":{"wallet":{"type":"string","description":"Wallet address"},"name":{"type":"string","description":"User name"},"email":{"type":"string","format":"email","description":"Contact email"},"social":{"type":"array","items":{"$ref":"#/components/schemas/UserSocial"},"description":"User social contacts"},"code":{"type":["string","null"],"description":"Referral code"}},"required":["wallet","name","email","social"]},"RegRequestApproveBody":{"type":"object","properties":{"weight":{"type":["array","null"],"items":{"$ref":"#/components/schemas/UpdateUserWeightBody"}},"link":{"type":["array","null"],"items":{"$ref":"#/components/schemas/CreateLink"}}}},"ReferrallList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/ReferralResponseObject"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"ReferralResponseObject":{"type":"object","properties":{"smartAccountAddress":{"type":"string"},"code":{"type":"string"},"firstDeposit":{"oneOf":[{"$ref":"#/components/schemas/FirstDepositObject"},{"type":"null"}],"default":null},"createdAt":{"type":"string"}},"required":["smartAccountAddress","code","firstDeposit","createdAt"]},"FirstDepositObject":{"type":"object","properties":{"currency":{"type":"string","enum":["usdt"]},"createdAt":{"type":"string"},"amount":{"type":"number"}},"required":["currency","createdAt","amount"]},"PartnerlList":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/PartnerResponseObject"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"PartnerResponseObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":["string","null"]},"email":{"type":["string","null"],"format":"email"},"wallet":{"type":"string"},"balance":{"type":"array","items":{"$ref":"#/components/schemas/RewardBalance"}},"weights":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"type":{"type":"string","enum":["user"]},"target":{"type":"string","format":"uuid"},"eventType":{"type":"string"},"level":{"type":"number"},"weight":{"type":"number"}},"required":["id","type","target","eventType","level","weight"]}},"tradingVolume":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","email","wallet","balance","weights","tradingVolume","createdAt","updatedAt"]},"LinksByCodesBody":{"type":"object","properties":{"codes":{"type":"array","items":{"type":"string"},"description":"Array of link codes"}},"required":["codes"]},"LinkOwnerInfoList":{"type":"array","items":{"$ref":"#/components/schemas/LinkOwnerInfo"}},"LinkOwnerInfo":{"type":"object","properties":{"code":{"type":"string"},"authId":{"type":"string"},"wallet":{"type":"string"},"smartAccountAddress":{"type":"string"}},"required":["code","authId","wallet","smartAccountAddress"]},"LinkInvitationPublicResponse":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"welcomeMessage":{"type":["string","null"]},"benefitsDescription":{"type":["string","null"]},"image":{"type":["string","null"],"format":"uri"}},"required":["code","name","welcomeMessage","benefitsDescription","image"]},"UploadUrlGeneratorRequest":{"type":"object","properties":{"name":{"type":"string"},"mime":{"type":"string","enum":["image/jpeg","image/png","image/webp","image/avif","image/svg+xml"]}},"required":["name","mime"]},"UploadUrlGeneratorResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"url":{"type":"string","format":"uri"}},"required":["id","name","url"]},"UploadResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"mime":{"type":"string"},"size":{"type":"number"},"url":{"anyOf":[{"type":"string","format":"uri"},{"type":"string","const":""}]},"error":{"anyOf":[{"type":"string"},{"type":"string","const":""}]},"createdAt":{"type":"string"}},"required":["id","name","mime","size","url","error","createdAt"]},"CreateEventBulk":{"type":"array","items":{"$ref":"#/components/schemas/CreateEvent"}},"CreateEvent":{"type":"object","properties":{"id":{"type":["string","null"],"description":"Unique event ID"},"codeType":{"type":"string","enum":["wallet","link"],"description":"Code type"},"code":{"type":"string","description":"Code"},"weight":{"type":"number","description":"Weight of event"},"currency":{"type":"string","description":"Weight currency"},"type":{"type":"string","description":"Event type"},"metadata":{"default":{},"description":"Event metadata"},"emitAt":{"type":["number","null"],"description":"Event emit date (timestamp)"}},"required":["code","weight","currency","type"]},"StatisticsVolumesResponse":{"type":"object","properties":{"tradingVolume":{"type":"number"},"firstDepositVolume":{"type":"number"},"firstDepositCount":{"type":"number"},"signupCount":{"type":"number"},"depositCount":{"type":"number"},"totalDepositVolume":{"type":"number"}},"required":["tradingVolume","firstDepositVolume","firstDepositCount","signupCount","depositCount","totalDepositVolume"]},"UserStatisticsListResponse":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/UserStatisticsResponse"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"UserStatisticsResponse":{"type":"object","properties":{"signupCount":{"type":"number"}},"required":["signupCount"]},"StatisticsListResponse":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/StatisticsResponse"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]},"StatisticsResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":["string","null"],"default":null},"email":{"type":["string","null"],"default":null},"wallet":{"type":"string"},"usersCount":{"type":"number"},"linksCount":{"type":"number"},"signupCount":{"type":"number"},"tags":{"type":"array","items":{"type":"string"},"default":[]},"tradingVolume":{"type":"number","default":0},"depositVolume":{"type":"number","default":0},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","email","wallet","usersCount","linksCount","signupCount","tags","tradingVolume","depositVolume","createdAt","updatedAt"]},"StatisticsDetailsResponse":{"type":"object","properties":{"id":{"type":"string"},"totalSignupCount":{"type":"integer"},"links":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"isDeleted":{"type":"boolean"},"signupCount":{"type":"number"}},"required":["code","isDeleted","signupCount"]}}},"required":["id","totalSignupCount","links"]}}}}