{"openapi":"3.1.0","servers":[{"url":"https://bridge-middleware-api.evedex.com"}],"info":{"title":"EVEDEX - Bridge-middleware","version":"1.0.0"},"paths":{"/api/ping":{"get":{"tags":["System"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PingResponse"}}}}}}},"/api/webhook/quick-node/transfer/{network}":{"post":{"tags":["WebHook"],"security":[{"ExternalKey":[]}],"parameters":[{"in":"path","name":"network","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickNodeStreamEventListBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/webhook/elliptic/alert":{"post":{"tags":["WebHook"],"security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EllipticWebhookBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/wallet":{"get":{"tags":["Wallet"],"security":[{"InternalKey":[]}],"parameters":[{"in":"query","name":"authId","description":"User auth ID","schema":{"type":"string","format":"uuid","description":"User auth ID"}},{"in":"query","name":"depositors","description":"Depositor contract addresses","schema":{"type":"array","items":{"type":"string"},"maxItems":250,"description":"Depositor contract addresses"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/WalletObject"}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}},"post":{"tags":["Wallet"],"security":[{"InternalKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletCreateBody"}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletCreateResponse"}}}}}}},"/api/transfer/settings":{"put":{"tags":["Transfer"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"comment":{"type":["string","null"]}},"required":["isEnabled","comment"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"comment":{"type":["string","null"]}},"required":["isEnabled","comment"]}}}}}},"get":{"tags":["Transfer"],"security":[{"AccessToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"isEnabled":{"type":"boolean"},"comment":{"type":["string","null"]}},"required":["isEnabled","comment"]}}}}}}},"/api/transfer/refund":{"post":{"tags":["Transfer"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"transferId":{"type":"string","format":"uuid"},"comment":{"type":["string","null"]}},"required":["transferId"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/transfer":{"get":{"tags":["Transfer"],"security":[{"AccessToken":[]}],"parameters":[{"in":"query","name":"authId","schema":{"type":"string","format":"uuid"}},{"in":"query","name":"smartAccount","schema":{"type":"string"}},{"in":"query","name":"search","schema":{"type":"string"}},{"in":"query","name":"after","schema":{"type":["string","null"]}},{"in":"query","name":"before","schema":{"type":["string","null"]}},{"in":"query","name":"network","schema":{"type":"string"}},{"in":"query","name":"depositStatus","schema":{"anyOf":[{"type":"string","enum":["pending","detained","process","done","refunded","error"]},{"type":"array","items":{"type":"string","enum":["pending","detained","process","done","refunded","error"]}}]}},{"in":"query","name":"amlStatus","schema":{"anyOf":[{"type":"string","enum":["blocked","pending","process","skip","green","red","refund","manual-red","manual-green"]},{"type":"array","items":{"type":"string","enum":["blocked","pending","process","skip","green","red","refund","manual-red","manual-green"]}}]}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"authId":{"type":["string","null"],"format":"uuid"},"network":{"type":"string"},"sourceNetwork":{"type":"string"},"destinationNetwork":{"type":["string","null"]},"wallet":{"type":"string"},"depositor":{"type":"string"},"from":{"type":"string"},"transactionHash":{"type":"string"},"sourceTransactionHash":{"type":"string"},"originToken":{"type":"string"},"originAmount":{"type":"string"},"originAmountUsdt":{"type":"string"},"token":{"type":"string"},"amount":{"type":["string","null"]},"depositStatus":{"type":"string","enum":["pending","detained","process","done","refunded","error"]},"amlStatus":{"type":"string","enum":["blocked","pending","process","skip","green","red","refund","manual-red","manual-green"]},"amlCheckUser":{"type":["string","null"]},"amlCheckComment":{"type":"string"},"amlCheckAt":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"walletPaused":{"type":"boolean"}},"required":["id","authId","network","sourceNetwork","destinationNetwork","wallet","depositor","from","transactionHash","sourceTransactionHash","originToken","originAmount","originAmountUsdt","token","amount","depositStatus","amlStatus","amlCheckUser","amlCheckComment","amlCheckAt","createdAt","updatedAt","walletPaused"]}},"count":{"type":"number"},"next":{"type":"string"}},"required":["list","count"]}}}}}}},"/api/transfer/aml/unlock":{"post":{"tags":["Transfer"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"transferId":{"type":"string","format":"uuid"},"comment":{"type":["string","null"]}},"required":["transferId"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/transfer/aml/allow-future-deposits":{"post":{"tags":["Transfer"],"security":[{"AccessToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"authId":{"type":"string","format":"uuid"},"comment":{"type":["string","null"]}},"required":["authId"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyResponse"}}}}}}},"/api/rhino-deposit-address":{"get":{"tags":["Rhino"],"security":[{"InternalKey":[]}],"parameters":[{"in":"query","name":"rhinoSourceChainId","description":"RhinoChainId","schema":{"type":"string","enum":["728126428","1","10","56","137","42161","8453","TON","900"],"description":"RhinoChainId"},"required":true},{"in":"query","name":"destinationChainId","description":"RhinoChainId","schema":{"type":"string","enum":["728126428","1","10","56","137","42161","8453","TON","900"],"description":"RhinoChainId"},"required":true},{"in":"query","name":"depositorAddress","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"sourceChainId":{"type":"string"},"sourceAddress":{"type":"string"},"destinationChainId":{"type":"string"},"destinationAddress":{"type":"string"},"supportedTokens":{"type":"array","items":{"type":"object","properties":{"symbol":{"type":"string"},"address":{"type":"string"},"maxDepositLimitUsd":{"type":"number"},"minDepositLimitUsd":{"type":"number"}},"required":["symbol","address","maxDepositLimitUsd","minDepositLimitUsd"]}}},"required":["sourceChainId","sourceAddress","destinationChainId","destinationAddress","supportedTokens"]}}}}}}}},"components":{"securitySchemes":{"AccessToken":{"type":"http","scheme":"bearer"},"InternalKey":{"type":"http","scheme":"bearer"},"ExternalKey":{"type":"http","scheme":"bearer"}},"schemas":{"PingResponse":{"type":"object","properties":{"time":{"type":"number","description":"Current timestamp"}},"required":["time"],"description":"Ping response"},"QuickNodeStreamEventListBody":{"type":"object","properties":{"events":{"type":"array","items":{"$ref":"#/components/schemas/QuickNodeStreamEvent"}}},"required":["events"]},"QuickNodeStreamEvent":{"type":"object","properties":{"type":{"type":"string","enum":["erc20","eth","eth_internal"]},"token":{"type":"string"},"from":{"type":"string"},"to":{"type":"string"},"value":{"type":"string"},"txHash":{"type":"string"},"blockNumber":{"type":"string"},"logIndex":{"type":"string"}},"required":["type","from","to","value","txHash","blockNumber"]},"EmptyResponse":{"type":"object"},"EllipticWebhookBody":{"type":"object","properties":{"data":{"type":"object","properties":{"analysis":{"type":"object","properties":{"id":{"type":"string"},"screening_id":{"type":"string"},"type":{"type":"string"},"subject":{"type":"object","properties":{"blockchain":{"type":"string"},"asset":{"type":"string"},"type":{"type":"string"},"hash":{"type":"string"}}},"customer":{"type":"object","properties":{"id":{"type":["string","null"]},"reference":{"type":"string"}}},"analysed_at":{"type":"string"},"created_at":{"type":"string"},"risk_score":{"type":["number","null"]},"evaluation_detail":{},"changes":{"type":"object","properties":{"risk_score_change":{"type":"number"}}},"analysis_url":{"type":"string"}}},"analysis_url":{"type":"string"}}},"event":{"type":"object","properties":{"id":{"type":"string"},"time":{"type":"string"},"type":{"type":"string"}}}}},"WalletObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"authId":{"type":"string","format":"uuid"},"network":{"type":"string","description":"Chain ID"},"owner":{"type":"string","description":"Owner wallet address"},"wallet":{"type":"string","description":"Recipient smart account address"},"depositor":{"type":"string","description":"Depositor contract address"},"version":{"type":"number"},"deployStatus":{"type":"string","enum":["pending","process","deploying","done"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","authId","network","owner","wallet","depositor","version","deployStatus","createdAt","updatedAt"]},"WalletCreateBody":{"type":"object","properties":{"network":{"anyOf":[{"type":"string"},{"type":"integer"}],"description":"Parent network ID"},"authId":{"type":"string","description":"User auth ID"},"owner":{"type":"string","description":"Bridge middleware owner wallet address"},"wallet":{"type":"string","description":"Recipient smart account address"}},"required":["network","authId","owner","wallet"]},"WalletCreateResponse":{"type":"object","properties":{"depositor":{"type":"string"},"version":{"type":"number"}},"required":["depositor","version"]},"PageLimitParam":{"type":"string","default":"50"},"PageOffsetParam":{"type":"string","default":"0"}}}}