{"openapi":"3.1.0","servers":[{"url":"https://ai-strategies-api.evedex.com"}],"info":{"title":"EVEDEX - AI-Strategies","version":"1.0.0"},"paths":{"/api/ping":{"get":{"tags":["System"],"security":[],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PingResponse"}}}}}}},"/api/user/strategy":{"put":{"tags":["Strategy"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"strategyId":{"type":"integer","exclusiveMinimum":0},"initial_deposit":{"type":"string"},"evedexUserId":{"type":"string","minLength":1}},"required":["strategyId","initial_deposit","evedexUserId"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"user_id":{"type":"number"},"pair_id":{"type":"number"},"strategy_id":{"type":"number"},"initial_deposit":{"type":"string"},"realized_pnl":{"type":"string"},"current_balance":{"type":"string"},"is_active":{"type":"boolean"},"activated_at":{"type":["string","null"]},"created_at":{"type":"string"},"updated_at":{"type":"string"},"bias":{"type":"string","enum":["long","short","neutral"]},"reinvest_earnings":{"type":"boolean"},"risk_percent":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]},"timeframe":{"type":"string","enum":["1m","3m","5m","15m"]}},"required":["id","user_id","pair_id","strategy_id","initial_deposit","realized_pnl","is_active","activated_at","created_at","updated_at","bias","reinvest_earnings","risk_percent","timeframe"]}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"451":{"description":"451 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Strategy"],"security":[{"InternalToken":[]}],"parameters":[{"in":"query","name":"strategyId","schema":{"type":"integer","exclusiveMinimum":0},"required":true},{"in":"query","name":"evedexUserId","schema":{"type":"string","minLength":1},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"api_key":{"type":"string","minLength":1}},"required":["id","api_key"]}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"451":{"description":"451 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"get":{"tags":["Strategy"],"security":[{"InternalToken":[]}],"parameters":[{"in":"query","name":"evedex_id","schema":{"type":"string","minLength":1},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"user_id":{"type":"number"},"pair_id":{"type":"number"},"strategy_id":{"type":"number"},"initial_deposit":{"type":"string"},"realized_pnl":{"type":"string"},"current_balance":{"type":"string"},"is_active":{"type":"boolean"},"activated_at":{"type":["string","null"]},"created_at":{"type":"string"},"updated_at":{"type":"string"},"bias":{"type":"string","enum":["long","short","neutral"]},"reinvest_earnings":{"type":"boolean"},"risk_percent":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]},"timeframe":{"type":"string","enum":["1m","3m","5m","15m"]}},"required":["id","user_id","pair_id","strategy_id","initial_deposit","realized_pnl","is_active","activated_at","created_at","updated_at","bias","reinvest_earnings","risk_percent","timeframe"]}}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"451":{"description":"451 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["Strategy"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"strategyId":{"type":"integer","exclusiveMinimum":0},"initial_deposit":{"type":"string"},"evedexUserId":{"type":"string","minLength":1},"api_key":{"type":"string","minLength":1},"private_key":{"type":"string","minLength":1}},"required":["strategyId","initial_deposit","evedexUserId","api_key","private_key"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"user_id":{"type":"number"},"pair_id":{"type":"number"},"strategy_id":{"type":"number"},"initial_deposit":{"type":"string"},"realized_pnl":{"type":"string"},"current_balance":{"type":"string"},"is_active":{"type":"boolean"},"activated_at":{"type":["string","null"]},"created_at":{"type":"string"},"updated_at":{"type":"string"},"bias":{"type":"string","enum":["long","short","neutral"]},"reinvest_earnings":{"type":"boolean"},"risk_percent":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]},"timeframe":{"type":"string","enum":["1m","3m","5m","15m"]}},"required":["id","user_id","pair_id","strategy_id","initial_deposit","realized_pnl","is_active","activated_at","created_at","updated_at","bias","reinvest_earnings","risk_percent","timeframe"]}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"451":{"description":"451 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/strategy/pairs":{"get":{"tags":["Strategy"],"security":[{"InternalToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"pair":{"type":"object","properties":{"id":{"type":"number"},"base_coin":{"type":"string"},"quote_coin":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["id","base_coin","quote_coin","created_at","updated_at"]},"strategy":{"type":"object","properties":{"id":{"type":"number"},"pair_id":{"type":"number"},"ticker":{"type":"string"},"timeframe":{"type":"string","enum":["1m","3m","5m","15m"]},"instrument":{"type":["string","null"]},"risk_percent":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]},"bias":{"type":"string","enum":["long","short","neutral"]},"reinvest_earnings":{"type":"boolean"},"max_deviation":{"type":"string"},"out_of_deviation":{"type":"string"},"period":{"type":"number"},"rr_ratio":{"type":"string"},"avg_sl":{"type":"string"},"leverage":{"type":"number"},"is_active":{"type":"boolean"},"total_pnl_percent":{"type":"string"},"pnl_7d_percent":{"type":"string"},"apy_percent":{"type":"string"},"trades_7d":{"type":"string","default":"0"},"trades_365d":{"type":"string","default":"0"},"trade_number_from":{"type":"string","default":"0"},"trade_number_to":{"type":"string","default":"0"},"base_coin":{"type":"string"},"quote_coin":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["id","pair_id","ticker","timeframe","instrument","risk_percent","bias","reinvest_earnings","max_deviation","out_of_deviation","period","rr_ratio","avg_sl","leverage","is_active","total_pnl_percent","pnl_7d_percent","apy_percent","trades_7d","trades_365d","trade_number_from","trade_number_to","base_coin","quote_coin","created_at","updated_at"]},"totalSum":{"type":"string"},"totalLimit":{"type":["string","null"]}},"required":["pair","strategy","totalSum","totalLimit"]}}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"451":{"description":"451 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/strategy/best":{"get":{"tags":["Strategy"],"security":[{"InternalToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"pair_id":{"type":"number"},"ticker":{"type":"string"},"timeframe":{"type":"string","enum":["1m","3m","5m","15m"]},"instrument":{"type":["string","null"]},"risk_percent":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]},"bias":{"type":"string","enum":["long","short","neutral"]},"reinvest_earnings":{"type":"boolean"},"max_deviation":{"type":"string"},"out_of_deviation":{"type":"string"},"period":{"type":"number"},"rr_ratio":{"type":"string"},"avg_sl":{"type":"string"},"leverage":{"type":"number"},"is_active":{"type":"boolean"},"total_pnl_percent":{"type":"string"},"pnl_7d_percent":{"type":"string"},"apy_percent":{"type":"string"},"trades_7d":{"type":"string","default":"0"},"trades_365d":{"type":"string","default":"0"},"trade_number_from":{"type":"string","default":"0"},"trade_number_to":{"type":"string","default":"0"},"base_coin":{"type":"string"},"quote_coin":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["id","pair_id","ticker","timeframe","instrument","risk_percent","bias","reinvest_earnings","max_deviation","out_of_deviation","period","rr_ratio","avg_sl","leverage","is_active","total_pnl_percent","pnl_7d_percent","apy_percent","trades_7d","trades_365d","trade_number_from","trade_number_to","base_coin","quote_coin","created_at","updated_at"]}}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"451":{"description":"451 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/strategy":{"get":{"tags":["Strategy"],"security":[{"InternalToken":[]}],"parameters":[{"in":"query","name":"pair_id","schema":{"type":"integer","exclusiveMinimum":0}},{"in":"query","name":"timeframe","schema":{"type":"string","enum":["1m","3m","5m","15m"]}},{"in":"query","name":"bias","schema":{"type":"string","enum":["long","short","neutral"]}},{"in":"query","name":"risk_percent","schema":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]}},{"in":"query","name":"reinvest_earnings","schema":{"type":"string","enum":["yes","no"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"pair_id":{"type":"number"},"ticker":{"type":"string"},"timeframe":{"type":"string","enum":["1m","3m","5m","15m"]},"instrument":{"type":["string","null"]},"risk_percent":{"type":"string","enum":["0.50","1.00","2.00","3.00","5.00"]},"bias":{"type":"string","enum":["long","short","neutral"]},"reinvest_earnings":{"type":"boolean"},"max_deviation":{"type":"string"},"out_of_deviation":{"type":"string"},"period":{"type":"number"},"rr_ratio":{"type":"string"},"avg_sl":{"type":"string"},"leverage":{"type":"number"},"is_active":{"type":"boolean"},"total_pnl_percent":{"type":"string"},"pnl_7d_percent":{"type":"string"},"apy_percent":{"type":"string"},"trades_7d":{"type":"string","default":"0"},"trades_365d":{"type":"string","default":"0"},"trade_number_from":{"type":"string","default":"0"},"trade_number_to":{"type":"string","default":"0"},"base_coin":{"type":"string"},"quote_coin":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["id","pair_id","ticker","timeframe","instrument","risk_percent","bias","reinvest_earnings","max_deviation","out_of_deviation","period","rr_ratio","avg_sl","leverage","is_active","total_pnl_percent","pnl_7d_percent","apy_percent","trades_7d","trades_365d","trade_number_from","trade_number_to","base_coin","quote_coin","created_at","updated_at"]}}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"404 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"451":{"description":"451 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/position":{"get":{"tags":["Position"],"security":[{"InternalToken":[]}],"parameters":[{"in":"query","name":"evedexUserId","schema":{"type":"string"},"required":true},{"in":"query","name":"side","schema":{"type":["string","null"],"enum":["Buy","Sell"]}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"user":{"type":"string"},"instrument":{"type":"string"},"side":{"type":"string","enum":["Buy","Sell"]},"quantity":{"type":"string"},"avgPrice":{"type":"string"},"leverage":{"type":"number"},"maintenanceMargin":{"type":"string"},"unRealizedPnL":{"type":"string"},"adlLevel":{"type":"string"},"fee":{"type":"string"},"fundingRate":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","user","instrument","side","quantity","avgPrice","leverage","maintenanceMargin","unRealizedPnL","adlLevel","fee","fundingRate","createdAt","updatedAt"]}}},"required":["list"]}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"451":{"description":"451 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/position/open":{"post":{"tags":["Order"],"security":[{"InternalToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"userId":{"type":"integer","exclusiveMinimum":0},"subscribeId":{"type":"integer","exclusiveMinimum":0},"instrument":{"type":"string","minLength":3},"side":{"type":"string","enum":["Buy","Sell"]},"quantity":{"type":"number","exclusiveMinimum":0},"cashQuantity":{"type":"number","exclusiveMinimum":0},"leverage":{"type":"number","exclusiveMinimum":0,"maximum":1000},"takeProfit":{"type":"number","exclusiveMinimum":0},"stopLoss":{"type":"number","exclusiveMinimum":0},"tif":{"type":"string","enum":["FOK","IOC"],"default":"IOC"}},"required":["userId","subscribeId","instrument","side","quantity","cashQuantity","leverage","takeProfit","stopLoss"]}}}},"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"market":{"type":"object","properties":{"id":{"type":"string"},"instrument":{"type":"string"},"side":{"type":"string","enum":["BUY","SELL"]},"cashQuantity":{"type":"string"},"leverage":{"type":"number"},"timeInForce":{"type":"string","enum":["FOK","IOC"]},"tpsl":{"type":["array","null"],"items":{"type":"object","properties":{"type":{"type":"string","enum":["take-profit","stop-loss"]},"side":{"type":"string","enum":["BUY","SELL"]},"quantity":{"type":"string"},"price":{"type":"string"}},"required":["type","side","quantity","price"]}},"chainId":{"type":"string"},"signature":{"type":"string"}},"required":["id","instrument","side","cashQuantity","leverage","timeInForce","chainId","signature"]}},"required":["ok","market"]}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"451":{"description":"451 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/order":{"get":{"tags":["Order"],"security":[{"InternalToken":[]}],"parameters":[{"in":"query","name":"evedexUserId","schema":{"type":"string"},"required":true},{"in":"query","name":"subscribeId","schema":{"type":"string"}},{"in":"query","name":"pairId","schema":{"type":"string"}},{"in":"query","name":"after","schema":{"type":"string"}},{"in":"query","name":"before","schema":{"type":"string"}},{"in":"query","name":"limit","schema":{"$ref":"#/components/schemas/PageLimitParam"}},{"in":"query","name":"offset","schema":{"$ref":"#/components/schemas/PageOffsetParam"}}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"evedexId":{"type":"string"},"instrument":{"type":"string"},"side":{"type":"string","enum":["BUY","SELL"]},"cashQuantity":{"type":"string"},"leverage":{"type":"number"},"timeInForce":{"type":"string","enum":["FOK","IOC"]},"status":{"type":"string","enum":["INTENTION","NEW","PARTIALLY_FILLED","FILLED","CANCELLED","REJECTED","EXPIRED","REPLACED","ERROR"]},"realizedPnl":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","evedexId","instrument","side","cashQuantity","leverage","timeInForce","status","realizedPnl","createdAt","updatedAt"]}},"count":{"type":"number"}},"required":["list","count"]}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"451":{"description":"451 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/price/{inst}":{"get":{"tags":["Market"],"security":[{"InternalToken":[]}],"parameters":[{"in":"path","name":"inst","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"markPrice":{"type":"number"},"lastPrice":{"type":"number"}},"required":["ok","markPrice","lastPrice"]}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"451":{"description":"451 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/api/instrument":{"get":{"tags":["Market"],"security":[{"InternalToken":[]}],"responses":{"200":{"description":"200 OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"list":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"displayName":{"type":"string"},"from":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"image":{"type":["string","null"],"format":"uri"},"precision":{"type":"number"},"showPrecision":{"type":"number"},"createdAt":{"type":"string"}},"required":["id","name","symbol","image","precision","showPrecision","createdAt"]},"to":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"symbol":{"type":"string"},"image":{"type":["string","null"],"format":"uri"},"precision":{"type":"number"},"showPrecision":{"type":"number"},"createdAt":{"type":"string"}},"required":["id","name","symbol","image","precision","showPrecision","createdAt"]},"maxLeverage":{"type":"integer"},"leverageLimit":{"type":"object","additionalProperties":{"type":"number"}},"lotSize":{"type":"number"},"quantityIncrement":{"type":"number"},"priceIncrement":{"type":"number"},"multiplier":{"type":"number"},"minPrice":{"type":"number"},"maxPrice":{"type":"number"},"minQuantity":{"type":"number"},"maxQuantity":{"type":"number"},"slippageLimit":{"type":"number"},"lastPrice":{"type":"number"},"markPrice":{"type":"number"},"fatFingerPriceProtection":{"type":"number"},"markPriceLimit":{"type":"number"},"visibility":{"type":"string","enum":["all","restricted","none"]},"trading":{"type":"string","enum":["all","restricted","none","onlyClose","marketMakerOnly"]},"marketState":{"type":"string","enum":["INHERITED","OPEN","CLOSED","PAUSED","HALTED","PRE_OPEN_NO_CANCEL","PRE_OPEN"]},"updatedAt":{"type":"string"},"startDate":{"type":["string","null"]},"isPopular":{"type":"boolean"}},"required":["id","name","displayName","from","to","maxLeverage","leverageLimit","lotSize","quantityIncrement","priceIncrement","multiplier","minPrice","maxPrice","minQuantity","maxQuantity","slippageLimit","lastPrice","markPrice","fatFingerPriceProtection","markPriceLimit","visibility","trading","marketState","updatedAt","startDate","isPopular"]}}},"required":["ok","list"]}}}},"400":{"description":"400 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"401 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"403 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"451":{"description":"451 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"500 Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"securitySchemes":{"InternalToken":{"type":"http","scheme":"bearer"}},"schemas":{"PingResponse":{"type":"object","properties":{"time":{"type":"number","description":"Current timestamp"}},"required":["time"],"description":"Ping response"},"ErrorResponse":{"type":"object","properties":{"message":{"type":"string","description":"Error message"}},"required":["message"],"description":"Error response"},"PageLimitParam":{"type":"string","default":"50"},"PageOffsetParam":{"type":"string","default":"0"}}}}